@import model.DigitalEdition.UK
@import model.promoCodes._
@import services.FlashSale._

@(promoCodes: Map[PromoCodeKey, String], includeEditionInUrl: Boolean = false)
<div class="row row--items-3">
    @fragments.productLists.digitalPack(UK, promoCodes, includeEditionInUrl, Some(Html("Digital")))
    <div class="row__item block block--primary block--paper-digital">
        <h2 class="block__title">Paper + digital</h2>
        <div class="block__info">
            <ul class="block__list">
            @if(inOfferPeriod(PaperAndDigital)) {
                <li class="block__list-item">Year-round savings of up to 36% off the retail price</li>
                <li class="block__list-item"><strong>Subscribe before 2 September and save an extra 50% for three months</strong></li>
            } else {
                <li class="block__list-item">Year-round savings of up to 36% off the retail price</li>
            }
                <li class="block__list-item">Pick the package you want: Everyday+, Sixday+, Weekend+, Saturday+ and The Observer+</li>
                <li class="block__list-item">All supplements Monday to Sunday</li>
                <li class="block__list-item">All the <strong>Digital Pack</strong> benefits</li>
            </ul>
        </div>
        <div class="block__footer">
            <a class="button button--large button--primary" href="@routes.PromoLandingPage.render(promoCodes(PaperAndDigital), None).url" data-test-id="subscriptions-uk-paper-digital">Subscribe now</a>
        </div>
    </div>
    <div class="row__item block block--primary block--paper">
        <h2 class="block__title">Paper</h2>
        <div class="block__info">
            <ul class="block__list">
            @if(inOfferPeriod(Paper)) {
                <li class="block__list-item">Year-round savings of up to 31% off the retail price</li>
                <li class="block__list-item"><strong>Subscribe before 2 September and save an extra 50% for three months</strong></li>
            } else {
                <li class="block__list-item">Year-round savings of up to 31% off the retail price</li>
            }
                <li class="block__list-item">Pick the package you want: Everyday, Sixday, Weekend, Saturday and The Observer</li>
                <li class="block__list-item">All supplements Monday to Sunday</li>
            @if(!inOfferPeriod(Paper)) {
                <li class="block__list-item">Receive newspaper vouchers to use at over 1,000 retailers across the UK, or home delivery within the M25</li>
            }
            </ul>
        </div>
        <div class="block__footer">
            <a class="button button--large button--primary" href="@routes.PromoLandingPage.render(promoCodes(Paper), None).url" data-test-id="subscriptions-uk-paper">Subscribe now</a>
        </div>
    </div>
</div>
