@import model.DigitalEdition
@import model.promoCodes._
@(edition: DigitalEdition, promoCodes: Map[PromoCodeKey, String], includeEditionInUrl: Boolean = false)
<div class="row row--items-2">
    @fragments.productLists.digitalPack(edition, promoCodes, includeEditionInUrl)
    <div class="row__item block block--primary block--weekly">
        <h2 class="block__title">Subscribe to the Guardian Weekly</h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">A selection of the week's biggest international stories major world events, politics and culture from The Guardian and The Observer, in one comprehensive paper</li>
                <li class="block__list-item">Saving on the retail cover price</li>
                <li class="block__list-item">Free international delivery</li>
                <li class="block__list-item">Access to the latest and archive editions at any time, on any device, via PressReader</li>
                <li class="block__list-item">A weekly email newsletter from the editor</li>
            </ul>
        </div>
        <div class="block__footer">
            <a class="button button--large button--primary" href="@routes.PromoLandingPage.render(promoCodes(GuardianWeekly), edition.countryGroup.defaultCountry).url">Subscribe now</a>
        </div>
    </div>
</div>
