@import model.DigitalEdition
@import services.BlackFriday._
@import model.promoCodes._
@(edition: DigitalEdition, promoCodes: Map[PromoCodeKey, String])
<div class="row row--items-2">
    <div class="row__item block block--primary block--digital">
        <h2 class="block__title">Subscribe to the Guardian <span class="break-tablet">digital pack</span></h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">14-day free trial</li>
                @if(inOfferPeriod) {
                    <li class="block__list-item"><strong>Plus, save 50% for the first 3 months</strong></li>
                }
                <li class="block__list-item">Access to the Daily Edition, the digital version of the UK Guardian newspaper</li>
                <li class="block__list-item">Access to the advert-free Guardian App Premium Tier</li>
                <li class="block__list-item">Available on Apple, Android and Kindle Fire</li>
                <li class="block__list-item">Use on up to 10 devices</li>
            </ul>
        </div>
        <div class="block__footer">
            <a class="button button--large button--primary button--arrow" href="@routes.PromoLandingPage.render(promoCodes(Digital), edition.countryGroup.defaultCountry).url" data-test-id="subscriptions-@edition.id-digital">Subscribe now</a>
        </div>
    </div>
    <div class="row__item block block--primary block--weekly">
        <h2 class="block__title">Subscribe to the Guardian Weekly</h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">A selection of international editorial from the Guardian, Observer and Washington Post</li>
                <li class="block__list-item">A unique blend of international news, politics, culture and comment</li>
                <li class="block__list-item">Save on the retail price</li>
                <li class="block__list-item">Free delivery to your door, wherever you are in the world</li>
            </ul>
        </div>
        <div class="block__footer">
            <a class="button button--large button--primary" href="@routes.PromoLandingPage.render(promoCodes(GuardianWeekly), edition.countryGroup.defaultCountry).url">Subscribe now</a>
        </div>
    </div>
</div>
