/* ==========================================================================
   Utilities: Layout
   ========================================================================== */

.u-cf {
    @include clearfix;
}
.u-pad-top {
    padding-top: $gs-baseline;
}
.u-pad-bottom {
    padding-bottom: $gs-baseline;
}

.u-margin-top {
    margin-top: $gs-baseline;
}
.u-margin-bottom {
    margin-bottom: $gs-baseline;
}

/**
 * Aligment
 */
.u-align-left {
    float: left;
}
.u-align-right {
    float: right;
}
.u-align-middle {
    vertical-align: middle;
}
