@(edition: DigitalEdition, subscriptionNumberOfMonths: Int = 1)

@main("Select your country | Digital | Subscriptions | The Guardian", bodyClasses = List("is-wide")) {

<main class="page-container gs-container">

    <section class="checkout-container">

        @fragments.checkout.checkoutHeader("Checkout")

        <div class="checkout-container__sidebar">
            @fragments.checkout.basketPreview()
        </div>

        <div class="checkout-container__form">
            <div class="country-select">
                <h2 class="country-select__title">The Digital Pack is available throughout the world</h2>
                <div class="country-select__content">
                    <h3 class="u-pad-bottom">Choose your location</h3>
                    <div class="button-group">
                        <a class="button button--primary button--large js-checkout-link"
                           data-tracking
                           data-tracking-prop17="GuardianDigiPack:Select Country"
                           data-tracking-products="Subscriptions and Membership;GUARDIAN_DIGIPACK;@subscriptionNumberOfMonths;@edition.price;prodView"
                           data-previous-href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA38&CMP=@edition.cmp"
                           href="@routes.Checkout.renderCheckout()">
                           United Kingdom
                        </a>
                        <a class="button button--secondary button--large"
                           href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=dga38&amp;CMP=FAB_3062">
                           Rest of the world
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </section>
</main>

}
