@()(implicit rh: RequestHeader)

@main("Select your country | Digital | Subscriptions | The Guardian", bodyClasses = List("is-wide")) {

<main class="gs-container">

    <section class="checkout-container">

        @fragments.checkout.checkoutHeader("Checkout")

        <div class="checkout-container__sidebar">
            @fragments.checkout.basketPreview()
        </div>

        <div class="checkout-container__form">

            <div class="country-select">
                <h2 class="country-select__title">The Digital Pack is available throughout the world</h2>
                <div class="country-select__content">
                    <form class="form-panel" method="POST">
                        @helper.CSRF.formField
                        <div class="form-field">
                            <label class="label" for="country">Please select your country</label>
                            <div class="custom-select">
                                <select name="country" id="country">
                                    <option selected="selected" value="uk">United Kingdom</option>
                                    <option value="row">Not the United Kingdom</option>
                                </select>
                            </div>
                        </div>
                        <div class="actions">
                            <button type="submit" class="button button--primary button--large">Continue</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </section>
</main>

}
