@()

@main("Select your country | Digital | Subscriptions | The Guardian") {

<div class="gs-container">
    @fragments.page.header("Digital Pack", Some("Digital access to our Daily Edition and Guardian App Premium Tier"))
    <form class="form" method="POST">
        <fieldset class="fieldset fieldset--single">
            <div class="fieldset__heading">
                <h2 class="fieldset__headline">The Digital Pack is available throughout the world</h2>
            </div>
            <div class="fieldset__fields">
                <div class="form-field">
                    <label class="label" for="country">Please select your country</label>
                    <select class="select select--wide" name="country" id="country">
                        <option selected="selected" value="uk">United Kingdom</option>
                        <option value="row">Not the United Kingdom</option>
                    </select>
                </div>
                <div class="actions">
                    <button type="submit" class="button button--primary button--large">Continue</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

}
