@(edition: DigitalEdition)

@main(
    title = if(edition.id == "uk") "Digital | Subscriptions | The Guardian" else s"Digital - ${edition.name} | Subscriptions | The Guardian",
    bodyClassName = "digital-pack") {
<div class="gs-container dp-container">
    @fragments.container.container_title(" ")
    <div class="dp-container__body dp-container__body--main">
        @fragments.page.header("Digital Pack", Some("Digital access to our Daily Edition and Guardian App Premium Tier"))
    </div>
</div>

@digitalpack.start_trial(edition)

<div class="gs-container dp-container">
    @fragments.container.container_title("What do I get?")

    <div class="dp-container__body dp-container__body--main">
        <div class="dp-edition">
            <div class="dp-edition-row dp-edition-row--items-2">
                <div class="dp-edition-row__item dp-edition-row__item--image"><img class="block__image" src="@controllers.CachedAssets.hashedPathFor("images/tablet-edition.png")"></div>
                <div class="dp-edition-row__item dp-edition-row__item--boost-2">
                    <h2 class="block__title">Daily Edition</h2>
                    <div class="dp-cols">
                        <div class="dp-cols__item"><strong>The full experience</strong>
                                &mdash; your daily newspaper re-imagined for tablet</div>
                        <div class="dp-cols__item"><strong>Available offline</strong>
                                &mdash; downloaded automatically by 4am @if(edition.id != "uk") { GMT } every morning. Perfect for the commute</div>
                        <div class="dp-cols__item"><strong>Collated</strong>
                                &mdash; complete supplements including the Guide, Cook, Do Something, Observer Tech and Food Monthly</div>
                        <div class="dp-cols__item hide-on-mobile js-more-daily-edition-benefits"><strong>Designed</strong>
                                &mdash; specially adapted to your tablet, whether you're using iPad, Android or Kindle Fire</div>
                        <div class="dp-cols__item hide-on-mobile js-more-daily-edition-benefits"><strong>Enhanced</strong>
                                &mdash; embedded audio, video and image galleries &mdash; plus all our crosswords</div>
                        <div class="dp-cols__item hide-on-mobile js-more-daily-edition-benefits"><strong>Plus&hellip;</strong>
                            There's a free 30-day archive of back issues. Take your time, sit back, and enjoy</div>
                    </div>
                </div>
            </div>
            @digitalpack.show_more_btn("more-daily-edition-benefits")
        </div>

        <div class="dp-edition">
            <div class="dp-edition-row dp-edition-row--items-2">
                <div class="dp-edition-row__item dp-edition-row__item--image"><img class="block__image" src="@controllers.CachedAssets.hashedPathFor("images/premium-tier.png")"></div>
                <div class="dp-edition-row__item dp-edition-row__item--boost-2">
                    <h2 class="block__title">Guardian App Premium Tier</h2>
                    <div class="dp-cols">
                        <div class="dp-cols__item"><strong>Advert-free</strong>
                                &mdash; no distractions, just the journalism you love</div>
                        <div class="dp-cols__item"><strong>Available offline</strong>
                                &mdash; just tap to read content offline. Perfect for the commute</div>
                        <div class="dp-cols__item"><strong>Premium content</strong>
                                &mdash; crosswords, exclusive articles and new features</div>
                        <div class="dp-cols__item hide-on-mobile js-more-premium-benefits"><strong>Adjustable text size</strong>
                                &mdash; larger text for ease of reading or smaller text to take in a whole article in one swipe</div>
                        <div class="dp-cols__item hide-on-mobile js-more-premium-benefits"><strong>Save for later</strong>
                                &mdash; articles stored in your account and available offline</div>
                        <div class="dp-cols__item hide-on-mobile js-more-premium-benefits"><strong>Plus&hellip;</strong>
                            all the features of the free app including breaking news alerts, customised home screen and commenting</div>
                    </div>
                </div>
                @digitalpack.show_more_btn("more-premium-benefits")
            </div>
        </div>
    </div>
</div>

@digitalpack.start_trial(edition)

<div class="gs-container dp-container">
    @fragments.container.container_title("Why subscribe?")

    <div class="dp-container__body dp-container__body--main">
        <ul class="dp-row dp-row--items-3 no-bullets">
            <li class="dp-row__item">
                <h3 class="dp-row__item__title">Support the Guardian's journalism</h3>
                <p>We invest your money back into funding our open journalism and promoting freedom of speech, making quality news coverage accessible for everyone</p>
            </li>
            <li class="dp-row__item">
                <h3 class="dp-row__item__title">Share on multiple devices</h3>
                <p>You can download the Digital Pack on up to 10 devices. Share it with your friends and family or give it as a gift.</p>
            </li>
            <li class="dp-row__item">
                <h3 class="dp-row__item__title">Convenience</h3>
                <p>The Guardian App Premium Tier brings breaking news to the palm of your hand wherever you are, whilst the Daily Edition brings the newspaper to life in a digital form</p>
            </li>
        </ul>
    </div>
</div>

<div class="gs-container dp-container">
    @fragments.container.container_title("How do I get it?")

    <div class="dp-container__body dp-container__body--main">
        <ul class="dp-row dp-row--items-3 no-bullets">
            <li class="dp-row__item">
                <p class="dp-row__item--numbered__bullet">1.</p>
                <p class="dp-row__item--numbered__body">Order now and we will send you a subscriber ID</p>
            </li>
            <li class="dp-row__item">
                <p class="dp-row__item--numbered__bullet">2.</p>
                <p class="dp-row__item--numbered__body">Download the Guardian app on your device(s) from your app store</p>
            </li>
            <li class="dp-row__item">
                <p class="dp-row__item--numbered__bullet">3.</p>
                <p class="dp-row__item--numbered__body">Enter your subscriber ID into the app, and enjoy</p>
            </li>
        </ul>
    </div>
</div>

@digitalpack.start_trial(edition)

@fragments.analytics.affectv_digitalpack()

}