@(edition: DigitalEdition)

@import model.Benefits

@startTrial(edition: DigitalEdition) = {
    <div class="pricing-cta">
        <div class="pricing-cta__pricing">
            <h4 class="pricing-cta__pricing__title">Free for 14 days</h4>
            <p class="pricing-cta__pricing__value">Then @edition.price/month</p>
        </div>
        <div class="pricing-cta__action">
            <a class="button button--large button--primary"
               href="/digital/country"
               data-test-id="digital-pack-@edition.id-trial-header"
            >Start your free trial</a>
        </div>
    </div>
}

@main(
    title = if(edition.id == "uk") "Digital | Subscriptions | The Guardian" else s"Digital - ${edition.name} | Subscriptions | The Guardian",
    bodyClasses = List("is-wide")
) {

<main class="page-container gs-container gs-container--slim">

    <section class="page-slice">
        <div class="page-slice__content">
            @fragments.page.header("Digital Pack", Some("Digital access to our Daily Edition and Guardian App Premium Tier"))
            @startTrial(edition)
        </div>
    </section>

    @* ===== What ===== *@
    <section class="page-slice page-slice--bordered">
        <div class="page-slice__header">
            <h3 class="page-slice__title">
                What do I get?
            </h3>
        </div>
        <div class="page-slice__content">
            @fragments.promos.packagePreview(
                Benefits.digitalPack,
                controllers.CachedAssets.hashedPathFor("images/tablet-edition.png"),
                "more-daily-edition-benefits"
            )
            @fragments.promos.packagePreview(
                Benefits.premiumTier,
                controllers.CachedAssets.hashedPathFor("images/premium-tier.png"),
                "more-premium-benefits"
            )
            @startTrial(edition)
        </div>
    </section>

    @* ===== Why ===== *@
    <section class="page-slice page-slice--bordered">
        <div class="page-slice__header">
            <h3 class="page-slice__title">Why subscribe?</h3>
        </div>
        <div class="page-slice__content">
            <ol class="grid grid--3up-step grid--bordered">
                <li class="grid__item">
                    <h3 class="u-pad-bottom">Support the Guardian's journalism</h3>
                    <p>We invest your money back into funding our open journalism and promoting freedom of speech, making quality news coverage accessible for everyone</p>
                </li>
                <li class="grid__item">
                    <h3 class="u-pad-bottom">Exclusive benefits</h3>
                    <p>Our subscribers are entitled to a range of exclusive benefits which include regular gifts and offers</p>
                </li>
                <li class="grid__item">
                    <h3 class="u-pad-bottom">Share on multiple devices</h3>
                    <p>You can download the Digital Pack on up to 10 devices. Share it with your friends and family or give it as a gift</p>
                </li>
            </ol>
            @startTrial(edition)
        </div>
    </section>

    @* ===== How ===== *@
    <section class="page-slice page-slice--bordered">
        <div class="page-slice__header">
            <h3 class="page-slice__title">How do I get it?</h3>
        </div>
        <div class="page-slice__content">
            <ol class="grid grid--3up-step">
                <li class="grid__item">
                    <span class="numbered">
                        <span class="numbered__bullet">1.</span>
                        <span class="numbered__body">Order now and we will send you a subscriber ID</span>
                    </span>
                </li>
                <li class="grid__item">
                    <span class="numbered">
                        <span class="numbered__bullet">2.</span>
                        <span class="numbered__body">Download the Guardian app on your device from your app store</span>
                    </span>
                </li>
                <li class="grid__item">
                    <span class="numbered">
                        <span class="numbered__bullet">3.</span>
                        <span class="numbered__body">Enter your subscriber ID into the app, and enjoy</span>
                    </span>
                </li>
            </ol>
            @startTrial(edition)
        </div>
    </section>
</main>

}
