@(edition: DigitalEdition)

<div class="gs-container dp-container">
    <div class="dp-container__header">&nbsp;</div>
    <div class="dp-container__body">
        <div class="row digital-cta">
            <div>
                <div class="digital-cta__price">
                    <strong class="digital-cta__amount">Free for 14 days</strong>
                </div>
                <div class="digital-cta__payment">Then @edition.price/month</div>
            </div>
            <div class="digital-cta__button">
                <a class="button button--large button--primary" href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01&CMP=@edition.cmp" data-test-id="digital-pack-@edition.id-trial-header">Start your free trial</a>
            </div>
        </div>
    </div>
</div>
