{
    "extends": "eslint:recommended",
    "env": {
        "amd": true,
        "browser": true,
        "node": true
    },
    "globals"   : {
        "guardian": true,
        "curl": true
    },
    "rules": {
        "curly": [2, "all"],
        "no-console": 0,
        "no-trailing-spaces": 2,
        "quotes": [2, "single"],
        "wrap-iife": 2
    }
}
