{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",    
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "amd": true,
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals"   : {
        "guardian": true,
        "curl": true
    },
    "rules": {
        "curly": [2, "all"],
        "no-console": 0,
        "no-trailing-spaces": 0,
        "quotes": [2, "single"],
        "wrap-iife": 2
    }
}
