*.class
*.log
.DS_STORE
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/out
dist
logs
tmp
conf/assets.map

# Scala-IDE specific
.worksheet
.scala_dependencies

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/project
project/target
project/boot/
project/plugins/project/

# frontend
.sass-cache
bower_components
node_modules
public/javascripts
public/stylesheets
