logs
project/project
project/target
tmp
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.class
*.log
Gemfile.lock

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# frontend
.sass-cache
bower_components
node_modules
jspm_packages
*.min.js
*.min.css
*.css.map
*.js.map

#Apple
.DS_STORE
