@(additionalMarkup: Html)
@import org.joda.time.DateTime

<div class="global-brandbar">
    <div class="gs-container">
        <a href="#top" class="action"><i class="icon-arrow-up"></i>Back to top</a>
    </div>
</div>
<div class="global-footer">
    <div class="gs-container">
        @additionalMarkup
        <div class="really-serious-copyright">© @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies. All rights reserved. Build #@app.BuildInfo.buildNumber</div>
        <!-- build-commit-id: @app.BuildInfo.gitCommitId -->
    </div>
</div>
