@import configuration.Config.Identity.webAppProfileUrl
@()

@main("Finish creating your account | Subscriptions | The Guardian") {
  <div class="gs-container">
    <h2 class="page-heading page-heading--border">Finish creating your account</h2>
    <div class="row row--items-1">
      <div class="row__item">
        <p>All done!</p>
        <p>You can edit your details as well as manage your subscription in your Profile area</p>
        <div class="actions">
          <a href="@webAppProfileUrl" class="button button--primary button--large">My profile</a>
        </div>
      </div>
    </div>
  </div>
}
