@import com.gu.i18n.{Country, CountryGroup, Currency}
@import com.gu.memsub.{BillingPeriod, Month}
@import com.gu.subscriptions.DigipackPlan
@import configuration.Config.Identity._
@import model.JsVars
@import views.support.BillingPeriod._
@import views.support.CountryWithCurrency
@import views.support.Pricing._
@import com.gu.memsub.promo.PromoCode
@import model.PersonalData
@import views.support.ProductFamilyOps._

@import views.support.ProductPopulationData
@import views.support.ProductPopulationData._
@import com.gu.memsub.Current
@import com.gu.subscriptions.PaperPlan
@import com.gu.subscriptions.Day
@import com.gu.i18n.Currency
@import com.gu.i18n.Country
@(
    personalData: Option[PersonalData],
    productData: ProductPopulationData,
    country: Option[Country],
    countryGroup: CountryGroup,
    defaultCurrency: Currency,
    countriesWithCurrency: List[CountryWithCurrency],
    touchpointBackendResolution: services.TouchpointBackend.Resolution,
    promoCode: Option[PromoCode])(implicit request: RequestHeader)

@priceOption(plan: Either[DigipackPlan[BillingPeriod], PaperPlan[Current, Day]], currency: Currency) = {
    <label class="option" data-currency="@currency">
        <span class="option__input">
            <input
            type="radio" name="ratePlanId"
            data-option-mirror-label-default="@plan.asPaidPlan.prettyPricing(currency)"
            data-option-mirror-label="@plan.asPaidPlan.prettyPricing(currency)"
            data-amount="@plan.asPaidPlan.gbpPrice.amount"
            data-number-of-months="@plan.asPaidPlan.billingPeriod.numberOfMonths"
            data-currency="@currency"
            value="@plan.productRatePlanId.get"
            @if(plan.fold(identity, identity) == productData.plans.default && currency == defaultCurrency){checked}
            >
        </span>
        <span class="option__label" id="label-for-@plan.productRatePlanId.get-@currency">@plan.prettyName(currency)</span>
    </label>
}

@continueButton(goto: String, listenerName: String) = {
    <div class="actions">
        <a href="@goto" class="button button--primary button--large @listenerName">Continue</a>
        <div class="loader js-personal-details-validating">Validating...</div>
    </div>
}

@main(
    title = s"Details - name and address | Subscribe to ${productData.family.title(productData.plans.default)} | The Guardian",
    jsVars = JsVars(userIsSignedIn = personalData.isDefined, ignorePageLoadTracking = true, countryGroup = countryGroup, currency = defaultCurrency, country = country),
    bodyClasses = List("is-wide"),
    touchpointBackendResolutionOpt = Some(touchpointBackendResolution)
) {

    @fragments.analytics.tagmanager()

<main class="page-container gs-container">

    <section class="checkout-container">
        <form class="form js-checkout-form" action="" method="POST" novalidate>
            @helper.CSRF.formField

            @fragments.checkout.checkoutHeader(productData.family.title(productData.plans.default))

            @* ===== Plan selection ===== *@
            <div class="checkout-container__sidebar js-basket">
                @fragments.checkout.basketPreview(productData.family, productData.plans.default)
                <div class="basket-options-toggle u-note prose">
                    <a class="js-toggle checkout-container__frequency" data-toggle="change-payment-frequency">
                        @productData.family.changeRatePlanText
                    </a>
                </div>
                <fieldset class="basket-billing-options is-hidden js-payment-frequency js-option-mirror-group" id="change-payment-frequency">
                    @productData.toPlanEither.list.map { p =>
                        @p.asPaidPlan.currencies.map { c =>
                            @priceOption(p, c)
                        }
                    }
                </fieldset>
                @fragments.checkout.promoCode(promoCode)
                <div class="js-checkout-notices notices-container" data-set="checkout-notices" hidden="true">
                    <div class="js-append">
                        <div class=u-note">
                        @fragments.checkout.notice("Money Back Guarantee") {
                            <p>
                                If you wish to cancel your subscription, we will send
                                you a refund of the unexpired part of your subscription.
                            </p>
                        }
                        </div>
                        <div class="js-payment-type-direct-debit u-note">
                            @fragments.checkout.noticesDirectDebit(productData.family)
                        </div>
                        <div class="js-payment-type-card" hidden="true">
                            @fragments.checkout.noticesCard()
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout-container__form">

                @* ===== Your details ===== *@
                <div id="yourDetails" class="field-panel js-fieldset-your-details">
                    <fieldset>
                        <legend class="field-panel__legend">
                            Your details
                        </legend>
                        <div class="field-panel__intro">
                            <div class="field-note field-note--offset">
                                @fragments.forms.securityNote()
                            </div>
                            <div class="field-note field-note--offset prose">
                                @if(personalData.isDefined) {
                                    <a href="@idWebAppSignOutUrl(controllers.Checkout.getCheckoutRouteForProductFamily(countryGroup, promoCode, productData.family))">Sign out</a>
                                } else {
                                    <span class="field-note__label">Already have a Guardian account?</span>
                                    <a href="@idWebAppSigninUrl(controllers.Checkout.getCheckoutRouteForProductFamily(countryGroup, promoCode, productData.family))">Sign in</a>
                                }
                            </div>
                        </div>
                        <div class="field-panel__edit">
                            <a href="#yourDetails" class="text-button u-button-reset js-edit-your-details" title="Edit your personal details">Edit</a>
                        </div>
                        <div class="field-panel__fields">
                            @fragments.checkout.fieldsPersonal(personalData, countriesWithCurrency)
                            @continueButton(productData.fold(_ => "#deliveryDetails")(_ => "#paymentDetails"), "js-checkout-your-details-submit")
                        </div>
                    </fieldset>
                </div>

                @* ===== Delivery details ===== *@
                @productData.paper.map { p =>
                        <div id="deliveryDetails" class="field-panel is-collapsed js-fieldset-delivery-details">
                            <fieldset>
                                <legend class="field-panel__legend">
                                    Delivery details
                                </legend>
                                <div class="field-panel__fields">
                                    @fragments.checkout.fieldsPaper(p, countriesWithCurrency)
                                    @continueButton("#paymentDetails", "js-checkout-delivery-details-submit")
                                </div>
                                <div class="field-panel__edit">
                                    <a href="#deliveryDetails" class="text-button u-button-reset js-edit-your-delivery-details" title="Edit your delivery details">Edit</a>
                                </div>
                            </fieldset>
                        </div>
                }


                @* ===== Payment ===== *@
                <div id="paymentDetails" class="field-panel is-collapsed js-fieldset-payment-details">
                    <fieldset>
                        <legend class="field-panel__legend">
                            Payment details
                        </legend>
                        <div class="field-panel__intro">
                            <div class="field-note field-note--offset">
                                @fragments.forms.securityNote()
                            </div>
                        </div>
                        <div class="field-panel__edit">
                            <a href="#paymentDetails" class="text-button u-button-reset js-edit-payment-details" title="Edit your payment details">Edit</a>
                        </div>
                        <div class="field-panel__fields">
                            @fragments.checkout.fieldsPayment()

                            <div class="actions">
                                <a href="#formReview" class="button button--primary button--large js-checkout-payment-details-submit">Continue</a>
                                <div class="loader js-payment-details-validating">Validating...</div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                @* ===== Review ===== *@
                <div id="formReview" class="field-panel field-panel--single is-collapsed js-fieldset-review">
                    <fieldset>
                        <legend class="field-panel__legend">
                                Review and confirm
                        </legend>
                        <div class="field-panel__fields">
                            @fragments.checkout.reviewDetails(personalData)
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="u-display-until-desktop" data-set="checkout-notices"></div>

        </form>

    </section>

</main>
}
