@(form: Form[model.SubscriptionData], userIsSignedIn: Boolean)(implicit request: RequestHeader)

@import model.JsVars
@import routes.Checkout.renderCheckout
@import configuration.Config.Identity._

@readonly = @{ if (userIsSignedIn) "readonly" else "" }

@main(
    title = "Checkout | Subscriptions | The Guardian",
    jsVars = JsVars.default.copy(userIsSignedIn = userIsSignedIn),
    bodyClasses = List("is-wide")
) {

<main class="page-container gs-container">

    <section class="checkout-container">

        @fragments.checkout.checkoutHeader("Checkout")

        <div class="checkout-container__sidebar">
            @fragments.checkout.basketPreview()

            <div class="u-display-from-tablet" data-set="checkout-notices">
                <div class="js-append">
                    @fragments.checkout.notice("Advanced Notice") {
                        <p>The details of your Direct Debit instruction including payment schedule, due date, frequency and amount will be sent to you within three working days. All the normal Direct Debit safeguards and guarantees apply.</p>
                    }
                    @fragments.checkout.notice("Money Back Guarantee") {
                        <p>If you wish to cancel your subscription, we will send you a refund of the unexpired part of your subscription.</p>
                    }
                    @fragments.checkout.notice("Direct Debit") {
                        <address>
                            The Guardian, Perrymount Road, Perrymount Road,
                            Haywards Heath, West Sussex, RH16 3DH,
                            United Kingdom
                        </address>
                        <ul class="u-unstyled-list">
                            <li>Tel: 0808 168 5088</li>
                            <li><a href="mailto:gnmsubs@@quadrantsubs.com">gnmsubs@@quadrantsubs.com</a></li>
                        </ul>
                        <aside class="direct-debit">
                            <div class="direct-debit__logo">
                                <img src="@controllers.CachedAssets.hashedPathFor("images/direct-debit.png")" alt="Direct Debit">
                            </div>
                            <div class="direct-debit__disclaimer prose">
                                Your payments are protected by the
                                <a href="#direct-debit-guarantee" class="js-toggle" data-toggle="direct-debit-guarantee">
                                    Direct Debit guarantee.
                                </a>
                            </div>
                            <div id="direct-debit-guarantee" class="prose" data-toggle-hidden>
                                <ul>
                                    <li>The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits</li>
                                    <li>If there are any changes to the amount, date or frequency of your Direct Debit Guardian Subscriptions will notify you (normally 3 working days) in advance of your account being debited or as otherwise agreed. If you request Guardian Subscriptions to collect a payment, confirmation of the amount and date will be given to you at the time of the request</li>
                                    <li>
                                        If an error is made in the payment of your Direct Debit, by Guardian Subscriptions or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society
                                        <ul>
                                            <li>If an error is made in the payment of your Direct Debit, by Guardian Subscriptions or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society</li>
                                        </ul>
                                    </li>
                                    <li>If you receive a refund you are not entitled to, you must pay it back when Guardian Subscriptions asks you to You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify Guardian Subscriptions.</li>
                                </ol>
                            </div>
                        </aside>
                    }
                </div>

            </div>
        </div>

        <div class="checkout-container__form">

            <form class="form js-checkout-form" method="POST">
                <fieldset class="fieldset js-fieldset-your-details">
                    @helper.CSRF.formField

                    <div class="fieldset__heading">
                        <h2 class="fieldset__headline">
                            <span class="fieldset__headline__num">1</span> Your details
                        </h2>
                        <div class="fieldset__note fieldset__note--offset">
                            @if(userIsSignedIn) {
                                <span class="fieldset__note__label">Not you?</span>
                                <a href="@idWebAppSignOutUrl(renderCheckout().toString())">Sign out</a>
                            } else {
                                <span class="fieldset__note__label">Already have a Guardian account?</span>
                                <a href="@webAppSigninUrl(renderCheckout().toString())">Sign in</a>
                            }
                        </div>
                        <div class="fieldset__edit">
                            <button class="text-button u-button-reset js-edit-your-details is-hidden">Edit</button>
                        </div>
                    </div>
                    <div class="fieldset__fields">
                        <div class="form-field js-checkout-first">
                            <label class="label" for="first">First name</label>
                            <input type="text" class="input-text js-input" name="personal.first" id="first" value="@form.data.get("personal.first")">
                            @checkout.errorMessage("This field is required")
                        </div>
                        <div class="form-field js-checkout-last">
                            <label class="label" for="last">Last name</label>
                            <input type="text" class="input-text js-input" name="personal.last" id="last" value="@form.data.get("personal.last")">
                            @checkout.errorMessage("This field is required")
                        </div>
                        <div class="form-field js-checkout-email">
                            <label class="label" for="email">Email address</label>
                            <input type="email" class="input-text js-input" name="personal.emailValidation.email" id="email" value="@form.data.get("personal.emailValidation.email")" @readonly>
                            @checkout.errorMessage("")
                        </div>
                        <div class="form-field js-checkout-confirm-email">
                            @if(userIsSignedIn) {
                                <input type="hidden" class="js-input" name="personal.emailValidation.confirm" id="confirm" value="@form.data.get("personal.emailValidation.confirm")">
                            } else {
                                <label class="label" for="confirm">Confirm email address</label>
                                <input type="email" class="input-text js-input" name="personal.emailValidation.confirm" id="confirm" value="@form.data.get("personal.emailValidation.confirm")">
                                @checkout.errorMessage("The confirmation email must match your email address")
                            }
                        </div>
                        <div class="js-checkout-full-address">
                            <div class="form-field js-checkout-house">
                                <label class="label" for="address-line-1">Address line 1</label>
                                <input type="text" class="input-text js-input" id="address-line-1" name="personal.address.address1" value="@form.data.get("personal.address.address1")">
                                @checkout.errorMessage("This field is required")
                            </div>
                            <div class="form-field js-checkout-street">
                                <label class="label optional-marker" for="address-line-2">Address line 2</label>
                                <input type="text" class="input-text js-input" id="address-line-2" name="personal.address.address2" value="@form.data.get("personal.address.address2")">
                                @checkout.errorMessage("This field is required")
                            </div>
                            <div class="form-field js-checkout-town">
                                <label class="label" for="address-town">Town/City</label>
                                <input type="text" class="input-text js-input" id="address-town" name="personal.address.town" value="@form.data.get("personal.address.town")">
                                @checkout.errorMessage("This field is required")
                            </div>
                        </div>
                        <div class="form-field js-checkout-postcode">
                            <label class="label" for="address-postcode">Postcode</label>
                            <input type="text" class="input-text js-input input-text input-text--small" id="address-postcode" name="personal.address.postcode" value="@form.data.get("personal.address.postcode")">
                            @checkout.errorMessage("Please enter a valid postal code")
                        </div>
                        <div class="form-field">
                            <label class="checkbox" for="receive-gnm-marketing">
                            @defining(form.data.get("personal.receiveGnmMarketing")) { gnmMarketingOpt =>
                                <span class="checkbox__input">
                                    <input type="checkbox"
                                        name="personal.receiveGnmMarketing"
                                        id="receive-gnm-marketing"
                                        @if(gnmMarketingOpt.contains("on")) { checked="checked" }
                                        >
                                </span>
                            }
                                <span class="checkbox__label">
                                    I'd like to be kept up to to date by email with offers and developments from Guardian News &amp; Media Limited
                                </span>
                            </label>
                        </div>
                        <div class="actions">
                            <button class="button button--primary button--large js-checkout-your-details-submit">Continue</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset fieldset--collapsed js-fieldset-payment-details">
                    <div class="fieldset__heading">
                        <h2 class="fieldset__headline">
                            <span class="fieldset__headline__num">2</span> Payment details
                        </h2>
                        <div class="fieldset__note fieldset__note--offset">
                            @fragments.forms.securityNote()
                            Payment will be taken by Direct Debit
                        </div>
                        <div class="fieldset__edit">
                            <button class="text-button u-button-reset js-edit-payment-details is-hidden">Edit</button>
                        </div>
                    </div>
                    <div class="fieldset__fields">
                        <div class="form-field js-checkout-account">
                            <label class="label" for="account">Bank account number</label>
                            <input type="number" class="input-text js-input" name="payment.account">
                            @checkout.errorMessage("Please enter between 1 and 10 digits for the account number")
                        </div>
                        <div class="form-field js-checkout-sortcode">
                            <label class="label" for="sortcode">Bank sort code</label>
                            <input type="number"
                                class="input-text input-text--xsmall js-input js-checkout-sortcode1"
                                max="99" name="payment.sortcode1"
                            > -
                            <input type="number"
                                class="input-text input-text--xsmall js-input js-checkout-sortcode2"
                                max="99" name="payment.sortcode2"
                            > -
                            <input type="number"
                                class="input-text input-text--xsmall js-input js-checkout-sortcode3"
                                max="99" name="payment.sortcode3"
                            >
                            @checkout.errorMessage("Please enter 2 digits for each sort code field")
                        </div>
                        <div class="form-field js-checkout-holder">
                            <label class="label" for="holder">Name of account holder</label>
                            <input type="text" class="input-text js-input" name="payment.holder">
                            @* TODO: Why limited to 18 characters? *@
                            @checkout.errorMessage("Please enter between 1 and 18 characters for the account holder name")
                        </div>
                        <div class="form-field js-checkout-confirm-payment">
                            <label class="checkbox">
                                <span class="checkbox__input">
                                    <input type="checkbox" class="js-input">
                                </span>
                                <span class="checkbox__label">
                                    I confirm that I am the account holder and I am solely able to authorise debit from the account
                                </span>
                            </label>
                            @checkout.errorMessage("Please confirm that you are the account holder")
                        </div>
                        <div class="actions">
                            <button class="button button--primary button--large js-checkout-payment-details-submit">Continue</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset fieldset--single fieldset--collapsed js-fieldset-review">
                    <div class="fieldset__heading">
                        <h2 class="fieldset__headline">
                            <span class="fieldset__headline__num">3</span> Review and confirm
                        </h2>
                    </div>
                    <div class="fieldset__fields">
                        <div class="review-details">
                            <h3 class="review-details__heading">Your details</h3>
                            <ul class="u-unstyled-list review-details__list">
                                <li class="js-checkout-review-name"></li>
                                <li class="js-checkout-review-address"></li>
                                <li class="js-checkout-review-email"></li>
                            </ul>
                            <h3 class="review-details__heading">Payment details</h3>
                            <ul class="u-unstyled-list review-details__list">
                                <li><span class="review-details__detail">Payment method:</span> Direct Debit</li>
                                <li><span class="review-details__detail">Bank account:</span> <span class=" js-checkout-review-account"></span></li>
                                <li><span class="review-details__detail">Sort code:</span> <span class=" js-checkout-review-sortcode"></span></li>
                                <li><span class="review-details__detail">Account holder:</span> <span class=" js-checkout-review-holder"></span></li>
                            </ul>
                        </div>
                        <div class="actions review-details__list">
                            <button type="submit" class="button button--primary button--large">Submit payment</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>

        <div class="u-display-until-tablet" data-set="checkout-notices"></div>

    </section>

</main>
}
