@import model.zuora.SubscriptionProduct
@import model.JsVars
@import configuration.Config.Identity._

@(form: Form[model.SubscriptionData], userIsSignedIn: Boolean, products: Seq[SubscriptionProduct], touchpointBackendResolution: services.TouchpointBackend.Resolution)(implicit request: RequestHeader)

@import model.zuora.BillingFrequency
@import utils.Prices._

@priceOption(product: model.zuora.SubscriptionProduct, descriptionSuffix: String, numberOfMonths: Int, isChecked: Boolean = false) = {
    <label class="option">
        <span class="option__input">
            <input
            type="radio" name="ratePlanId"
            data-option-mirror-label="@product.price.pretty @descriptionSuffix"
            data-amount="@product.price.pretty"
            data-number-of-months="@numberOfMonths"
            value="@product.ratePlanId"@if(isChecked){ checked}
            >
        </span>
        <span class="option__label">@product.price.pretty @descriptionSuffix</span>
    </label>
}

@main(
    title = "Checkout | Subscriptions | The Guardian",
    jsVars = JsVars.default.copy(userIsSignedIn = userIsSignedIn),
    bodyClasses = List("is-wide"),
    touchpointBackendResolutionOpt = Some(touchpointBackendResolution)
) {
<main class="page-container gs-container">

    <section class="checkout-container">
        <form class="form js-checkout-form" action="@routes.Checkout.renderCheckout().toString()" method="POST">
            @helper.CSRF.formField

            @fragments.checkout.checkoutHeader("Checkout")

            <div class="checkout-container__sidebar">
                @fragments.checkout.basketPreview(products)
                <div class="basket-options-toggle">
                    <button class="text-button u-button-reset js-toggle" data-toggle="change-payment-frequency">
                        Change payment frequency
                    </button>
                </div>
                <fieldset class="basket-billing-options is-hidden js-option-mirror-group" id="change-payment-frequency">
                    @products.find(_.frequency == BillingFrequency.Month).map { product =>
                        @priceOption(product, "every month", product.frequency.numberOfMonths, isChecked=true)
                    }
                    @products.find(_.frequency == BillingFrequency.Quarter).map { product =>
                        @priceOption(product, "every 3 months", product.frequency.numberOfMonths)
                    }
                    @products.find(_.frequency == BillingFrequency.Annual).map { product =>
                        @priceOption(product, "every 12 months", product.frequency.numberOfMonths)
                    }
                </fieldset>
                <div class="u-display-from-tablet" data-set="checkout-notices">
                    <div class="js-append">
                        @fragments.checkout.notices()
                    </div>
                </div>
            </div>

            <div class="checkout-container__form">

                @* ===== Your details ===== *@
                <div id="yourDetails" class="field-panel js-fieldset-your-details">
                    <fieldset>
                        <legend class="field-panel__legend">
                            <span class="field-panel__legend__num">1</span> Your details
                        </legend>
                        <div class="field-panel__intro">
                            <div class="field-note field-note--offset">
                                @if(userIsSignedIn) {
                                    <a href="@idWebAppSignOutUrl(routes.Checkout.renderCheckout())">Sign out</a>
                                } else {
                                    <span class="field-note__label">Already have a Guardian account?</span>
                                    <a href="@idWebAppSigninUrl(routes.Checkout.renderCheckout())">Sign in</a>
                                }
                            </div>
                        </div>
                        <div class="field-panel__edit">
                            <a href="#yourDetails" class="text-button u-button-reset js-edit-your-details" title="Edit your personal details">Edit</a>
                        </div>
                        <div class="field-panel__fields">
                            @fragments.checkout.fieldsPersonal(form, userIsSignedIn)

                            <div class="actions">
                                <a href="#paymentDetails" class="button button--primary button--large js-checkout-your-details-submit">Continue</a>
                            </div>
                        </div>
                    </fieldset>
                </div>

                @* ===== Payment ===== *@
                <div id="paymentDetails" class="field-panel is-collapsed js-fieldset-payment-details">
                    <fieldset>
                        <legend class="field-panel__legend">
                            <span class="field-panel__legend__num">2</span> Payment details
                        </legend>
                        <div class="field-panel__intro">
                            <div class="field-note field-note--offset">
                                @fragments.forms.securityNote()
                                Payment will be taken by Direct Debit
                            </div>
                        </div>
                        <div class="field-panel__edit">
                            <a href="#paymentDetails" class="text-button u-button-reset js-edit-payment-details" title="Edit your payment details">Edit</a>
                        </div>
                        <div class="field-panel__fields">
                            @fragments.checkout.fieldsPayment(form)

                            <div class="actions">
                                <a href="#formReview" class="button button--primary button--large js-checkout-payment-details-submit">Continue</a>
                            </div>
                        </div>
                    </fieldset>
                </div>

                @* ===== Review ===== *@
                <div id="formReview" class="field-panel field-panel--single is-collapsed js-fieldset-review">
                    <fieldset>
                        <legend class="field-panel__legend">
                            <span class="field-panel__legend__num">3</span> Review and confirm
                        </legend>
                        <div class="field-panel__fields">
                            @fragments.checkout.reviewDetails(form)
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="u-display-until-tablet" data-set="checkout-notices"></div>

        </form>

    </section>

</main>
}
