@import com.gu.i18n.Currency
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.memsub.subsv2.Subscription
@import com.gu.memsub.subsv2.SubscriptionPlan.ContentSubscription
@import views.support.PlanOps._
@import model.SubscriptionOps._

@import model.DigitalEdition
@(  subscription: Subscription[ContentSubscription],
    guestAccountForm: Option[Form[model.GuestAccountData]] = None,
    touchpointBackendResolution: services.TouchpointBackend.Resolution,
    promotion: Option[AnyPromotion] = None,
    startDate: String,
    edition: DigitalEdition
)(implicit request: RequestHeader)

@main(s"Confirmation | Subscribe to the ${subscription.firstPlan.title} | The Guardian", bodyClasses=List("is-wide"), touchpointBackendResolutionOpt = Some(touchpointBackendResolution), product = Some(subscription.firstProduct), edition = edition) {

<script type="text/javascript">
    guardian.pageInfo.pageType = 'Thankyou';
    guardian.pageInfo.slug="GuardianDigiPack:Order Complete";
    guardian.pageInfo.productData = {
        // Omniture
        source: 'Subscriptions and Membership',
        type: 'GUARDIAN_DIGIPACK',
        eventName: 'purchase',
        amount: 0,
        // Google Analytics
        zuoraId: '@subscription.name.get',
        productSegment: '@{subscription.firstPlan.segment}',
        productType: '@subscription.firstProduct.productType',
        productPurchased: '@{subscription.firstPlan.name}',
        promoCode: '@{promotion.map(_.description).getOrElse("")}'
        currency: '@{subscription.currency}'
    };
</script>

<main class="page-container gs-container gs-container--slim">
    @fragments.page.header("Thank you for subscribing", None, List("l-padded"))

    <section class="section-slice section-slice--bleed section-slice--limited">
        <div class="section-slice__content">
            <div class="prose prose--full">
                <p>
                    We have received your request and are now processing your subscription,
                    you'll receive email confirmation of this shortly.
                </p>
                <p>Here are the details of your subscription, if any of these are incorrect please get in touch with us straight away via email at
                    <a href="mailto:@subscription.firstProduct.email">@subscription.firstProduct.email</a> or on <strong>+44 (0) 330 333 6767</strong>.
                    Lines open weekdays 8am-8pm, weekend 8pm-6pm.</p>
            </div>
            @fragments.checkout.reviewPanel(subscription, promotion)
        </div>
    </section>

    <section class="section-slice section-slice--bleed section-slice--limited">
        <div class="section-slice__content">

            <h2 class="section-title">What happens now?</h2>

            <div class="steps">
                <h4 class="steps__title">We’ll send you an email confirming your subscription and payment information.</h4>
                @if(subscription.isVoucher) {
                    <h4 class="steps__title">You will then receive your personalised book of vouchers.</h4>
                    <h4 class="steps__title">Take your vouchers to your newsagent or where you buy your paper.</h4>
                }
                @if(guestAccountForm.isDefined) {
                    <h4 class="steps__title">You can enter a password to manage your subscription online:</h4>
                    @fragments.confirmation.registerGuestAccount(guestAccountForm)
                }
                @if(subscription.isHomeDelivery || subscription.isGuardianWeekly) {
                    <h4 class="steps__title">Your first paper will be delivered on @startDate. </h4>
                    <h4 class="steps__title">You can set up any delivery holidays in our <a class="u-link" href="/manage">Subscription Management</a> area.</h4>
                }
                @if(subscription.hasDigitalPack) { @fragments.confirmation.appSteps() }
            </div>

            <br/>
            <h4>We hope you enjoy your subscription.</h4>
        </div>
    </section>
</main>
    @{
        if(subscription.isGuardianWeekly) {
            fragments.analytics.jellyfish.weeklyConversion()
        } else {
            fragments.analytics.jellyfish.conversion()
        }
    }
}
