@()

@main("Thank you | Subscriptions | The Guardian") {

<div class="gs-container">
    @fragments.page.header("Thank you for your order")

    <div class="row row--items-2 row--border">
        <div class="row__item row__item--boost-2">
            <h2>Order ref: ABCD123456</h2>
            <p>We have received your request and are now processing your subscription, you'll receive email confirmation of this shortly.</p>
            <p>Here are the details of your order, if any of these are incorrect please get in touch with us straight away on 0800 123 456 or <a href="mailto:subscriptions@@theguardian.com">subscriptions@@theguardian.com</a></p>
            <ul class="u-unstyled-list row--border">
                <li>
                    <h3>Subscription code:</h3>
                    <ul class="u-unstyled-list">
                        <li>ZXY987654321</li>
                    </ul>
                </li>
                <li>
                    <h3>Your subscription:</h3>
                    <ul class="u-unstyled-list">
                        <li>Digital Pack</li>
                        <li><em>(Digital Edition / Guardian App Premium Tier)</em></li>
                    </ul>
                </li>
                <li>
                    <h3>Your details:</h3>
                    <ul class="u-unstyled-list">
                        <li>Sam Smith</li>
                        <li>Flat 14 Bankside House, West Hill, Putney SW15 4TS</li>
                        <li>Londoner75@@gmail.com</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row__item">
        </div>
    </div>
    <div class="row row--items-2 row--border">
        <div class="row__item row__item--boost-2">
            <h2>What happens now?</h2>
            <h3 class="row--border">Download your apps</h3>
            <ol class="row--border">
                <li>Go to each device you want your subscription on and download the Guardian app</li>
                <li>Open the app and tap the 'Settings' icon</li>
                <li>Enter your subscription code (shown above and also in your confirmation email) and your postcode</li>
            </ol>
            <h3 class="row--border">Register for an account</h3>
            <p class="row--border">Some features of your subscription require you to be signed in before you can make use of them.</p>
            <a href="#" class="button button--primary button--large">Register now</a>
        </div>
        <div class="row__item">
        </div>
    </div>
</div>

}
