@()

@import configuration.ProfileLinks

@navPopup = {
    <ul class="popup js-identity-menu" role="navigation"  aria-label="Profile menu">
        @for(link <- ProfileLinks.popupLinks) {
            <li class="popup__item">
                <a href="@link.href"
                   class="popup__link"
                   data-identity-link="@link.slug"
                   id="qa-identity-nav-@link.slug"
                >@link.title</a>
            </li>
        }
    </ul>
}

@controlUser = {
    <a href="@ProfileLinks.signIn.href"
       class="control js-identity-menu-toggle"
       id="qa-identity-control"
       title="@ProfileLinks.signIn.title"
       role="menuitem"
    >
        <span class="control__item">
            <span class="control__icon icon-holder icon-holder--large icon-holder--neutral">
            @fragments.common.inlineIcon("user")
            </span>
        </span>
        <span class="control__item u-hide-until-tablet">
            <span class="control__info">
                <span class="js-user-displayname">Sign in</span>
            </span>
        </span>
    </a>
    @navPopup
}

@controlGuardian = {
    <a class="control" href="http://theguardian.com/" role="menuitem">
        <span class="control__item">
        @fragments.common.inlineIcon("g-mark", List("icon--large"))
        </span>
        <span class="control__item u-hide-until-tablet">
            <span class="control__info">the guardian</span>
        </span>
    </a>
}

<ul class="o-inline-list">
    <li class="o-inline-list__item">
        @controlUser
    </li>
    <li class="o-inline-list__item">
        @controlGuardian
    </li>
</ul>
