@import configuration.Links
@import org.joda.time.DateTime
@import views.support.PlanOps._
@import com.gu.memsub.BillingPeriod
@import com.gu.memsub.Status
@import com.gu.memsub.PaidPlan
@import com.gu.memsub.Current
@import com.gu.subscriptions.ProductList
@import com.gu.subscriptions.ProductPlan
@(showInternationalMessage: Boolean = false, plan: Option[ProductPlan[ProductList]])

<footer class="global-footer">

    @fragments.global.brandbar()
    @fragments.global.navigation()

    <div class="global-footer__info">
        <div class="gs-container">
            @if(showInternationalMessage) {
                <p>
                    For help with Guardian and Observer subscription services please see our
                    <a href="@Links.guardianSubscriptionFaqs.href"
                       title="@Links.guardianSubscriptionFaqs.title">
                       @Links.guardianSubscriptionFaqs.title
                    </a>.
                </p>
            } else {
                <p>
                  For help with Guardian and Observer subscription services please email
                      <a href="mailto:@plan.fold("subscriptions@theguardian.com")(_.email)">@plan.fold("subscriptions@theguardian.com")(_.email)</a> or call @plan.fold("+44 (0) 330 333 6767")(_.phone). Open BST 8am to 8pm, Monday to Sunday.
                </p>
                <p>
                    You may also find help in our
                    <a href="@Links.guardianSubscriptionFaqs.href"
                       title="@Links.guardianSubscriptionFaqs.title">
                       @Links.guardianSubscriptionFaqs.title.
                    </a>
                </p>
            }
            <small class="global-footer__copyright">
                &copy; @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies.
                All rights reserved. Build #@app.BuildInfo.buildNumber
            </small>
            <!-- build-commit-id: @app.BuildInfo.gitCommitId -->
        </div>
    </div>

</footer>
