@import com.gu.i18n.Country
@import com.gu.memsub.Product
@import com.gu.memsub.Product.Digipack
@import model.DigitalEdition
@import org.joda.time.DateTime
@import views.support.PlanOps._
@(maybeProduct: Option[Product], edition: DigitalEdition, contactUsCountry: Option[Country])

@email = @{maybeProduct.email(contactUsCountry)}
@phone = @{maybeProduct.phone(contactUsCountry)}
<footer class="global-footer">

    @fragments.global.brandbar()
    @fragments.global.navigation(edition, managementPage = false)

    <div class="global-footer__info">
        <div class="gs-container">
            By proceeding, you are agreeing to our
            <a href="@maybeProduct.getOrElse(Digipack).termsAndConditionsHref"
                title="Terms and Conditions">
                Terms and Conditions
            </a>.
                To find out what personal data we collect and how we use it, please visit our
                <a href="https://www.theguardian.com/help/privacy-policy"
                    title="Privacy Policy">
                    Privacy Policy
                </a>.
            <p>
              For help with Guardian and Observer subscription services please email
                  <a href="mailto:@email">@email</a> or call @phone
            </p>
            <p>
                You may also find help in our
                <a href="@maybeProduct.getOrElse(Digipack).faqHref"
                   title="Frequently Asked Questions">
                   Frequently Asked Questions
                </a>
                and the @maybeProduct.getOrElse(Digipack).productType
                    <a href="@maybeProduct.getOrElse(Digipack).termsAndConditionsHref"
                title="Terms and Conditions">
                    Terms and Conditions
                </a>.
            </p>
            <small class="global-footer__copyright">
                &copy; @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies.
                All rights reserved. Build #@app.BuildInfo.buildNumber
            </small>
            <!-- build-commit-id: @app.BuildInfo.gitCommitId -->
        </div>
    </div>

</footer>
