@import configuration.Links
@import org.joda.time.DateTime
@import com.gu.memsub.BillingPeriod
@import views.support.PlanOps._
@import com.gu.memsub.subsv2.CatalogPlan
@import com.gu.memsub.Current
@import model.DigitalEdition
@import com.gu.memsub.Product

@(product: Option[Product], edition: DigitalEdition)

<footer class="global-footer">

    @fragments.global.brandbar()
    @fragments.global.navigation(edition, false)

    <div class="global-footer__info">
        <div class="gs-container">
            <p>
                your edition is @{edition.countryGroup.name}
              For help with Guardian and Observer subscription services please email
                  <a href="mailto:@product.fold("subscriptions@theguardian.com")(_.email)">@product.fold("subscriptions@theguardian.com")(_.email)</a> or call +44 (0) 330 333 6767. Open BST 8am to 8pm, Monday to Sunday.
            </p>
            <p>
                You may also find help in our
                <a href="@product.map(_.faqHref).getOrElse("https://www.theguardian.com/subscriber-direct/subscription-frequently-asked-questions")"
                   title="Frequently Asked Questions">
                   Frequently Asked Questions.
                </a>
            </p>
            <small class="global-footer__copyright">
                &copy; @{new DateTime().year.getAsText} Guardian News and Media Limited or its affiliated companies.
                All rights reserved. Build #@app.BuildInfo.buildNumber
            </small>
            <!-- build-commit-id: @app.BuildInfo.gitCommitId -->
        </div>
    </div>

</footer>
