@import model.DigitalEdition
@import views.support.DigitalEdition._

@import model.DigitalEdition.UK
@(edition: DigitalEdition)
<nav class="global-nav">
    <div class="global-nav__inner gs-container">
        <a href="/?INTCMP=GU_SUBSCRIPTIONS_NAV" class="global-nav__link">home</a>
        <a href="/@edition.id/digital" class="global-nav__link">digital</a>
        @if(edition == UK) {
            <a href="/collection/paper" class="global-nav__link">paper</a>
        }
        <a href="/weekly?INTCMP=GU_SUBSCRIPTIONS_NAV" class="global-nav__link">weekly</a>
        <a  href="/manage?INTCMP=GU_SUBSCRIPTIONS_NAV" class="global-nav__link global-nav__link--right">manage</a>
    </div>
</nav>
