<noscript>
    <div class="warning-message warning-message--javascript">
        <strong>Please enable JavaScript</strong>&ndash;we use it to enhance behaviour for Guardian Subscriptions.
        <a href="http://www.enable-javascript.com/">See instructions to do so in your browser</a>.
    </div>
</noscript>
<div class="warning-message warning-message--browser">
    You are using an <strong>outdated</strong> browser.
    If possible <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
