@import com.gu.cas.SubscriptionCode
@()(implicit request: RequestHeader)

@main("CAS lookup") {
    @helper.CSRF.formField
    <main class="page-container gs-container gs-container--slim">
        <div id="cas-tool">
            <p class="error" data-cas-error></p>
            <h2>Find a subscription</h2>
            <form action="/staff/cas/subscription" id="cas-subscription-form" method="POST">
                <fieldset>
                    <div class="form-field">
                        <label class="label" for="cas.number">Subscription Number</label>
                        <input type="text" class="input-text js-input input-text"
                        id="cas.number" name="cas.number" required>
                    </div>

                    <div class="form-field">
                        <label class="label" for="cas.lastName">Last Name</label>
                        <input type="text" class="input-text js-input input-text"
                        d="cas.lastName" name="cas.lastName" required>
                    </div>

                    <div class="form-field">
                        <label class="label" for="cas.postcode">Postcode (Optional)</label>
                        <input type="text" class="input-text js-input input-text"
                        id="cas.postcode" name="cas.postcode">
                    </div>

                    <div class="form-field">
                        <input type="submit" class="input-submit js-input button button--primary button--medium" value="Search">
                    </div>

                    @for((label, field) <- Map(
                        "Expiry Type" -> "expiryType",
                        "Provider" -> "provider",
                        "Expiry Date" -> "expiryDate",
                        "Subscription Code" -> "subscriptionCode",
                        "Content" -> "content")) {
                        <dl data-cas-result="@field">
                            <dt>@label</dt>
                            <dd></dd>
                        </dl>
                    }

                </fieldset>
            </form>

            <h2>Generate a token</h2>
            <form action="/staff/cas/token" id="cas-generate-token-form" method="POST">
                <fieldset>
                    <div class="form-field">
                        <label class="label" for="cas.period">Validity period (weeks)</label>
                        <select required name="cas.period" >
                        @for(w <- Range(1, 14)) {
                            <option value="@w">@w</option>
                        })
                        </select>
                    </div>

                    <div class="form-field">
                        <label class="label" for="cas.creationDateOffset">Creation date offset (days)</label>
                        <select required name="cas.creationDateOffset">
                            @for(d <- Range(1, 30)) {
                                <option value="@d">@d</option>
                            })
                        </select>
                    </div>

                    <div class="form-field">
                        <label class="label" for="cas.subscriptionCode">Subscription code</label>
                        <select required name="cas.subscriptionCode">
                            @for(code <- SubscriptionCode.all) {
                                <option value="@code.toString">@code.toString</option>
                            })
                        </select>
                    </div>

                    <div class="form-field">
                        <input type="submit" class="input-submit js-input button button--primary button--medium" value="Generate">
                    </div>

                    <p class="pattern__title" data-cas-token></p>

                </fieldset>
            </form>
        </div>
    </main>
}
