/* ==========================================================================
   Base
   ========================================================================== */

/**
 * Use border-box model
 * for all elements.
 */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: $f-serif-headline;
    @include font-smoothing();
}

body {
    color: $c-body;
    background-color: $c-bg;
    margin: 0;
    line-height: 1.5;
}

h1, h2, h3 {
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: "kern" 1, "liga" 1;
    font-feature-settings: "kern" 1, "liga" 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: inherit;
    font-weight: guss-font-weight(medium);
}

p {
    margin-top: 0;
    margin-bottom: $gs-baseline * 1.33;
}

a {
    text-decoration: none;
}

strong {
    font-weight: guss-font-weight('ultrablack');
}

ol,
ul {
    margin: 0;
    padding: 0 0 0 $gs-gutter;
    list-style-position: outside;
}

img {
    border: none;
    display: block;
    max-width: 100%;
}

/**
 * Reset address element defaults
 */
address {
    font-style: normal;
}
