/* ==========================================================================
   Helpers
   ========================================================================== */

%u-h,
.u-h {
    @include u-h;
}

.u-unstyled-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.u-note {
    @include fs-textSans(3);
    color: $c-neutral2;
}

.u-pad-top {
    padding-top: $gs-baseline;
}
.u-pad-bottom {
    padding-bottom: $gs-baseline;
}

.u-button-reset {
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}

.u-link {
    color: $c-link;
    text-decoration: none;
    border-bottom: 1px solid $c-neutral4;

    &:hover,
    &:focus {
        border-color: $c-link-hover
    }

    &:active {
        color: $c-link-active;
        border-color: $c-link-active;
    }
}

.break-tablet {
    @include mq(tablet) {
        display: block;
    }
}
