/* ==========================================================================
   Helpers
   ========================================================================== */

%u-h,
.u-h {
    @include u-h;
}

.u-unstyled-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.u-button-reset {
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}

.inline-list {
    @extend .u-unstyled-list;
}

.inline-list__item {
    display: inline-block;
}

.is-hidden,
[hidden] {
    display: none !important;
}

.hide-on-mobile {
    @include mq($until: tablet) {
        display: none !important;
    }
}

.mobile-only {
    @include mq(tablet) {
        display: none !important;
    }
}

.visible {
    display: inline-block !important;
}

.break-tablet {
    @include mq(tablet) {
        display: block;
    }
}
