/* ==========================================================================
   Layout
   ========================================================================== */

@include grid-system;

// TODO: Should this be done with config, not just overriding??
.gs-container {
    @include clearfix();
    @include container-padding();
    max-width: mq-get-breakpoint-width('desktop');
}

/**
 * TODO: Combine with .gs-container
 * All pages should be wide
 */
body.is-wide {
    .gs-container {
        max-width: mq-get-breakpoint-width('wide');
    }
}
/**
 * TODO: Combine with .gs-container
 * Container should not have padding,
 * only width / layout.
 */
.gs-container--slim {
    padding-left: 0;
    padding-right: 0;
}

.l-padded {
    @include container-padding();
}

// Setup rows
@include guss-row-utility;
@include guss-row('.row');

.row {
    padding-bottom: 10px;
}

.row--border {
    border-top: 1px solid $c-neutral5;
    padding-top: 8px;
}

.row__item {
    margin-bottom: 10px;

    @include mq(tablet) {
        & + & {
            border-left: $gs-gutter solid $c-white;
        }
    }
}
