/* ==========================================================================
   Layout
   ========================================================================== */

/**
 * Use flexbox for sticky footer
 * @see http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.global-container {
    flex: 1 1 auto;
}

/* Grid System
   ========================================================================== */

@include grid-system;

/**
 * TODO:
 * Container should not have padding,
 * only width / constraints.
 */
.gs-container {
    @include clearfix();
    @include container-padding();
    max-width: mq-get-breakpoint-width('desktop');
}

/**
 * TODO: Combine with .gs-container
 * All pages should be wide
 */
body.is-wide {
    .gs-container {
        max-width: mq-get-breakpoint-width('wide');
    }
}

/**
 * TODO: Combine with .gs-container
 * Container should not have padding,
 * only width / constraints.
 */
.gs-container--slim {
    padding-left: 0;
    padding-right: 0;
}

/* Grid Rows
   ========================================================================== */

// Setup rows
@include guss-row-utility;
@include guss-row('.row');

.row {
    padding-bottom: 10px;
}

.row--border {
    border-top: 1px solid $c-neutral5;
    padding-top: 8px;
}

.row__item {
    margin-bottom: 10px;

    @include mq(tablet) {
        & + & {
            border-left: $gs-gutter solid $c-white;
        }
    }
}

/* Layout Helpers
   ========================================================================== */

.l-padded {
    @include container-padding();
}
