@keyframes show {
    0% {
        opacity: 0;
        max-height: 0;

        margin: 0;
        padding: 0;
    }
    10% {
        opacity: 0;
        max-height: 0;

        margin: 0;
        padding: 0;
    }
    90% {
        opacity: 0;
        max-height: 200px;
        margin: auto;
        padding: auto;
    }

    100% {
        opacity: 1;
        max-height: 200px;
        margin: auto;
        padding: auto;
    }

}
@keyframes hide {
    0% {
        opacity: 1;
        max-height: 200px;
        margin: auto;
        padding: auto;
    }
    10% {
        opacity: 0;
        max-height: 200px;
        margin: auto;
        padding: auto;
    }
    90% {
        opacity: 0;
        max-height: 0;

        margin: 0;
        padding: 0;
    }
    100% {
        opacity: 0;
        max-height: 0;

        margin: 0;
        padding: 0;
    }
}
.animate-hide {
    animation-name: hide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.animate-show {
    animation-name: show;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.animate-hide-hidden {
    opacity: 0;
    max-height: 0;

    margin: 0;
    padding: 0;}
