@mixin showing {
    opacity: 1;
    max-height: 2000px;
    overflow:hidden;
    margin-bottom: 12px;
}

@mixin hidden {
    opacity: 0;
    max-height: 0;
    overflow:hidden;
    margin-bottom: 0;
}

@keyframes show {
    0% {
        @include hidden;
    }
    20% {
        margin-bottom: 12px;
        opacity: 0;
    }
    100% {
        @include showing;
    }
}

@keyframes hide {
    0% {
        @include showing;
    }
    80% {
        margin-bottom: 12px;
        opacity: 1;
    }
    100% {
        @include hidden;
    }
}

.animate-hide {
    animation-name: hide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-play-state: running;
}

.animate-show {
    animation-name: show;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.animate-hide-hidden {
    @include hidden;
}

.animate-show-shown .package__supl{
    opacity: 0;
    transition: 1s ease-in-out;
}
