/* ==========================================================================
   Checkout / Basket
   ========================================================================== */

/* Basket Preview
   ========================================================================== */

.basket-preview {
    @include clearfix();
    @include fs-headline(2);

    @include mq($from: phablet, $until: desktop) {
        // Magic number
        min-height: 100px;
    }
}

.basket-preview__image {
    width: 300px;
    @include mq($until: desktop) {
        width: 150px;
    }

}
.basket-preview__title {
    font-family: inherit;
    @include fs-header(2);
    font-weight: guss-font-weight(bold);
    border-top: 1px solid $c-neutral5;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;
    display: block;

    @include mq($until: desktop) {
        @include fs-textSans(3);
    }
}
.basket-preview__product {
    display: inline-block;
    padding-top: $gs-baseline / 2;
}
.basket-preview__product__title {
    font-weight: guss-font-weight(bold);
    display: block;

    @include mq($until: desktop) {
        @include fs-textSans(3);
    }
}
.basket-preview__product__caption {
    display: inline-block;
    font-weight: normal;

    @include mq($until: desktop) {
        @include fs-textSans(3);
    }

}
.basket-preview__product__payment {
    display: block;

    @include mq($until: desktop) {
        @include fs-textSans(3);
    }
}

.basket-options-toggle {
    display: block;
    margin-bottom: $gs-baseline;
}
.basket-billing-options {
    border: 1px solid $c-border;
    border-radius: 10px;
    padding: $gs-gutter;
    margin-bottom: $gs-baseline;

    @include mq($from: phablet, $until: desktop) {
        max-width: 60%;
    }
}
