/* ==========================================================================
   Checkout
   ========================================================================== */

.checkout-header {
    padding: ($gs-gutter / 2) 0 ($gs-baseline * 3);

    @include mq(desktop) {
        padding-left: 22.5%;
        padding-bottom: $gs-gutter * 2;
    }
}
.checkout-header__title {
    @include fs-headline(6);

    @include mq(tablet) {
        @include fs-headline(8, true);
    }
}

.checkout-container {
    @include clearfix();
    padding-bottom: $gs-gutter * 2;
}
.checkout-container__form {
    @include mq(tablet) {
        float: left;
        width: 65%
    }
}
.checkout-container__sidebar {
    @include mq(tablet) {
        float: right;
        width: 35%;
        padding-left: $gs-gutter;
    }
    @include mq(wide) {
        padding-left: gs-span(1.5);
    }
}

/* Country Select
   ========================================================================== */

.country-select {
    border-top: 1px solid $c-border;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;

    @include mq(desktop) {
        display: table;
        width: 100%
    }
}
.country-select__title,
.country-select__content {
    @include mq(desktop) {
        display: table-cell;
        vertical-align: top;
    }
}
.country-select__title {
    @include fs-header(3);
    color: $c-brand;
    margin-bottom: $gs-gutter;

    @include mq(desktop) {
        width: 35%;
        padding-right: ($gs-gutter * 2);
    }
}

/* Basket Preview
   ========================================================================== */

.basket-preview {
    @include fs-header(2);
    margin-bottom: $gs-gutter;
}
.basket-preview__title {
    font-weight: bold;
    border-top: 1px solid $c-neutral5;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-gutter;
}
.basket-preview__image {
    border-bottom: 1px solid $c-neutral5;
    margin-bottom: $gs-baseline;
}
.basket-preview__product {
    margin-bottom: $gs-baseline / 4;
}
.basket-preview__product__caption {
    font-weight: normal;
    font-style: italic;
}
.basket-preview__payment {
    font-weight: normal;
}

/* Notice
   ========================================================================== */

.notice {
    @include fs-textSans(2);
    border-top: 1px dotted $c-neutral5;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;
}
.notice__header {
    font-weight: 900;
}

/* Review Details
   ========================================================================== */
// TODO: Refactor

.review-details {
    // Root element
}
.review-details__heading {
    @include fs-bodyHeading(2);

    @include mq(tablet) {
        float: left;
        width: gs-span(2);
        text-align: right;
    }
}
.review-details__list {
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        margin-left: gs-span(2) + $gs-gutter;
    }
}
.review-details__detail {
    display: inline-block;
    width: gs-span(2);
}

/* ==========================================================================
   Review Panel
   ========================================================================== */

.review-panel {
    @include fs-bodyCopy(2);
    background: $c-neutral7;
    border-top: 1px solid $c-border;
    padding: $gs-gutter / 2;
}
.review-panel__item {
    padding-bottom: $gs-baseline;

    @include mq(tablet) {
        display: table;
        width: 100%
    }
}
.review-panel__label,
.review-panel__details {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: top;
    }
}
.review-panel__label {
    font-weight: bold;

    @include mq(tablet) {
        text-align: right;
        padding-right: $gs-gutter;
        width: gs-span(3);
    }
}
