/* ==========================================================================
   Checkout / Basket
   ========================================================================== */

/* Basket Preview
   ========================================================================== */

.basket-preview {
    @include clearfix();
    @include fs-headline(2);
    margin-bottom: $gs-gutter * 2;
    position: relative;

    @include mq($until: tablet) {
        color: $c-neutral2;
    }

    @include mq($from: phablet, $until: tablet) {
        margin-bottom: 0;
        // Magic number
        min-height: 100px;
    }

    @include mq(tablet) {
        margin-bottom: $gs-gutter;
    }
}
.basket-preview__image {
    display: none;

    @include mq(phablet) {
        display: block;
    }

    @include mq($from: phablet, $until: tablet) {
        position: absolute;
        right: 0;
        bottom: 0;
        // Semi-magic number
        // Pull image up next to title
        margin-top: -30px;
        width: 220px;
    }

    @include mq(tablet) {
        border-bottom: 1px solid $c-neutral5;
        margin-bottom: $gs-baseline;
    }
}
.basket-preview__title {
    display: inline-block;
    font-weight: normal;
    font-family: inherit;
    display: inline-block;

    @include mq(tablet) {
        @include fs-header(2);
        font-weight: guss-font-weight(bold);
        border-top: 1px solid $c-neutral5;
        padding-top: $gs-baseline / 2;
        margin-bottom: $gs-gutter;
        display: block;
    }
}
.basket-preview__product {
    display: inline-block;
    margin-bottom: $gs-baseline / 4;
}
.basket-preview__product__title {
    @include mq(tablet) {
        font-weight: guss-font-weight(bold);
    }
}
.basket-preview__product__caption {
    display: none;

    @include mq(tablet) {
        display: inline-block;
        font-weight: normal;
        font-style: italic;
    }
}
.basket-preview__product__payment {
    @include mq(tablet) {
        display: block;
        margin: ($gs-baseline / 2) 0;
    }
}

.basket-preview--products {
    .basket-preview__product__title {
        &::after {
            content: ', ';
            // Magic-number
            // Align , with text
            margin-left: -2px;
            display: inline-block;
        }
        @include mq(tablet) {
            &::after {
                content: '';
            }
        }
    }
}

.basket-options-toggle {
    display: block;
    margin-bottom: $gs-baseline;
}
.basket-billing-options {
    border: 1px solid $c-border;
    border-radius: 10px;
    padding: $gs-gutter;

    @include mq($from: phablet, $until: tablet) {
        max-width: 60%;
        margin-bottom: $gs-baseline;
    }
}
