/* ==========================================================================
   Checkout
   ========================================================================== */

.checkout-header {
    padding: ($gs-gutter / 2) 0 ($gs-baseline / 2);

    @include mq(desktop) {
        padding-left: 22.5%;
        padding-bottom: $gs-gutter * 2;
    }
}
.checkout-header__title {
    @include fs-headline(6);

    @include mq(tablet) {
        @include fs-headline(8, true);
    }
}

.checkout-container {
    @include clearfix();
    padding-bottom: $gs-gutter * 2;
}
.checkout-container__form {
    margin-bottom: $gs-baseline;

    @include mq(desktop) {
        float: left;
        width: 65%
    }
}
.checkout-container__sidebar {
    position: relative;

    @include mq(desktop) {
        float: right;
        width: 35%;
        padding-left: $gs-gutter;
    }
    @include mq(wide) {
        padding-left: gs-span(1.5);
    }
}
.checkout-container__frequency {
    cursor: pointer;
}

/* Country Select
   ========================================================================== */

.country-select {
    border-top: 1px solid $c-border;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;

    @include mq(desktop) {
        display: table;
        width: 100%
    }
}
.country-select__title,
.country-select__content {
    @include mq(desktop) {
        display: table-cell;
        vertical-align: top;
    }
}
.country-select__title {
    @include fs-header(3);
    color: $c-brand;
    margin-bottom: $gs-gutter;

    @include mq(desktop) {
        width: 35%;
        padding-right: ($gs-gutter * 2);
    }
}

/* Notice
   ========================================================================== */

.notices-container {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}
.notice {
    @include fs-textSans(2);
    border-top: 1px dotted $c-neutral5;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;
}
.notice__header {
    font-weight: 900;
}

/* Direct Debit
   ========================================================================== */

.direct-debit {
    margin: $gs-gutter 0 0;
}
.direct-debit__logo,
.direct-debit__disclaimer {
    margin-bottom: $gs-baseline / 2;
}

/* Credit/Debit Card
   ========================================================================== */

.card-choices {
    margin-top: -5px;
    margin-bottom: 5px;
}

.card-number {
    position: relative;
}
.card-number__icon {
    position: absolute;
    right: $input-border-radius;
    top: 2px;
}
.card-expiry__field {
    display: inline-block;
    margin-right: 4px;
    &:last-child {
        margin-right: $gs-gutter;
    }
}

/* Payment Cards Sprite
   ========================================================================== */

$sprite-card-width: 108px; // target = 35 aka n/3
$sprite-card-height: 70px;
$sprite-card-offset-american-express:        0;
$sprite-card-offset-diners-club:         -71px;
$sprite-card-offset-discover:           -142px;
$sprite-card-offset-jcb:                -213px;
$sprite-card-offset-mastercard:         -284px;
$sprite-card-offset-visa:               -355px;

// by default we scale the 2x image down by half
// for retina displays
.sprite-card {
    background: url(/assets/images/card-sprite.png) no-repeat top left;
    display: inline-block;
    vertical-align: middle;
    background-size: $sprite-card-width/2 auto; // scales 2x image down
    width: $sprite-card-width/2;
    height: $sprite-card-height/2;
}

.sprite-card--american-express { background-position: 0 $sprite-card-offset-american-express/2; }
.sprite-card--diners-club { background-position: 0 $sprite-card-offset-diners-club/2; }
.sprite-card--discover { background-position: 0 $sprite-card-offset-discover/2; }
.sprite-card--jcb { background-position: 0 $sprite-card-offset-jcb/2; }
.sprite-card--mastercard { background-position: 0 $sprite-card-offset-mastercard/2; }
.sprite-card--visa { background-position: 0 $sprite-card-offset-visa/2; }

// variant for 1/3rd size
.sprite-card--small {
    background-size: $sprite-card-width/3 auto;
    width: $sprite-card-width/3;
    height: $sprite-card-height/3;
    &.sprite-card--american-express { background-position: 0 $sprite-card-offset-american-express/3; }
    &.sprite-card--diners-club { background-position: 0 $sprite-card-offset-diners-club/3; }
    &.sprite-card--discover { background-position: 0 $sprite-card-offset-discover/3; }
    &.sprite-card--jcb { background-position: 0 $sprite-card-offset-jcb/3; }
    &.sprite-card--mastercard { background-position: 0 $sprite-card-offset-mastercard/3; }
    &.sprite-card--visa { background-position: 0 $sprite-card-offset-visa/3; }
}

// used to toggle unknown types
.sprite-card--unknown {
    visibility: hidden;
}

/* Review Details
   ========================================================================== */

.review-details {
    @include fs-bodyCopy(2);
}
.review-details__item {
    margin-bottom: $gs-gutter;

    @include mq(tablet) {
        display: table;
        width: 100%
    }
}
.review-details__heading,
.review-details__list {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: top;
    }
}
.review-details__heading {
    @include fs-bodyHeading(2);

    @include mq(tablet) {
        width: 35%;
        padding-right: $gs-gutter;
        text-align: right;
    }
}
.review-details__actions {
    @include mq(tablet) {
        margin-left: 35%;
    }
}


/* ==========================================================================
   Review Panel
   ========================================================================== */

.review-panel {
    @include fs-bodyCopy(2);
    background: $c-neutral7;
    border-top: 1px solid $c-border;
    padding: $gs-gutter / 2;
}
.review-panel__item {
    padding-bottom: $gs-baseline;

    @include mq(tablet) {
        display: table;
        width: 100%
    }
}
.review-panel__label,
.review-panel__details {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: top;
    }
}
.review-panel__label {
    font-weight: bold;

    @include mq(tablet) {
        text-align: right;
        padding-right: $gs-gutter;
        width: gs-span(3);
    }
}

/* ==========================================================================
   Thank you page
   ========================================================================== */
.finish-account {
    @include fs-bodyCopy(2);
    background: $c-neutral7;
    margin-bottom: $gs-gutter / 2;
    padding: $gs-gutter / 2;
}
.finish-account-error {
    color: guss-colour(error);
}
