/* ==========================================================================
   Checkout
   ========================================================================== */

/* Basket Preview
   ========================================================================== */

.basket-preview {
    @include fs-header(2);
    margin-bottom: $gs-gutter;
}
.basket-preview__title {
    font-weight: bold;
    border-top: 1px solid $c-neutral5;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-gutter;
}
.basket-preview__product {
    margin-bottom: $gs-baseline / 2;
}
.basket-preview__product__caption {
    font-weight: normal;
    font-style: italic;
}
.basket-preview__payment {
    font-weight: normal;
}

/* Notice
   ========================================================================== */

.notice {
    @include fs-textSans(2);
    border-top: 1px dotted $c-neutral5;
    padding-top: $gs-baseline / 2;
    margin-bottom: $gs-baseline;
}
.notice__header {
    font-weight: 900;
}


/* Review Details
   ========================================================================== */

.review-details--bg {
    background: $c-neutral8;
    border-top: 1px solid $c-neutral5;
    padding: $gs-gutter/2;
}
.review-details__heading {
    @include fs-bodyHeading(2);

    @include mq(tablet) {
        float: left;
        width: gs-span(2);
        text-align: right;
    }
}
.review-details__list {
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        margin-left: gs-span(2) + $gs-gutter;
    }
}
.review-details__detail {
    display: inline-block;
    width: gs-span(2);
}
