/* Digital pack */

.digital-pack {
    .page-header {
        margin-bottom: $gs-baseline*2;
    }
}

// CONTAINERS

$left-column: gs-span(2);

.digital-pack {
    .gs-container {
        max-width: mq-get-breakpoint-width('leftCol');
    }
    .dp-container {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2 * $gs-baseline;

        @include mq(tablet, $until: desktop) {
            max-width: mq-get-breakpoint-width('tablet');
        }
        @include mq(desktop, $until: leftCol) {
            max-width: mq-get-breakpoint-width('desktop');
        }
        @include mq(leftCol) {
            max-width: mq-get-breakpoint-width('leftCol');
            position: relative;
            overflow: auto;
        }
    }
}

.dp-container__header {
    @include mq(leftCol) {
        float: left;
        width: $left-column + $gs-gutter;
    }

    @include mq($until: leftCol) {
        overflow: hidden;
    }
}
.dp-container__header__title {
    @include fs-header(3);
    font-size: 1.25rem;
    color: $c-brand;
    margin-left: $gs-gutter;
}

.dp-container__body {
    padding: 0 $gs-gutter;

    @include mq(leftCol) {
        float: left;
        width: mq-get-breakpoint-width('leftCol') - $left-column - $gs-gutter;
    }
    @include mq($until: leftCol) {
        overflow: hidden;
    }
}

.dp-container__body--main {
    @include mq(leftCol) {
        border-top: 1px solid $c-neutral4;
        padding-top: $gs-row-height / 4;
    }
}

// ROWS

@include guss-row('.dp-row');

.dp-row {
    list-style-position: inside;
    position: relative;
    padding-left: 0;
}

.dp-row--border {
    border-width: 0px;
}

.dp-row__item {
    float: left;
    width: 90%;

    @include mq(tablet) {
        & + & {
            border-left: $gs-gutter solid $c-white;
        }
    }

}

.dp-row__item + .dp-row__item {
    @include mq(tablet) {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid $c-neutral4;
    }
}

.dp-row__item__title {
    padding-bottom: 1rem;

    @include mq($until: leftCol) {
        border-top: 1px solid $c-neutral4;
    }
}
.dp-row__item--numbered__bullet {
    float: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.dp-row__item--numbered__body {
    padding-left: 1rem;
}
// editions
@include guss-row('.dp-edition-row');
.dp-edition {
    background: $c-neutral7;
    padding: $gs-baseline $gs-gutter/2;
    @include mq($until: tablet) {
        margin-bottom: $gs-baseline;
    }
}

// COLUMNS
@include guss-columns('.dp-cols');
.dp-cols__item {
    width: gs-span(2)+$gs-gutter*2;
    margin-right: $gs-gutter;
    margin-bottom: $gs-baseline;
    border-top: 1px solid $c-neutral4;
    vertical-align: top;

    @include mq($until: tablet) {
        width: 100%;
    }
}

// PRICE

.digital-cta__price {
    @include font-size(21px, 27px);

    @include mq(tablet) {
        text-align: right;
    }
}

.digital-cta__promo {
    @include fs-header(5);
    color: $c-neutral1;
}

.digital-cta__payment {
    color: $c-neutral2;
}

.digital-cta__button {
    @include mq(tablet) {
        margin: 7px $gs-gutter;
        text-align: left;
    }
}
