/* ==========================================================================
   Forms
   ========================================================================== */

legend {
    padding: 0;
    display: table;
}
fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

// Field Panel
// ============================================================================

.field-panel {
    position: relative;
    background-color: $c-neutral7;
    margin: 0;
    border: 0;
    border-top: 1px solid $c-neutral5;
    padding: ($gs-gutter / 2);

    @include mq(tablet) {
        @include clearfix();
    }
}
.field-panel__legend {
    width: 100%;
    @include fs-header(3);
    margin-bottom: $gs-baseline / 2;
}
.field-panel__legend__num {
    color: lighten($c-neutral1, 20%);
    display: inline-block;
    width: $gs-gutter;
}
.field-panel__intro {
    @include mq(tablet) {
        width: 35%;
        float: left;
        clear: left;
        padding-right: $gs-gutter / 2;
    }
    @include mq(desktop) {
        padding-right: $gs-gutter * 2;
    }
}
.field-panel__fields {
    padding-bottom: $gs-baseline * 2;

    @include mq(tablet) {
        float: right;
        width: 65%;
    }
}

.field-panel__edit {
    @include fs-textSans(1);
    position: absolute;
    top: $gs-baseline;
    right: $gs-gutter;
    text-transform: lowercase;

    display: none;
}

.field-panel--single {
    .field-panel__intro,
    .field-panel__fields {
        display: block;
        width: auto;
    }
    @include mq(tablet) {
        .field-panel__fields {
            display: block;
        }
    }
}

.field-panel.is-complete {
    .field-panel__edit {
        display: block;
    }
}
.js-on .field-panel.is-collapsed {
    .field-panel__intro,
    .field-panel__fields {
        display: none;
    }
}

// Field Notes
// ============================================================================

.field-note {
    @include fs-textSans(2);
    color: lighten($c-neutral1, 15%);
}
.field-note__label {
    margin-left: .2em;

    @include mq(desktop) {
        display: block;
        margin-left: 0;
    }
}
.field-note--offset {
    @include mq(desktop) {
        // Semi-magic number
        // Optical alignment with field headline
        padding-left: $gs-gutter + 3px;
    }
}

// Form labels and inputs
// ============================================================================

.label {
    @include fs-bodyCopy(2);
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

/**
 * Fix a bug Internet Explorer 8 where text in password fields
 * would become invisible when `font-family` references a webfont.
 *
 * @group forms
 */
[type=password] {
    font-family: sans-serif !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

.input-text,
.input-textarea {
    @include f-textSans();
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: 1px solid $c-neutral4;
    padding: ($gs-baseline / 2) $gs-baseline;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;

    &:focus {
        border-color: $c-neutral3;
    }

    &[readonly] {
        background-color: $c-neutral7;
        color: $c-neutral2;
    }
    &[readonly]:focus {
        border-color: $c-neutral4;
    }
}
.input-text--small {
    width: 30%;
}
.input-text--xsmall {
    width: 15%;
}

.input-textarea {
    resize: vertical;
}

/**
 * Option
 * checkbox/radio input
 */
.option-title {
    @include fs-textSans(3);
    font-weight: guss-font-weight(regular);
    margin-bottom: $gs-baseline / 2;
}
.option {
    cursor: pointer;
    margin-bottom: $gs-baseline / 4;
    display: table;
}
.option__input,
.option__label {
    display: table-cell;
    vertical-align: top;
}
.option__input {
    position: relative;
    top: -1px; // Optical alignment
    width: 1em;
    padding-right: $gs-baseline / 2;
}
.option__label {
    @include fs-textSans(3);
}

/**
 * Selects
 */
.select {
    font: inherit;
}
.select--wide {
    width: 100%;
}

// Form field
// ============================================================================

.form-field {
    margin-bottom: ($gs-baseline);
}
.form-field__error-message {
    @include fs-data(3);
    color: guss-colour(error);
    margin-top: 2px;
    margin-bottom: ($gs-baseline / 2);
    display: none;
}
.form-field--no-margin {
    margin-bottom: 0;
}
.form-field--error {
    .label {
        color: guss-colour(error);
    }

    .form-field__error-message {
        display: block;
    }

    .input-text,
    .input-text:focus,
    .input-textarea,
    .input-textarea:focus {
        border-color: guss-colour(error);
    }
}

/* Form Notes
   ========================================================================== */

.form-note {
    @include fs-textSans(1);
    color: $c-neutral2;
    padding-top: ($gs-baseline / 2);
    margin-bottom: ($gs-baseline / 2);
}
.form-note--left {
    @include mq(mobile) {
        float: left;
    }
}
.form-note--right {
    @include mq(mobile) {
        text-align: right;
        margin-left: $gs-gutter;
    }
}
.form-note--underneath {
    margin-top: ($gs-baseline / 2);
}

.security-note {
    @include fs-textSans(2);
    color: $c-neutral2;
    margin-bottom: $gs-baseline / 2;
}

/* Form Extras
   ========================================================================== */

.optional-marker:after {
    @include fs-textSans(1);
    color: $c-neutral2;
    vertical-align: middle;
    margin-left: .25em;
    content: '(optional)';
}
