/* ==========================================================================
   Footer
   ========================================================================== */

.global-footer {
    // background-color: $c-brand-mid;
}
.global-footer__info {
    @include fs-textSans(3);
    color: $c-neutral4;
    background-color: guss-colour(multimedia-support-4);
    padding: ($gs-baseline * 2) 0;

    @include mq(tablet) {
        padding: ($gs-baseline * 2) $gs-gutter;
    }

    p {
        margin-bottom: 0;
    }

    a {
        color: inherit;
        border-bottom: 1px solid $c-neutral2;
    }
}
.global-footer__copyright {
    @include fs-textSans(1);
    border-top: 1px solid $c-neutral2;
    margin-top: $gs-gutter;
    padding-top: $gs-baseline / 2;
    display: block;
}

.global-brandbar {
    background-color: $c-brand-tint;

    .action {
        border: none;
        color: $c-white;
        @include font-size(14px, 36px);
        text-decoration: none;
        text-transform: lowercase;
    }
}
.global-brandbar__inner {
    background-color: $c-brand;
}
