/* ==========================================================================
   Global Header
   ========================================================================== */

/* ==========================================================================
   Global Header
   ========================================================================== */

.global-header {
    background-color: $c-brand;
    position: relative;
    z-index: 2;
}
.global-header__inner {
    @include clearfix();
    padding-top: ($gs-gutter / 2);
    padding-bottom: ($gs-gutter / 2);

    @include mq(tablet) {
        padding-bottom: $gs-baseline * 2;
    }
}
.global-header__controls {
    float: left;
    padding-right: $gs-gutter;
}
.global-header__branding {
    float: right;
    width: auto;
}
.global-header__logo {
    display: block;
    margin-top: $gs-baseline / 2;
/*  PNGs for now */
    background-image: url(/assets/images/icons/icon-logo-small.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 162px;

    @include mq(tablet) {
        background-image: url(/assets/images/icons/icon-logo.png);
        height: 62px;
        width: 320px;
    }
}
