/* ==========================================================================
   Footer
   ========================================================================== */

.global-footer {
    // background-color: $c-brand-mid;
}
.global-footer__info {
    @include fs-textSans(3);
    color: $c-neutral4;
    background-color: guss-colour(multimedia-support-4);
    padding: ($gs-baseline * 2) 0;

    @include mq(tablet) {
        padding: ($gs-baseline * 2) $gs-gutter;
    }

    p {
        margin-bottom: 0;
    }

    a {
        color: inherit;
        border-bottom: 1px solid $c-neutral2;
    }
}
.global-footer__copyright {
    @include fs-textSans(1);
    border-top: 1px solid $c-neutral2;
    margin-top: $gs-gutter;
    padding-top: $gs-baseline / 2;
    display: block;
}

.global-brandbar {
    background-color: $c-brand-tint;
}
.global-brandbar__inner {
    background-color: $c-brand;
    padding: ($gs-gutter / 2);

    @include mq(tablet) {
        padding: ($gs-gutter / 2) $gs-gutter;
    }
}

/**
 * Back to top
 */
.to-top {
    display: table;
    border-bottom: none;
}
.to-top__item {
    display: table-cell;
    vertical-align: middle;
}
.to-top__label {
    @include fs-bodyHeading(1);
    color: $c-white;
    padding-left: ($gs-gutter / 4);
    text-transform: lowercase;
}
