/* ==========================================================================
   Hero Banner
   ========================================================================== */
.hero-banner {
    background: black;
    height:  300px;
    position: relative;
    overflow: hidden;
}
.hero-banner__underlay {
    height: 100%;
    background: guss-colour(neutral-1);

}

.hero-banner__image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    > img {
        width: 100%;
        filter: opacity(50%);

    }

    @include mq(mobileLandscape) {
    }

    // tablet & above
    @include mq(tablet) {
    }
}

.hero-banner__inner {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.hero-banner__content {
    background: white;

}

.hero-banner__title{
    font-weight:900;
}
.hero--title__blue {
    color: guss-colour(news-main-1);
}

.hero--title__grey {
    color: guss-colour(features-main-1);
}

