/* ==========================================================================
   Membership
   - Modules related to Guardian Membership
   ========================================================================== */

.membership-promo {
    color: $c-white;
    background: $c-neutral1 url(/assets/images/backgrounds/bg-membership-cards.png) 0 center no-repeat;
    background-size: cover;
    margin-bottom: $gs-baseline * 2;
}
.membership-promo__content {
    padding: $gs-gutter ($gs-gutter / 2);
    background-color: rgba(0,0,0,0.5);

    @include mq(tablet) {
        padding: $gs-gutter;
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, .9) 0%, transparent 100%);
    }
}
.membership-promo__title {
    @include fs-headline(5);
    font-weight: guss-font-weight('bold');
    margin-bottom: $gs-baseline * 3;

    @include mq(tablet) {
        @include fs-headline(6, $size-only: true);
        max-width: gs-span(6);
    }
}
.membership-promo__info {
    @include fs-header(3);
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        max-width: 16em; // Magic-number
    }
}
.membership-promo__info__highlight {
    color: $c-membership-higlight;

    @include mq(tablet) {
        display: block;
    }
}
