/* ==========================================================================
   Membership
   - Modules related to Guardian Membership
   ========================================================================== */

.membership-promo {
    color: $c-white;
    background-color: $c-membership;
    margin-bottom: $gs-baseline * 2;

    @include mq(phablet) {
        position: relative;
    }

    @include mq(tablet) {
        max-height: 300px; // Magic number
        overflow: hidden;
    }
}
.membership-promo__image {
    @include mq(tablet) {
        @include vertically-offset(25%);
        position: relative;
    }
}
.membership-promo__content {
    padding: ($gs-gutter / 2);
    background-color: rgba(0,0,0,0.5);

    @include mq(phablet) {
        position: absolute;
        top: 0; bottom: 0;
        width: 100%;
        padding: $gs-gutter;
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, .9) 0%, transparent 100%);
    }
}
.membership-promo__title {
    @include fs-headline(3);
    font-weight: guss-font-weight(bold);
    margin-bottom: $gs-baseline;

    @include mq(phablet) {
        @include fs-headline(6, $size-only: true);
        margin-bottom: $gs-baseline * 3;
        max-width: gs-span(6);
    }
}
.membership-promo__info {
    @include fs-header(1);
    font-weight: guss-font-weight(regular);
    margin-bottom: $gs-baseline;

    @include mq(phablet) {
        @include fs-header(3, $size-only: true);
        max-width: 16em; // Magic-number
    }
}
.membership-promo__info__highlight {
    color: $c-membership-higlight;

    @include mq(phablet) {
        display: block;
    }
}
