/* ==========================================================================
   Packages
   ========================================================================== */

/* Package Options
   ========================================================================== */

.package {
    display: block;
    background-color: $c-neutral7;
    margin-bottom: $gs-baseline;
    position: relative;
    border: none;
    color: $c-brand;
}
.package:hover,
.package:active {
    color: $c-white;
    background-color: #84be43;
}
.package__list {
    margin-bottom: $gs-baseline*2;

    @include mq(tablet) {
        margin-top: $gs-baseline*3;
    }
}
.package__title {
    @include font-size(24px, 28px);
    font-weight: 900;
    text-transform: uppercase;
}
.package__info {
    cursor: pointer;
    display: block;
    padding: $gs-baseline;
}
.package__price {
    display: block;

    @include mq(tablet) {
        float: right;
        @include font-size(20px, 24px);
    }
}
.package__description,
.package__monthly {
    display: block;
}

/* Package Preview
   ========================================================================== */

.package-preview {
    background: $c-neutral7;
    padding: $gs-baseline $gs-gutter/2;

    @include mq($until: tablet) {
        margin-bottom: $gs-baseline;
    }
    @include mq(tablet) {
        display: table;
        width: 100%;
    }
}
.package-preview__header,
.package-preview__content {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: top;
    }
}
.package-preview__header {
    @include mq(tablet) {
        width: gs-span(4);
        padding-right: $gs-gutter;
    }
}
.package-preview__content {
    @include mq(tablet) {
        padding-right: $gs-gutter;
    }
}
.package-preview__image {
    margin: 0 auto $gs-baseline;
    max-height: 256px;
}
.package-preview__title {
    @include fs-headline(3);
    font-weight: guss-font-weight(medium);
    margin-bottom: $gs-baseline * 2;
}

/* Benefits
   ========================================================================== */

.benefit-item {
    border-top: 1px solid $c-neutral4;
    padding-top: $gs-baseline / 2;
}
.benefit-item__title {
    @include fs-header(1);
    margin-bottom: $gs-baseline / 2;
}
.benefit-item__description {
    @include fs-headline(2);
    margin-bottom: 0;
}

/* Pricing CTA
   ========================================================================== */

.pricing-cta {
    margin: ($gs-baseline / 4) 0;

    @include mq(tablet) {
        margin: $gs-gutter 0;
        display: table;
    }
}
.pricing-cta__pricing,
.pricing-cta__action {
    @include mq(tablet) {
        display: table-cell;
        vertical-align: center;
        padding-right: $gs-gutter;
    }
}
.pricing-cta__pricing {
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        margin-bottom: 0;
    }
}
.pricing-cta__pricing__title {
    @include fs-header(2);
    color: $c-neutral1;

    @include mq(tablet) {
        @include fs-header(4);
    }
}
.pricing-cta__pricing__value {
    @include fs-textSans(2);
    color: $c-neutral2;
    margin-bottom: 0;
}

/* Steps
   ========================================================================== */

/* Steps */
$step-size: 40px;
$step-size-tablet: 60px;

.steps {
    @extend .o-inline-list;
    @include mq(tablet) {
        margin-bottom: $gs-baseline;
    }
}

.steps__item {
    @extend .o-inline-list__item;
    margin-bottom: $gs-baseline/2;
    min-height: $step-size + $gs-baseline/2;
    padding-left: $step-size + $gs-gutter/2;
    padding-right: $gs-gutter/2;
    position: relative;
    margin-left: 0;

    @include mq(tablet) {
        width: 33%;
        vertical-align: top;
        min-height: $step-size-tablet + $gs-baseline/2;
        padding-left: $step-size-tablet + $gs-gutter/2;
    }

    &:before {
        background-color: $c-brand;
        color: $c-white;
        content: counter(steps);
        counter-increment: steps;
        display: block;
        float: left;
        font-weight: 500;
        line-height: $step-size;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        @include border-radius($step-size);
        height: $step-size;
        width: $step-size;

        @include mq(tablet) {
            @include font-size(32px, $step-size-tablet);
            @include border-radius($step-size-tablet);
            height: $step-size-tablet;
            width: $step-size-tablet;
        }
    }
}
