/* ==========================================================================
   Page Modules
   ========================================================================== */

.page-container {
    background-color: $c-white;
}

/* Page Slice
   ========================================================================== */

.page-slice {
    @include clearfix();
    @include container-padding();
    padding-top: $gs-baseline;
    background-color: $c-white;
}
.page-slice__header {
    padding-bottom: $gs-baseline;

    @include mq(leftCol) {
        float: left;
        width: gs-span(2);
    }

    @include mq(wide) {
        width: gs-span(3);
    }
}
.page-slice__title  {
    @include fs-header(3);
    color: $c-brand;
}
.page-slice__content {
    @include mq(leftCol) {
        float: right;
        width: gs-span(12);
    }

    @include mq(wide) {
        width: gs-span(13);
    }
}

.page-slice--bordered {
    padding-bottom: $gs-baseline;
    border-top: 1px solid $c-border;
}

/* Page Header
   ========================================================================== */

.page-header {
    padding-top: $gs-baseline/2;
    margin-bottom: $gs-baseline*2;

    @include mq(tablet) {
        margin-bottom: $gs-baseline*4;
    }
}
.page-header__title {
    @include fs-headline(5);
    margin-bottom: 0;

    @include mq(tablet) {
        @include fs-headline(9, true);
    }
}
.page-header__lead {
    @include font-size(18px, 22px);
    margin-bottom: $gs-baseline*1.5;

    @include mq(tablet) {
        @include font-size(22px, 26px);
        max-width: gs-span(10);
    }
}

/* Page Heading
   ========================================================================== */

// TOOD: Refactor out
.page-heading {
    @include font-size(24px, 28px);
    margin-bottom: $gs-baseline*2;
}
.page-heading--border {
    border-top: 1px solid $c-neutral4;
    padding-top: 8px;
}
