/* ==========================================================================
   Roundel
   ========================================================================== */

.roundel {
    position: relative;
}

.roundel--raised {
    top: -40px;
}

.roundel__container {
    @include circular();
    align-content: center;
    background: guss-colour(news-support-1, $pasteup-palette);
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    padding: 10px;
    width: 120px;
    z-index: 2;

    @include mq(tablet) {
        height: 140px;
        padding: 20px;
        width: 140px;
    }
}

.roundel__title {

    // We use markdown to generate HTML
    // so cannot apply BEM classnames to the output
    // but the scope is very narrow

    h3 {
        font-size: 16px;
        line-height: 17px;
        font-weight: 900;

        @include mq(tablet) {
            font-size: 20px;
            line-height: 21px;
        }
    }

    strong {
        display: block;
        font-size: 36px;
        font-weight: 900;
        line-height: 36px;

        @include mq(tablet) {
            font-size: 42px;
            line-height: 42px;
        }
    }

    p {
        margin: 0;
        @include fs-bodyCopy(1);
    }
}
