/* ==========================================================================
   Section Modules
   ========================================================================== */

/* Section Slice
   ========================================================================== */

.section-slice {
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline * 2;
    border-top: 1px solid $c-border;
}

.section-slice--bleed {
    @include container-padding();
}

.section-slice--limited {
    .section-slice__content {
        @include mq(desktop) {
            max-width: gs-span(11);
        }
    }
}

/* Section Title
 *
 * Individual section headers, typically used a the start of section-slice
 * See checkout thankyou page (/checkout/thankyou)
   ========================================================================== */

.section-title {
    @include fs-header(3);
    // TODO: can't find matching colour in pallette,
    // confirm with design.
    color: #167ca6;
    margin-bottom: $gs-baseline * 2;
}

/* Section Divider
 *
 * Seperate to break-up sub-section
 * See checkout thankyou page (/checkout/thankyou)
   ========================================================================== */

.section-divider {
    @include fs-header(1);
    border: solid $c-border;
    border-width: 1px 0;
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline;
    margin-bottom: $gs-baseline;
}

.section-left {
    width: 100%;
    padding: 12px 20px 24px 20px;
    @include mq(tablet){
        padding-top: 24px;
    }
    @include mq(desktop) {
        width: 420px;
    }
}

.section-right {
    width: 100%;
    padding: 0 20px 24px 20px;
    @include mq(tablet){
        padding-top: 24px;
    }
    @include mq(desktop) {
        padding-left:  80px;
        width: 400px;
    }
    @include mq(wide) {
        padding-left: 140px;
        width: 460px;
    }
}

.flexwrap {
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    @include mq(desktop) {
        flex-wrap: nowrap;

        flex-flow: row;
    }
}

.flexwrap__inner {
    width: 100%;
    padding-left:  $gs-gutter;
    @include mq(desktop) {
        width: 820px;
    }
    @include mq(wide){
        width: 880px;
    }
}

.weekly-list {
    a {
        color: $c-brand;
        text-decoration: none;
        border-bottom: 1px solid $c-neutral3;

        &:hover,
        &:focus {
            text-decoration: none;
            border-color: $c-neutral2;
        }
    }
    p {
        margin-bottom: 10px;
    }
    font-size: 16px;
    line-height: 20px;
    > p,
    ul,
    ol {
        padding: 0;
        margin: 0 0 $gs-baseline/2;

        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        @include font-size(16px, 20px);
        list-style: none;
        margin-bottom: $gs-baseline;
        padding-left: $gs-gutter!important;
    }

    li:before {
        background-color: guss-colour(news-support-2);
        border-radius: 12px;
        content: '';
        display: inline-block;
        height: 12px;
        margin-left: -18px;
        margin-right: 6px;
        width: 12px;
    }
}

.section-right--header{
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
}
