/* ==========================================================================
   Section Modules
   ========================================================================== */

/* Section Slice
   ========================================================================== */

.section-slice {
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline * 2;
    border-top: 1px solid $c-border;
}

.section-slice--bleed {
    @include container-padding();
}

.section-slice--limited {
    .section-slice__content {
        @include mq(desktop) {
            max-width: gs-span(11);
        }
    }
}

/* Section Title
 *
 * Individual section headers, typically used a the start of section-slice
 * See checkout thankyou page (/checkout/thankyou)
   ========================================================================== */

.section-title {
    @include fs-header(3);
    // TODO: can't find matching colour in pallette,
    // confirm with design.
    color: #167ca6;
    margin-bottom: $gs-baseline * 2;
}

/* Section Divider
 *
 * Seperate to break-up sub-section
 * See checkout thankyou page (/checkout/thankyou)
   ========================================================================== */

.section-divider {
    @include fs-header(1);
    border: solid $c-border;
    border-width: 1px 0;
    padding-top: $gs-baseline / 2;
    padding-bottom: $gs-baseline;
    margin-bottom: $gs-baseline;
}

.section-left {
    width: 100%;
    padding: 24px 20px 36px 20px;
    @include mq(desktop) {
        width: 420px;
    }
}

.section-right {
    width: 100%;
    padding: 24px 20px 36px 20px;

    @include mq(desktop) {
        padding-left:  80px;
        width: 400px;
    }
    @include mq(wide) {
        padding-left: 140px;
        width: 460px;
    }
}

.idk-flexwrap {
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    @include mq(desktop) {
        flex-wrap: nowrap;

        flex-flow: row;
    }
}

.idk-flexwrap__inner {
    width: 100%;
    padding-left:  $gs-gutter;
    @include mq(desktop) {
        width: 820px;
    }
    @include mq(wide){
        width: 880px;
    }
}
