#cas-tool {
  padding: 50px;
  margin: 0 auto;
  width: 80%;

  .error {
    color: guss-colour(error);
  }
}

#catalog-diagnostic {
  td {
      ul {
          list-style: none;
          padding-bottom: 0.5em;
          padding-top: 0.5em;
      }

  }
}
