/* ==========================================================================
   suspend
   ========================================================================== */

.suspend-header {
    padding: ($gs-gutter / 2) 0 ($gs-baseline / 2);

    @include mq(desktop) {
        padding-bottom: $gs-gutter * 2;
    }
}
.suspend-header__title {
    @include fs-headline(6);

    @include mq(tablet) {
        @include fs-headline(8, true);
    }
}

.suspend-container {
    @include clearfix();
}

.suspend-container__form {
    margin-bottom: $gs-baseline;

    @include mq(desktop) {
        float: left;
        width: 65%
    }
}

.mma-section__header {
    font-size: 1.25rem;
    border-top: 1px solid #dfdfdf;
    margin-bottom: 20px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 10px;
    display: block;
    width: 100%;
}

.mma-dates__fields {
    .form-field { // nesting here essentially unavoidable due to JS generated fields
        margin-right: 10px;
        float: left;
    }
}

.mma-dates__button {
    margin-top: 14px;
}

.mma-dates__request {
    display: block;
    margin: 10px 0;
}

.mma-section__list--title {
    margin-right: 40px;
    min-width: 120px;
    clear: left;
    float: left;
}

.mma-section__list--content {
    margin-bottom: 10px;
    clear: right;
    float: left;
}

.mma-section__list--currency {
    text-align: right;
}

.mma-section__list {
    overflow: auto;
}

.mma-section__calendar {
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}


.mma-section__calendar--date {
    display: inline-block;
    background-color: #f1f1f1;
    border: 1px solid #dfdfdf;
    padding: 2px 0;
    height: 92px;
    width: 84px;
}

.mma-section__calendar--amount {
    border: 1px solid #dfdfdf;
    border-top: none;
    padding-top: 2px;
}

.mma-section__calendar--amount--discounted, .scheduled-suspensions__discount {
    font-weight: bold;
    color: darkgreen;
}

.mma-section__calendar--main {
    font-weight: bold;
    line-height: 40px;
    font-size: 32px;
    display: block;
    margin: 0 0;
}

.mma-section__calendar--sub {
    font-size: 16px;
    display: block;
}

.mma-section__schedule {
    margin-top: 20px;
}

.scheduled-suspensions__help {
    margin-top: 20px;
    display: block;
}

.suspend-container__sidebar {

    position: relative;
    display: none;

    @include mq(desktop) {
        display: block;
        float: right;
        width: 35%;
        padding-left: $gs-gutter;
    }
    @include mq(wide) {
        display: block;
        padding-left: gs-span(1.5);
    }
}
.suspend-container__frequency {
    cursor: pointer;
}

.suspend__table {
    .date, .money {
        text-align: right;
    }
}

.mma-error-list {
   list-style-type: disc;
}
.mma-error-list__item {
    display: list-item;
}
