/* ==========================================================================
   suspend
   ========================================================================== */

.suspend-header {
    padding: ($gs-gutter / 2) 0 ($gs-baseline / 2);

    @include mq(desktop) {
        padding-left: 22.5%;
        padding-bottom: $gs-gutter * 2;
    }
}
.suspend-header__title {
    @include fs-headline(6);

    @include mq(tablet) {
        @include fs-headline(8, true);
    }
}

.suspend-container {
    @include clearfix();
    padding-bottom: $gs-gutter * 2;
}
.suspend-container__form {
    margin-bottom: $gs-baseline;

    @include mq(desktop) {
        float: left;
        width: 65%
    }
}
.suspend-container__sidebar {
    position: relative;
    display: none;

    @include mq(desktop) {
        display: block;
        float: right;
        width: 35%;
        padding-left: $gs-gutter;
    }
    @include mq(wide) {
        display: block;
        padding-left: gs-span(1.5);
    }
}
.suspend-container__frequency {
    cursor: pointer;
}

.suspend__table {
    .date, .money {
        text-align: right;
    }
}
