
/* Ugh, overrides! */

#signup {
    font-family: 'Guardian Egyptian Web', Georgia, serif;
    padding-left: 0;
    padding-right: 0;
}

#signup .wrapper,
#signup .container section {
    float: none;
}

#signup article {
    width: 100%;
}

#signup section#included > article {
    padding-bottom: 0;
}

#signup section#included .included-lockup,
#signup section#why_subscribe .subscribe-lockup {
    margin-top: 0;
}

#signup section#included ul,
#signup section#why_subscribe ul {
    margin-top: 6px;
    margin-bottom: 24px;
}

#signup section#included li,
#signup section#why_subscribe li {
    border: none;
    margin: 0;
}

#signup section#why_subscribe ul {
    margin-bottom: 24px;
}

#signup section#why_subscribe li span {
    padding: 0;
}

#signup section#why_subscribe li:before {
    top: .25em;
}

.wrapper #digital_pack h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: normal;
}

.wrapper #digital_pack h2 small {
    font-size: 20px;
    margin-left: -2px;
}

@media (min-width: 30em) {
    .wrapper #digital_pack h2 {
        font-size: 38px;
        line-height: 42px;
    }
}

@media (min-width: 52em) {
    .wrapper #digital_pack h2 {
        font-size: 42px;
        line-height: 46px;
    }

    #signup section#included ul {
        font-size: 18px;
    }
}

/* Original generated CSS from ExactTarget */

/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/******************************
** Variables
******************************/
/******************************
** Fonts
******************************/
/* Override!
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Light.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Light.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Light.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Light.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Light.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Light.svg#GuardianEgyptianWeb-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Regular.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Regular.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Regular.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Regular.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Regular.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Regular.svg#GuardianEgyptianWeb-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-RegularItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-RegularItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-RegularItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-RegularItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-RegularItalic.svg#GuardianEgyptianWeb-RegularItalic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Semibold.svg#GuardianEgyptianWeb-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-SemiboldItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-SemiboldItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-SemiboldItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-SemiboldItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-SemiboldItalic.svg#GuardianEgyptianWeb-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Medium.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Medium.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Medium.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Medium.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Medium.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Medium.svg#GuardianEgyptianWeb-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Bold.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Bold.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Bold.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Bold.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Bold.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-Bold.svg#GuardianEgyptianWeb-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianEgyptianWeb/GuardianEgyptianWeb-BoldItalic.svg#GuardianEgyptianWeb-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.svg#GuardianTextEgyptianWeb-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-RegularItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-RegularItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-RegularItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-RegularItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-RegularItalic.svg#GuardianTextEgyptianWeb-RegularItalic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.svg#GuardianTextEgyptianWeb-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-MediumItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-MediumItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-MediumItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-MediumItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-MediumItalic.svg#GuardianTextEgyptianWeb-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Bold.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Bold.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Bold.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Bold.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Bold.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Bold.svg#GuardianTextEgyptianWeb-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BoldItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BoldItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BoldItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BoldItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BoldItalic.svg#GuardianTextEgyptianWeb-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Black.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Black.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Black.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Black.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Black.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Black.svg#GuardianTextEgyptianWeb-Black") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BlackItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BlackItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BlackItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BlackItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BlackItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-BlackItalic.svg#GuardianTextEgyptianWeb-BlackItalic") format("svg");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
}*/
/* GUARDIAN TEXT SANS */
/* Override!
font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Regular.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Regular.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Regular.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Regular.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Regular.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Regular.svg#GuardianTextSansWeb") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-RegularItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-RegularItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-RegularItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-RegularItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-RegularItalic.svg#GuardianTextSansWeb") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Medium.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Medium.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Medium.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Medium.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Medium.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Medium.svg#GuardianTextSansWeb") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-MediumItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-MediumItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-MediumItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-MediumItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-MediumItalic.svg#GuardianTextSansWeb") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Bold.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Bold.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Bold.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Bold.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Bold.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Bold.svg#GuardianTextSansWeb") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BoldItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BoldItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BoldItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BoldItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BoldItalic.svg#GuardianTextSansWeb") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Black.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Black.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Black.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Black.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Black.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-Black.svg#GuardianTextSansWeb") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BlackItalic.eot");
  src: url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BlackItalic.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BlackItalic.woff2") format("woff2"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BlackItalic.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BlackItalic.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/0.1.0/hinting-on/kerning-on/original/GuardianTextSansWeb/GuardianTextSansWeb-BlackItalic.svg#GuardianTextSansWeb") format("svg");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}*/
/******************************
** Mixins
******************************/
/******************************
** Layout
******************************/
/* line 299, ../sass/style.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 303, ../sass/style.scss */
body {
  color: #000000;
  font-size: 100%;
  font-family: "Guardian Text Egyptian Web", Georgia, Arial, sans-serif;
  line-height: 1.48;
  background-color: #f6f6f6;
}

/* line 311, ../sass/style.scss */
p {
  margin: 0 0 1em 0;
}

/* line 314, ../sass/style.scss */
a {
  color: #0b588c;
}

/* line 318, ../sass/style.scss */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/******************************
** Typeography
******************************/
/* line 328, ../sass/style.scss */
h2 {
  font-size: 2em;
  line-height: 1.3em;
  color: #000000;
  font-weight: 500;
  margin: 0 0 .5em 0;
}
@media (min-width: 10em) {
  /* line 328, ../sass/style.scss */
  h2 {
    font-size: 1.2em;
  }
}
@media (min-width: 30em) {
  /* line 328, ../sass/style.scss */
  h2 {
    font-size: 1.6em;
  }
}
@media (min-width: 52em) {
  /* line 328, ../sass/style.scss */
  h2 {
    font-size: 2em;
  }
}

/* line 344, ../sass/style.scss */
h3 {
  font-size: 1.2em;
  color: #000000;
  font-weight: 500;
}

/******************************
** Header
******************************/
/* line 356, ../sass/style.scss */
.fixed-elements {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  display: block;
  float: left;
  position: fixed;
  top: 0;
  z-index: 20;
  /******************************
  ** Navigation
  ******************************/
}
/* line 366, ../sass/style.scss */
.fixed-elements header {
  background: #0b588c;
  height: 6em;
  display: block;
  float: left;
  width: 100%;
  margin: 0 auto 0 auto;
}
@media (min-width: 10em) {
  /* line 366, ../sass/style.scss */
  .fixed-elements header {
    height: 4em;
  }
}
@media (min-width: 30em) {
  /* line 366, ../sass/style.scss */
  .fixed-elements header {
    height: 6em;
  }
}
/* line 380, ../sass/style.scss */
.fixed-elements header h1 {
  display: block;
  width: 52em;
  height: 6em;
  margin: 0 auto 0 auto;
  background: url(/static/img/signup/logo-subscriptions.png) no-repeat 88% 80%;
  background-size: auto;
}
@media (min-width: 10em) {
  /* line 380, ../sass/style.scss */
  .fixed-elements header h1 {
    background: url(/static/img/signup/logo-subscriptions.png) no-repeat 90% 80%;
    background-size: 15em;
    width: 100%;
    height: 4em;
  }
}
@media (min-width: 30em) {
  /* line 380, ../sass/style.scss */
  .fixed-elements header h1 {
    background: url(/static/img/signup/logo-subscriptions.png) no-repeat 90% 80%;
    background-size: auto;
    width: 100%;
    height: 6em;
  }
}
@media (min-width: 52em) {
  /* line 380, ../sass/style.scss */
  .fixed-elements header h1 {
    background: url(/static/img/signup/logo-subscriptions.png) no-repeat 88% 80%;
    background-size: auto;
    width: 52em;
    height: 6em;
  }
}
/* line 405, ../sass/style.scss */
.fixed-elements header h1 span {
  text-indent: -9999em;
  display: none;
}
/* line 415, ../sass/style.scss */
.fixed-elements nav {
  margin: 0 auto;
  background: #005083;
  display: table;
  float: left;
  width: 100%;
  padding: 0;
}
/* line 422, ../sass/style.scss */
.fixed-elements nav ul {
  list-style: none;
  display: table;
  margin: 0 auto 0 auto;
  width: 52em;
  padding: .25em 1em;
  text-align: left;
  background: #004370;
}
@media (min-width: 10em) {
  /* line 422, ../sass/style.scss */
  .fixed-elements nav ul {
    width: 100%;
    padding: .25em .25em;
    text-align: center;
  }
}
@media (min-width: 30em) {
  /* line 422, ../sass/style.scss */
  .fixed-elements nav ul {
    width: 100%;
    padding: .25em .25em;
    text-align: left;
  }
}
@media (min-width: 52em) {
  /* line 422, ../sass/style.scss */
  .fixed-elements nav ul {
    width: 52em;
    padding: .25em 1em;
    text-align: left;
  }
}
/* line 445, ../sass/style.scss */
.fixed-elements nav ul li {
  display: inline-block;
  margin: 0 1em;
  font-size: .8em;
}
@media (min-width: 10em) {
  /* line 445, ../sass/style.scss */
  .fixed-elements nav ul li {
    margin: 0 .25em;
    font-size: .75em;
  }
}
@media (min-width: 30em) {
  /* line 445, ../sass/style.scss */
  .fixed-elements nav ul li {
    margin: 0 1em;
    font-size: .8em;
  }
}
@media (min-width: 52em) {
  /* line 445, ../sass/style.scss */
  .fixed-elements nav ul li {
    margin: 0 1em;
    font-size: .8em;
  }
}
/* line 461, ../sass/style.scss */
.fixed-elements nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
/* line 464, ../sass/style.scss */
.fixed-elements nav ul li a.mPS2id-highlight-first {
  color: #00c7e1;
}
/* line 467, ../sass/style.scss */
.fixed-elements nav ul li a:after {
  display: none;
}
/* line 470, ../sass/style.scss */
.fixed-elements nav ul li a:hover {
  text-decoration: underline;
}
/* line 477, ../sass/style.scss */
.fixed-elements section {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}
/* line 484, ../sass/style.scss */
.fixed-elements section article {
  position: relative;
  background: #00c7e1;
  display: block;
  margin: 0 auto;
  width: 52em;
  padding: 1em 1.5em;
}
@media (min-width: 10em) {
  /* line 484, ../sass/style.scss */
  .fixed-elements section article {
    width: 100%;
    padding: 1em;
  }
}
@media (min-width: 30em) {
  /* line 484, ../sass/style.scss */
  .fixed-elements section article {
    width: 100%;
    padding: 1em;
  }
}
@media (min-width: 52em) {
  /* line 484, ../sass/style.scss */
  .fixed-elements section article {
    width: 52em;
    padding: 1em 1.5em;
  }
}
/* line 504, ../sass/style.scss */
.fixed-elements section#offer_cta {
  background: #02bfd8;
  text-align: right;
}
/* line 508, ../sass/style.scss */
.fixed-elements section#offer_cta a {
  color: #000000;
  text-decoration: none;
  position: relative;
  background: #ffffff;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  padding: .5em 2.25em .5em 1em;
  font-family: "Guardian Text Sans Web", Arial, sans-serif;
  font-size: .8em;
}
/* line 521, ../sass/style.scss */
.fixed-elements section#offer_cta a:after {
  content: url(/static/img/signup/arrow-black.png);
  display: inline-block;
  width: .6em;
  height: .8em;
  margin: .3em .3em 0 .3em;
  position: absolute;
}
/* line 530, ../sass/style.scss */
.fixed-elements section#offer_cta a:hover {
  text-decoration: underline;
}

/******************************
** Start Container
******************************/
/* line 540, ../sass/style.scss */
.wrapper {
  margin: 11em auto 0 auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
  float: left;
}
@media (min-width: 10em) {
  /* line 540, ../sass/style.scss */
  .wrapper {
    margin: 9em auto 0 auto;
    margin: 0 auto;
  }
}
@media (min-width: 30em) {
  /* line 540, ../sass/style.scss */
  .wrapper {
    margin: 11em auto 0 auto;
    margin: 0 auto;
  }
}
@media (min-width: 52em) {
  /* line 540, ../sass/style.scss */
  .wrapper {
    margin: 11em auto 0 auto;
    margin: 0 auto;
  }
}
/* line 556, ../sass/style.scss */
.wrapper .container {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  display: block;
  /******************************
  ** Section
  ******************************/
  /******************************
  ** Footer
  ******************************/
  /******************************
  ** End Container
  ******************************/
}
@media (min-width: 10em) {
  /* line 556, ../sass/style.scss */
  .wrapper .container {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 30em) {
  /* line 556, ../sass/style.scss */
  .wrapper .container {
    width: 100%;
  }
}
@media (min-width: 52em) {
  /* line 556, ../sass/style.scss */
  .wrapper .container {
    width: 100%;
    padding: 0;
  }
}
/* line 576, ../sass/style.scss */
.wrapper .container section {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}
/* line 583, ../sass/style.scss */
.wrapper .container section article {
  position: relative;
  display: table;
  margin: 0 auto;
  width: 52em;
  padding: 1em 1.5em 2em 1.5em;
}
@media (min-width: 10em) {
  /* line 583, ../sass/style.scss */
  .wrapper .container section article {
    width: 100%;
    padding: 1em;
  }
}
@media (min-width: 30em) {
  /* line 583, ../sass/style.scss */
  .wrapper .container section article {
    width: 100%;
    padding: 1em 1.5em 2em 1.5em;
  }
}
@media (min-width: 52em) {
  /* line 583, ../sass/style.scss */
  .wrapper .container section article {
    width: 52em;
  }
}
/* line 602, ../sass/style.scss */
.wrapper .container section a.cta-link {
  color: #000000;
  text-decoration: none;
  position: relative;
  background: #ffffff;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  padding: .5em 2.25em .5em 1em;
  font-family: "Guardian Text Sans Web", Arial, sans-serif;
  font-size: .8em;
}
/* line 615, ../sass/style.scss */
.wrapper .container section a.cta-link:after {
  content: url(/static/img/signup/arrow-black.png);
  display: inline-block;
  width: .6em;
  height: .8em;
  margin: .3em .3em 0 .3em;
  position: absolute;
}
/* line 624, ../sass/style.scss */
.wrapper .container section a.cta-link:hover {
  text-decoration: underline;
}
/* line 629, ../sass/style.scss */
.wrapper .container section#digital_pack {
  background: #e1e1e1;
}
/* line 631, ../sass/style.scss */
.wrapper .container section#digital_pack article {
  background: #ebebeb url(/static/img/signup/digital-pack.png) no-repeat 73% 100%;
  background-size: 80%;
  min-height: 26em;
  height: 26em;
}
@media (min-width: 10em) {
  /* line 631, ../sass/style.scss */
  .wrapper .container section#digital_pack article {
    min-height: 16em;
    height: 16em;
  }
}
@media (min-width: 30em) {
  /* line 631, ../sass/style.scss */
  .wrapper .container section#digital_pack article {
    min-height: 22em;
    height: 22em;
  }
}
@media (min-width: 52em) {
  /* line 631, ../sass/style.scss */
  .wrapper .container section#digital_pack article {
    min-height: 26em;
    height: 26em;
  }
}
/* line 649, ../sass/style.scss */
.wrapper .container section#digital_pack h2 {
  width: 35%;
}
@media (min-width: 10em) {
  /* line 649, ../sass/style.scss */
  .wrapper .container section#digital_pack h2 {
    width: 100%;
  }
}
@media (min-width: 30em) {
  /* line 649, ../sass/style.scss */
  .wrapper .container section#digital_pack h2 {
    width: 12em;
  }
}
@media (min-width: 52em) {
  /* line 649, ../sass/style.scss */
  .wrapper .container section#digital_pack h2 {
    width: 35%;
  }
}
/* line 662, ../sass/style.scss */
.wrapper .container section#included {
  background: #ebebeb;
}
/* line 664, ../sass/style.scss */
.wrapper .container section#included article {
  background: #ffffff;
}
/* line 667, ../sass/style.scss */
.wrapper .container section#included h2 {
  width: 100%;
}
/* line 670, ../sass/style.scss */
.wrapper .container section#included p {
  width: 55%;
}
@media (min-width: 10em) {
  /* line 670, ../sass/style.scss */
  .wrapper .container section#included p {
    width: 100%;
  }
}
@media (min-width: 52em) {
  /* line 670, ../sass/style.scss */
  .wrapper .container section#included p {
    width: 55%;
  }
}
/* line 680, ../sass/style.scss */
.wrapper .container section#included .included-lockup {
  display: block;
  float: left;
  width: 100%;
  margin: 1em 0 0 0;
  position: relative;
}
/* line 686, ../sass/style.scss */
.wrapper .container section#included .included-lockup .pack-list {
  float: right;
  width: 60%;
}
@media (min-width: 10em) {
  /* line 686, ../sass/style.scss */
  .wrapper .container section#included .included-lockup .pack-list {
    float: left;
    width: 100%;
  }
}
@media (min-width: 30em) {
  /* line 686, ../sass/style.scss */
  .wrapper .container section#included .included-lockup .pack-list {
    float: right;
    width: 60%;
  }
}
@media (min-width: 52em) {
  /* line 686, ../sass/style.scss */
  .wrapper .container section#included .included-lockup .pack-list {
    float: right;
    width: 60%;
  }
}
/* line 701, ../sass/style.scss */
.wrapper .container section#included .included-lockup .pack-list ul {
  list-style: none;
  margin: 0;
}
/* line 704, ../sass/style.scss */
.wrapper .container section#included .included-lockup .pack-list ul li {
  position: relative;
  display: block;
  margin: .5em 0;
}
/* line 708, ../sass/style.scss */
.wrapper .container section#included .included-lockup .pack-list ul li:before {
  left: 0;
  top: .35em;
  margin-right: .5em;
  border: solid #e1e1e1;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: .4em;
  z-index: 2;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
}
/* line 725, ../sass/style.scss */
.wrapper .container section#included .included-lockup .pack-list ul li span {
  display: block;
  margin-left: 1.25em;
}
/* line 732, ../sass/style.scss */
.wrapper .container section#included .included-lockup .image {
  float: left;
  width: 30%;
  position: relative;
  bottom: 0;
}
@media (min-width: 10em) {
  /* line 732, ../sass/style.scss */
  .wrapper .container section#included .included-lockup .image {
    width: 100%;
    position: relative;
    bottom: 0;
  }
}
@media (min-width: 30em) {
  /* line 732, ../sass/style.scss */
  .wrapper .container section#included .included-lockup .image {
    width: 30%;
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 52em) {
  /* line 732, ../sass/style.scss */
  .wrapper .container section#included .included-lockup .image {
    width: 30%;
    position: relative;
    bottom: 0;
  }
}
/* line 752, ../sass/style.scss */
.wrapper .container section#included .included-lockup .image img {
  width: 100%;
}
/* line 758, ../sass/style.scss */
.wrapper .container section#offer {
  background: #e1e1e1;
}
/* line 760, ../sass/style.scss */
.wrapper .container section#offer article {
  background: #ebebeb;
}
/* line 763, ../sass/style.scss */
.wrapper .container section#offer ul {
  display: block;
  float: left;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}
/* line 769, ../sass/style.scss */
.wrapper .container section#offer ul li {
  display: inline-block;
  width: 23.5%;
  font-size: .9em;
  border-top: 0.1em solid #b3b1b2;
  padding: .5em .25em 1em .25em;
  margin-right: 1%;
}
@media (min-width: 10em) {
  /* line 769, ../sass/style.scss */
  .wrapper .container section#offer ul li {
    width: 100%;
    margin-right: 0;
    padding: .5em .25em .5em .25em;
  }
}
@media (min-width: 30em) {
  /* line 769, ../sass/style.scss */
  .wrapper .container section#offer ul li {
    width: 48.5%;
    margin-right: 1%;
    padding: .5em .25em 1em .25em;
  }
}
@media (min-width: 52em) {
  /* line 769, ../sass/style.scss */
  .wrapper .container section#offer ul li {
    width: 23.5%;
    margin-right: 1%;
    padding: .5em .25em 1em .25em;
  }
}
/* line 791, ../sass/style.scss */
.wrapper .container section#offer ul li.cost, .wrapper .container section#offer ul li.trial, .wrapper .container section#offer ul li.editions, .wrapper .container section#offer ul li.premium {
  position: relative;
  vertical-align: top;
  text-align: left;
}
/* line 795, ../sass/style.scss */
.wrapper .container section#offer ul li.cost img, .wrapper .container section#offer ul li.trial img, .wrapper .container section#offer ul li.editions img, .wrapper .container section#offer ul li.premium img {
  width: auto;
  float: left;
  display: inline-block;
  margin: .5em 1em 1.5em 0;
}
/* line 802, ../sass/style.scss */
.wrapper .container section#offer ul li:last-child {
  width: 24.5%;
  margin-right: 0;
}
@media (min-width: 10em) {
  /* line 802, ../sass/style.scss */
  .wrapper .container section#offer ul li:last-child {
    width: 100%;
  }
}
@media (min-width: 30em) {
  /* line 802, ../sass/style.scss */
  .wrapper .container section#offer ul li:last-child {
    width: 48.5%;
    margin-right: 1%;
  }
}
@media (min-width: 52em) {
  /* line 802, ../sass/style.scss */
  .wrapper .container section#offer ul li:last-child {
    width: 24.5%;
    margin-right: 0;
  }
}
/* line 819, ../sass/style.scss */
.wrapper .container section#offer a {
  background: #004370;
  color: white;
}
/* line 822, ../sass/style.scss */
/* Override!
.wrapper .container section#offer a:after {
  content: url(/static/img/signup/arrow-white.png);
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: .3em;
}*/
/* line 831, ../sass/style.scss */
.wrapper .container section#why_subscribe {
  background: #ffffff;
}
/* line 833, ../sass/style.scss */
.wrapper .container section#why_subscribe article {
  background: #ffffff;
}
/* line 836, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup {
  display: block;
  float: left;
  width: 100%;
  margin: 1em 0 0 0;
  position: relative;
}
/* line 842, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .pack-list {
  float: left;
  width: 55%;
}
@media (min-width: 10em) {
  /* line 842, ../sass/style.scss */
  .wrapper .container section#why_subscribe .subscribe-lockup .pack-list {
    float: left;
    width: 100%;
  }
}
@media (min-width: 30em) {
  /* line 842, ../sass/style.scss */
  .wrapper .container section#why_subscribe .subscribe-lockup .pack-list {
    float: left;
    width: 55%;
  }
}
@media (min-width: 52em) {
  /* line 842, ../sass/style.scss */
  .wrapper .container section#why_subscribe .subscribe-lockup .pack-list {
    float: left;
    width: 55%;
  }
}
/* line 857, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .pack-list ul {
  list-style: none;
  margin: 0;
}
/* line 860, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .pack-list ul li {
  position: relative;
  display: block;
  margin: .25em 0;
  border-top: 0.1em solid #e1e1e1;
}
/* line 865, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .pack-list ul li:before {
  left: 0;
  top: .75em;
  margin-right: .5em;
  border: solid #e1e1e1;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: .4em;
  z-index: 2;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
}
/* line 882, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .pack-list ul li span {
  display: block;
  margin-left: 1.25em;
  padding: .5em 0 .5em 0;
}
/* line 889, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .pack-list a {
  background: #004370;
  color: white;
}
/* line 892, ../sass/style.scss */
/* Override!
.wrapper .container section#why_subscribe .subscribe-lockup .pack-list a:after {
  content: url(/static/img/signup/arrow-white.png);
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: .3em;
}*/
/* line 901, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .image {
  left: 60%;
  width: 35%;
  position: relative;
  bottom: 0;
  text-align: center;
}
@media (min-width: 10em) {
  /* line 901, ../sass/style.scss */
  .wrapper .container section#why_subscribe .subscribe-lockup .image {
    width: 100%;
    position: relative;
    bottom: 0;
    float: left;
    margin-top: 2em;
    left: 0;
  }
}
@media (min-width: 30em) {
  /* line 901, ../sass/style.scss */
  .wrapper .container section#why_subscribe .subscribe-lockup .image {
    width: 35%;
    position: absolute;
    bottom: 1em;
    left: 60%;
    margin-top: 0;
  }
}
@media (min-width: 52em) {
  /* line 901, ../sass/style.scss */
  .wrapper .container section#why_subscribe .subscribe-lockup .image {
    width: 35%;
    position: absolute;
    bottom: 0;
    margin-top: 0;
    left: 60%;
  }
}
/* line 930, ../sass/style.scss */
.wrapper .container section#why_subscribe .subscribe-lockup .image img {
  width: 100%;
}
/* line 936, ../sass/style.scss */
.wrapper .container section#promo {
  background: #02bfd8;
}
/* line 938, ../sass/style.scss */
.wrapper .container section#promo article {
  background: #00c7e1;
}
/* line 942, ../sass/style.scss */
.wrapper .container section#promo h2, .wrapper .container section#promo p {
  width: 100%;
  float: left;
}
/* line 947, ../sass/style.scss */
.wrapper .container section#promo .promo-copy {
  width: 52%;
  float: left;
}
@media (min-width: 10em) {
  /* line 947, ../sass/style.scss */
  .wrapper .container section#promo .promo-copy {
    width: 100%;
  }
}
@media (min-width: 30em) {
  /* line 947, ../sass/style.scss */
  .wrapper .container section#promo .promo-copy {
    width: 52%;
  }
}
@media (min-width: 52em) {
  /* line 947, ../sass/style.scss */
  .wrapper .container section#promo .promo-copy {
    width: 52%;
  }
}
/* line 960, ../sass/style.scss */
.wrapper .container section#promo .promo-image {
  width: 47%;
  float: right;
}
@media (min-width: 10em) {
  /* line 960, ../sass/style.scss */
  .wrapper .container section#promo .promo-image {
    width: 100%;
    float: left;
  }
}
@media (min-width: 30em) {
  /* line 960, ../sass/style.scss */
  .wrapper .container section#promo .promo-image {
    width: 47%;
    float: right;
  }
}
@media (min-width: 52em) {
  /* line 960, ../sass/style.scss */
  .wrapper .container section#promo .promo-image {
    width: 47%;
    float: right;
  }
}
/* line 975, ../sass/style.scss */
.wrapper .container section#promo .promo-image img {
  width: 100%;
}
/* line 980, ../sass/style.scss */
.wrapper .container section#contact {
  background: #e1e1e1;
}
/* line 982, ../sass/style.scss */
.wrapper .container section#contact article {
  background: #ebebeb;
  background-size: auto;
}
/* line 986, ../sass/style.scss */
.wrapper .container section#contact article .content div {
  float: left;
  width: 48%;
  margin-right: 2%;
}
@media (min-width: 10em) {
  /* line 986, ../sass/style.scss */
  .wrapper .container section#contact article .content div {
    width: 100%;
    margin-right: 0;
  }
}
@media (min-width: 30em) {
  /* line 986, ../sass/style.scss */
  .wrapper .container section#contact article .content div {
    width: 48%;
    margin-right: 2%;
  }
}
/* line 1008, ../sass/style.scss */
.wrapper .container footer {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: #004370;
}
/* line 1016, ../sass/style.scss */
.wrapper .container footer article {
  position: relative;
  display: table;
  margin: 0 auto;
  width: 52em;
  padding: .5em 2em;
}
@media (min-width: 10em) {
  /* line 1016, ../sass/style.scss */
  .wrapper .container footer article {
    width: 100%;
    padding: 1em;
  }
}
@media (min-width: 30em) {
  /* line 1016, ../sass/style.scss */
  .wrapper .container footer article {
    width: 100%;
    padding: .5em 2em;
  }
}
@media (min-width: 52em) {
  /* line 1016, ../sass/style.scss */
  .wrapper .container footer article {
    width: 52em;
  }
}
/* line 1033, ../sass/style.scss */
.wrapper .container footer article .content {
  padding: .5em 0;
}
/* line 1035, ../sass/style.scss */
.wrapper .container footer article .content a {
  color: #ffffff;
  padding-left: 2.5em;
  position: relative;
  text-decoration: none;
}
/* line 1040, ../sass/style.scss */
.wrapper .container footer article .content a:before {
  content: url(/static/img/signup/icon-top.png);
  width: 2em;
  height: 2em;
  display: inline-block;
  position: absolute;
  left: 0;
}
/* line 1048, ../sass/style.scss */
.wrapper .container footer article .content a:hover {
  text-decoration: underline;
}

/******************************
** Media Queries
******************************/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /*.image { 
       background-image: url(../img/image@2x.png);
       background-size: 100px 100px;
  }*/
}
/******************************
** Helpers
******************************/
/* line 1080, ../sass/style.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 1081, ../sass/style.scss */
.ir br {
  display: none;
}

/* line 1081, ../sass/style.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 1082, ../sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 1083, ../sass/style.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 1084, ../sass/style.scss */
.invisible {
  visibility: hidden;
}

/* line 1084, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 1084, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 1084, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}

/******************************
** Print
******************************/
@media print {
  /* line 1090, ../sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1091, ../sass/style.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 1091, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1092, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 1092, ../sass/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 1093, ../sass/style.scss */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 1094, ../sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 1094, ../sass/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 1095, ../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 1096, ../sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1096, ../sass/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
