/* ==========================================================================
   Responsive State Helpers
   ========================================================================== */

.is-hidden,
[hidden] {
    display: none !important;
}

.hide-on-mobile,
.u-hide-until-tablet {
    @include mq($until: tablet) {
        display: none !important;
    }
}

.u-display-until-tablet {
    display: block !important;
    @include mq(tablet) {
        display: none !important;
    }
}

.u-display-from-tablet {
    display: none !important;
    @include mq(tablet) {
        display: block !important;
    }
}

.mobile-only {
    @include mq(tablet) {
        display: none !important;
    }
}
