<div class="membership-promo">
    <div class="membership-promo__content">
        <h3 class="membership-promo__title">
            Get even closer to the Guardian by becoming a member
        </h3>
        <div class="membership-promo__info">
            We're bringing the Guardian to life through live events and meet-ups.
            <span class="membership-promo__info__highlight">Join and be part of the conversations that matter</span>
        </div>
        <div class="membership-promo__action">
            <a
                class="button button--reversed button--large"
                href="https://membership.theguardian.com/join?INTCMP=GU_SUBSCRIPTIONS_UK_PROMO"
                data-test-id="subscriptions-uk-membership"
            >Join now</a>
        </div>
    </div>
</div>
