@()

@import model.{ResponsiveImageGroup, ResponsiveImageGenerator}

@promoImage = @{
    ResponsiveImageGroup(
        name=Some("intro"),
        altText=Some("About Membership"),
        availableImages=ResponsiveImageGenerator(
            id="bb922fe62efbe24af2df336dd2b621c5799246b4/0_0_1140_683",
            sizes=List(1000,500)
        )
    )
}

<div class="membership-promo">
    <img class="membership-promo__image" src="@promoImage.defaultImage" srcset="@promoImage.srcset" sizes="100vw" alt="@promoImage.altText">
    <div class="membership-promo__content">
        <h3 class="membership-promo__title">
            Get even closer to the Guardian by becoming a member
        </h3>
        <div class="membership-promo__info">
            We're bringing the Guardian to life through live events and meet-ups.
            <span class="membership-promo__info__highlight">Join and be part of the conversations that matter</span>
        </div>
        <div class="membership-promo__action">
            <a
                class="button button--reversed button--large"
                href="https://membership.theguardian.com/join?INTCMP=GU_SUBSCRIPTIONS_UK_PROMO"
                data-test-id="subscriptions-uk-membership"
            >Join now</a>
        </div>
    </div>
</div>
