input[readonly] {
  background-color: $c-neutral7;
  color: $c-neutral2;
}

.form-note {
  @include fs-textSans(1);
  color: $c-neutral2;
  padding-top: rem($gs-baseline / 2);
  margin-bottom: rem(8px);
}

.form-note--left {
  @include mq(mobile) {
    float: left;
  }
}

.form-note--right {
  @include mq(mobile) {
    text-align: right;
    margin-left: rem($gs-gutter);
  }
}

.form-note--underneath {
  margin-top: rem($gs-baseline / 2);
}

/* ==========================================================================
   Password Strength indicator
   ========================================================================== */

$password-strength-score-0: #e31f26;
$password-strength-score-1: #e6711b;
$password-strength-score-2: #ffbb00;
$password-strength-score-3: #aad801;
$password-strength-score-4: #33a22b;

.password-strength-indicator {
  background-color: $c-neutral5;
  height: rem(8px);
  margin-top: rem(4px);
  margin-bottom: rem($gs-baseline * 2);
  position: relative;

  &:after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }

  &.score-0:after {
    width: 20%;
    background-color: $password-strength-score-0;
  }
  &.score-1:after {
    width: 40%;
    background-color: $password-strength-score-1;
  }
  &.score-2:after {
    width: 60%;
    background-color: $password-strength-score-2;
  }
  &.score-3:after {
    width: 80%;
    background-color: $password-strength-score-3;
  }
  &.score-4:after {
    width: 100%;
    background-color: $password-strength-score-4;
  }
}
