// =============================================================================
// Global variables
// =============================================================================

// Be careful of Sass variable scope
// Note: Sass 3.3.0 adds global and local vars
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variables_

// Colours
// =============================================================================

@import 'bower_components/guss-colours/_colours';
@import 'bower_components/pasteup-palette/src/_palette';

$guss-colours: $pasteup-palette;

$c-brand: guss-colour(guardian-brand);
$c-brand-mid: #005083;
$c-brand-dark: guss-colour(guardian-brand-dark);
$c-membership: guss-colour(news-main-2);

$c-neutral1: guss-colour('neutral-1');
$c-neutral2: guss-colour('neutral-2');
$c-neutral3: guss-colour('neutral-3');
$c-neutral4: guss-colour('neutral-4');
$c-neutral5: guss-colour('neutral-5');
$c-neutral7: guss-colour('neutral-7');
$c-neutral8: guss-colour('neutral-8');

$c-bg: #f4f4f4;
$c-body: $c-neutral1;
$c-link: $c-brand;
$c-link-hover: #6e99b2;
$c-link-active: $c-membership;
$c-white: #fff;

// Layout
// =============================================================================

// Add breakpoints and tweakpoints here
// To add custom breakpoints directly inside of a component,
// see https://github.com/guardian/sass-mq#adding-custom-breakpoints

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.

@import 'bower_components/sass-mq/_mq';
@import 'bower_components/guss-grid-system/_grid-system';

$mobile-bp:  gs-span(4);
$tablet-bp:  gs-span(9)  + $gs-gutter * 2;
$desktop-bp: gs-span(12) + $gs-gutter * 2;
$leftCol-bp: gs-span(14) + $gs-gutter * 2;
$wide-bp:    gs-span(16) + $gs-gutter * 2;

$mq-breakpoints: (
    mobile:    $mobile-bp,  // 300px
    tablet:    $tablet-bp,  // 740px
    desktop:   $desktop-bp, // 980px
    leftCol:   $leftCol-bp, // 1140px
    wide:      $wide-bp,    // 1300px
);
