// =============================================================================
// Global variables
// =============================================================================

// Be careful of Sass variable scope
// Note: Sass 3.3.0 adds global and local vars
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variables_

// Colours
// =============================================================================

@import 'bower_components/guss-colours/_colours';
@import 'bower_components/pasteup-palette/src/_palette';

$guss-colours: $pasteup-palette;

$c-brand: guss-colour(guardian-brand);
$c-brand-tint: #025b8c;
$c-brand-dark: guss-colour(guardian-brand-dark);
$c-membership: guss-colour(news-main-2);
$c-membership-higlight: #fcbb2d;

$c-neutral1: guss-colour('neutral-1');
$c-neutral2: guss-colour('neutral-2');
$c-neutral3: guss-colour('neutral-3');
$c-neutral4: guss-colour('neutral-4');
$c-neutral5: guss-colour('neutral-5');
$c-neutral6: guss-colour('neutral-6');
$c-neutral7: guss-colour('neutral-7');
$c-neutral8: guss-colour('neutral-8');

$c-white: #fff;
$c-bg: #f4f4f4;
$c-body: $c-neutral1;
$c-border: guss-colour('neutral-4');

$c-link: guss-colour(guardian-brand);
$c-link-hover: #6e99b2;
$c-link-active: guss-colour(news-main-2);

$input-border-radius: 20px;

// Layout
// =============================================================================

// Add breakpoints and tweakpoints here
// To add custom breakpoints directly inside of a component,
// see https://github.com/guardian/sass-mq#adding-custom-breakpoints

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.

@import 'bower_components/sass-mq/_mq';
@import 'bower_components/guss-grid-system/_grid-system';


$mq-breakpoints: (
    mobile:          gs-span(4)  + $gs-gutter,   // 320px
    mobileLandscape: gs-span(6)  + $gs-gutter,   // 480px
    phablet:         gs-span(8)  + $gs-gutter,   // 640px
    tablet:          gs-span(9)  + $gs-gutter*2, // 740px
    desktop:         gs-span(12) + $gs-gutter*2, // 980px
    leftCol:         gs-span(14) + $gs-gutter*2, // 1140px
    wide:            gs-span(16) + $gs-gutter*2, // 1300px
);
