@charset 'UTF-8';
/**
 * CONTENTS
 *
 * SETTINGS & TOOLS
 * Vars.................Variables and settings
 * Mixins...............Sass mixins
 *
 * BASE.................Global / element level rules
 * MODULE...............Individual components. One file per component,
 *                      The majority of all styles should be modules.
 * STATE................Styles which augment & overrides all other styles
 */
/* ==========================================================================
   SETTINGS & TOOLS
   ========================================================================== */

@import 'vars';
@import 'mixins';
@import 'webfonts';

/* ==========================================================================
   BASE
   ========================================================================== */

@import 'base/normalize';
@import 'base/base';
@import 'base/layout';
@import 'base/helpers';

/* ==========================================================================
   MODULES
   ========================================================================== */

@import 'modules/global-header';
@import 'modules/global-navigation';
@import 'modules/global-footer';
@import 'modules/prose';
@import 'modules/grid';
@import 'modules/page';
@import 'modules/lists';
@import 'modules/blocks';
@import 'modules/sections';
@import 'modules/icons';
@import 'modules/apps';
@import 'modules/forms';
@import 'modules/forms-password';
@import 'modules/buttons';
@import 'modules/packages';
@import 'modules/checkout';
@import 'modules/checkout-basket';
@import 'modules/warnings';

// Dev modules:
// - Pattern library
@import 'modules/patterns';

/* ==========================================================================
   STATE
   ========================================================================== */

@import 'state/responsive';
