
.basket {
    padding-top: 2px;

    @include mq(tablet) {
        border-top: 1px solid $c-brand;
    }
}

.basket__detail {
    border-top: 1px dotted $c-neutral5;
    display: block;
    margin-top: $gs-baseline/2;
    padding-top: 8px;
}

.basket__header {
    font-weight: 900;
}

.basket__smallprint {
    @include fs-textSans(2);
    margin-bottom: $gs-baseline;
}

.review-details--bg {
    background: $c-neutral8;
    border-top: 1px solid $c-neutral5;
    padding: $gs-gutter/2;
}

.review-details__heading {
    @include fs-bodyHeading(2);

    @include mq(tablet) {
        float: left;
        width: gs-span(2);
        text-align: right;
    }
}

.review-details__list {
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        margin-left: gs-span(2) + $gs-gutter;
    }
}

.review-details__detail {
    display: inline-block;
    width: gs-span(2);
}

/* TODO: Pasteup-forms */
.fieldset {
    position: relative;
}

.fieldset__edit {
    position: absolute;
    top: $gs-baseline;
    right: $gs-gutter;
    text-transform: lowercase;
    @include fs-textSans(1);
}

.fieldset--collapsed {
    .fieldset__note,
    .fieldset__fields {
        display: none;
    }
}
