
body {
    background-color: $c-bg;

    > .gs-container {
        background-color: $c-white;
    }
}

.global-header {
    background-color: $c-brand;
    text-align: right;

    a {
        border: none;
    }
}

.global-header__nav {
    font-family: $f-serif-text;
    font-weight: bold;
    @include font-size(14px, 36px);
    text-transform: lowercase;
    padding-top: $gs-baseline/2;

    .action {
        color: $c-white;
        margin-left: $gs-gutter*.75;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.global-nav {
    background-color: $c-brand-mid;

    .gs-container {
        background-color: $c-brand-dark;
        min-height: $gs-baseline*3;
    }
}

.global-brandbar {
    background-color: $c-brand;

    > .gs-container {
        background-color: $c-brand-dark;
    }

    .action {
        border: none;
        color: $c-white;
        @include font-size(14px, 36px);
        text-decoration: none;
        text-transform: lowercase;
    }
}

.global-footer {
    @include fs-textSans(3);
    background-color: $c-neutral5;
    color: $c-body;
    padding: $gs-baseline*2 $gs-gutter;

    a {
        color: inherit;
        border: none;
        text-decoration: underline;
    }

    .really-serious-copyright {
        @include fs-textSans(1);
        border-top: 1px solid $c-neutral3;
        margin-top: $gs-baseline*1.5;
        padding-top: $gs-baseline;
    }
}

.page-header {
    padding-top: $gs-baseline/2;

    @include mq(tablet) {
        margin-bottom: $gs-baseline*4;
    }
}

.page-header__title {
    @include f-headline;
    @include font-size(32px, 36px);
    margin-bottom: $gs-baseline*1.5;

    @include mq(tablet) {
        @include font-size(42px, 46px);
    }
}

.page-header__lead {
    @include font-size(18px, 22px);
    margin-bottom: $gs-baseline*1.5;

    @include mq(tablet) {
        @include font-size(22px, 26px);
        max-width: gs-span(10);
    }
}

.page-heading {
    @include font-size(24px, 28px);
    margin-bottom: $gs-baseline*2;
}

.page-heading--border {
    border-top: 1px solid $c-brand;
    padding-top: 8px;
}

.button--large {
    cursor: pointer;
    @include font-size(14px, 34px);
    min-width: 160px;
    padding-left: $gs-gutter;
    padding-right: $gs-gutter/4;
    text-align: left;

    &:after {
        @extend .icon-arrow-white;
    }
}

.button--secondary {
    background-color: transparent;
    border: 1px solid rgba($c-brand, 0.3);
    color: $c-brand;

    &:after {
        @extend .icon-arrow-blue;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        border-color: $c-brand;
    }
}
