@import com.gu.i18n.Currency
@import com.gu.memsub.BillingSchedule
@import views.support.BillingScheduleOps._
@import com.gu.memsub.subsv2.SubscriptionPlan
@import views.support.Dates._
@import views.support.FloatOps._

@(billingSchedule: BillingSchedule, currency: Currency, currentPlanOverride: Option[SubscriptionPlan.Paid] = None)

<div class="mma-section__schedule">
    @billingSchedule.billsToDisplay.toList.map { bill =>
        <div class="mma-section__calendar">
            <div class="mma-section__calendar--date">
                <span class="mma-section__calendar--sub">@bill.date.shortDay</span>
                <span class="mma-section__calendar--main">@bill.date.getDayOfMonth</span>
                <span class="mma-section__calendar--sub">@bill.date.shortMonth</span>
            </div>
            <p class="mma-section__calendar--amount @bill.whenDiscounted("mma-section__calendar--amount--discounted")">
                @currency.glyph
                @{
                    currentPlanOverride
                        .map(_.charges.price.prices.head.amount)
                        .filter(_ < bill.amount)
                        .map(_.currency)
                        .getOrElse(bill.amount.currency)
                }
            </p>
        </div>
    }
</div>
