@import com.gu.memsub.BillingSchedule
@import com.gu.memsub.Price
@import com.gu.i18n.GBP
@import views.support.Dates.prettyDate

@(billingSchedule: BillingSchedule)
<table class="table table--striped suspend__table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @for(bill <- billingSchedule.invoices.list) {
            <tr>
                <td class="date">@prettyDate(bill.date)</td>
                <td class="money">@Price(bill.amount, GBP).pretty</td>
            </tr>
        }
    </tbody>
</table>
