@import com.gu.i18n.Country
@import com.gu.memsub.Product
@import com.gu.memsub.subsv2.{Subscription, SubscriptionPlan}
@import views.support.PlanOps._
@import configuration.Config
@import utils.ManageUrlBuilder._

@(subscription:Subscription[SubscriptionPlan.ContentSubscription], maybeEmail: Option[String], product: Product, contactUsCountry: Option[Country])

<div class="js-payment-update" data-sub-id="@{subscription.name.get}" @for(email <- maybeEmail) {data-email="@email"} data-phone="@product.phone(contactUsCountry)" data-product="@product.name">
    @if(maybeEmail.isDefined) {
        <a href="@paymentUrl(Config.manageUrl, product)">
            <button class="button button--primary button--large">View or update your payment details</button>
        </a>
    } else {
        <p>To update your payment details, please contact the call centre. @product.phone(contactUsCountry)</p>
    }
</div>
