@import com.gu.i18n.GBP
@import com.gu.memsub.Price
@import com.gu.subscriptions.suspendresume.SuspensionService.HolidayRefund
@import views.support.Dates.formattedDateRange

@(holidayRefunds: Seq[HolidayRefund] = Seq.empty, suspendableDays: Int, suspendedDays: Int)

@if(holidayRefunds.nonEmpty) {
    <div class="prose">
        You have @suspendedDays @if(suspendedDays == 1) { day } else { days } lined up:
        <dl class="mma-section__list">
            @for((refund, holiday) <- holidayRefunds) {
                <dt class="mma-section__list--title">@formattedDateRange(holiday.start, holiday.finish)</dt>
                <dd class="mma-section__list--content">credit due: <span class="scheduled-suspensions__discount">@Price(refund, GBP).pretty</span></dd>
            }
        </dl>
            @if((suspendableDays - suspendedDays) == 0) {
                <strong>You cannot line up any more days</strong>.
            }
            <p class="scheduled-suspensions__help">
                Please contact Customer Services on <a href="tel:+44 330 333 6767">+44 (0) 330 333 6767</a> or email <a href="mailto:subscriptions@@theguardian.com">subscriptions@@theguardian.com</a> if you wish to cancel or amend any of these.
            </p>
    </div>
} else {
    You have no suspensions currently lined up.
}
