@import com.gu.memsub.subsv2.SubscriptionPlan
@import com.gu.memsub.subsv2.Subscription
@import views.support.Dates._
@import views.support.Pricing._
@import com.gu.memsub.PaperDay
@import scala.collection.immutable.List.empty
@import com.gu.salesforce.Contact

@(subscription: Subscription[SubscriptionPlan.PaperPlan], chosenPaperDays: List[PaperDay] = empty, maybeContact: Option[Contact] = None)(extra: Html = Html(""))
<dl class="mma-section__list">
    <dt class="mma-section__list--title">Subscriber ID</dt>
    <dd class="mma-section__list--content">@subscription.name.get</dd>

    <dt class="mma-section__list--title">Current plan</dt>
    <dd class="mma-section__list--content">
        <div>
        @if(subscription.plan.name == "Echo-Legacy") {
            Multi-day (@{chosenPaperDays.map(_.id.replace("Print ", "")).mkString(", ")})
        } else {
            @subscription.plan.name
        }
        </div>
        <div>@subscription.plan.charges.prettyPricing(subscription.plan.charges.price.currencies.head)</div>
    </dd>

    <dt class="mma-section__list--title">Start date</dt>
    <dd class="mma-section__list--content">
    @if(subscription.plan.name == "Echo-Legacy") {
        @prettyDate(subscription.startDate)
    } else {
        @prettyDate(subscription.firstPaymentDate)
    }
    </dd>
@maybeContact.map { contact =>
    <dt class="mma-section__list--title">Delivery details</dt>
    <dd class="mma-section__list--content">
        <div>@contact.firstName @contact.lastName</div>
        <div>@contact.mailingStreet
        @contact.mailingCity
        @contact.mailingState
        @contact.mailingPostcode
        @contact.mailingCountry</div>
    </dd>
}
    @extra
</dl>
