@import com.gu.memsub.subsv2.SubscriptionPlan
@import com.gu.memsub.subsv2.Subscription
@import com.gu.memsub.Benefit.PaperDay
@import scala.collection.immutable.List.empty
@import com.gu.salesforce.Contact
@import model.SubscriptionOps._

@(chosenPaperDays: List[PaperDay] = empty, maybeContact: Option[Contact] = None, subscription: Subscription[SubscriptionPlan.ContentSubscription])(extra: Html = Html(""))
<dl class="mma-section__list">
    <dt class="mma-section__list--title">Subscriber ID</dt>
    <dd class="mma-section__list--content">@{subscription.name.get}</dd>
    @account.fragments.planList(
        plans = subscription.currentPlans,
        singularLabel = "Current Plan",
        chosenPaperDays = chosenPaperDays)
    @account.fragments.planList(
        plans = subscription.futurePlans,
        singularLabel = "Upcoming Plan",
        chosenPaperDays = chosenPaperDays)

    @maybeContact.map { contact =>
        <dt class="mma-section__list--title">Delivery details</dt>
        <dd class="mma-section__list--content">
            <div>@contact.firstName @contact.lastName</div>
            <div>@{
                List(
                    contact.mailingStreet,
                    contact.mailingCity,
                    contact.mailingState,
                    contact.mailingPostcode,
                    contact.mailingCountry
                ).flatten.mkString(", ")}</div>
        </dd>
    }
    @extra
</dl>
