@import controllers.CachedAssets.hashedPathFor

<script id="script-main">
    /* Only load JS if the browser cuts the mustard */
    (function(isModern) {
        if (isModern) {
            var s = document.createElement('script');
            s.src = '@hashedPathFor("javascripts/main.min.js")'; s.async = true;
            document.getElementsByTagName("head")[0].appendChild(s);
        }
    })(guardian.isModernBrowser);
</script>

<script type="text/javascript" async=1>
;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
};p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","//d1fc8wv8zag5ca.cloudfront.net/2.5.1/sp.js","snowplow_name_here"));
</script>
