@import controllers.WeeklyLandingPage.Hreflangs
@(
    title: String,
    description: Option[String],
    jsVars: model.JsVars,
    touchpointBackendResolutionOpt: Option[services.TouchpointBackends.Resolution],
    maybeHrefLangs: Option[Hreflangs] = None
)

@import controllers.CachedAssets.hashedPathFor
@import controllers.WeeklyLandingPage.Hreflang

<meta charset="utf-8">

<title>@title</title>
@optimizeScript()
@description.map { d => <meta name="description" content="@d" /> }
<meta name="google-site-verification" content="qf7V0ceP_mY_0jTl7R7C1wZSKn2gK7TlharWVLr8Ea0" />
<meta name="google-site-verification" content="usCUaIJGNg9ijq-htmMAU6yEhAwNm7wdyb_fk_s2LTQ" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="HandheldFriendly" content="true">
<meta property="og:title" content="@title"/>
@description.map { d => <meta name="og:description" content="@d" /> }
<meta property="og:type" content="website"/>
@maybeHrefLangs.map { hrefLangs =>
    <link rel="canonical" href="@hrefLangs.canonical">
    @hrefLangs.hreflangs.map { alternates =>
        @alternates.map { alternate =>
            <link rel="alternate" href="@alternate.href" hreflang="@alternate.lang">
        }
    }
}

@fragments.javascriptFirstSteps(jsVars, touchpointBackendResolutionOpt)

<link rel="stylesheet" href="@hashedPathFor("stylesheets/main.min.css")"/>
<!--[if (IE 9)]>
    <link rel="stylesheet" href="@hashedPathFor("stylesheets/ie9.min.css")"/>
<![endif]-->
<!--[if (lt IE 9)]>
    <link rel="stylesheet" href="@hashedPathFor("stylesheets/ie-old.min.css")"/>
<![endif]-->

<link rel="shortcut icon" type="image/png" href="@hashedPathFor("images/favicons/32x32.ico")"/>

@fragments.javascriptLaterSteps()
