@(title: String, jsVars: model.JsVars)

@import play.api.Play
@import controllers.CachedAssets.hashedPathFor

<meta charset="utf-8">

<title>@title</title>

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="HandheldFriendly" content="True">

@fragments.javascriptFirstSteps(jsVars)

<link rel="stylesheet" href="@hashedPathFor("stylesheets/main.min.css")"/>
<!--[if (IE 9)]>
    <link rel="stylesheet" href="@hashedPathFor("stylesheets/ie9.min.css")"/>
<![endif]-->
<!--[if (lt IE 9)]>
    <link rel="stylesheet" href="@hashedPathFor("stylesheets/ie-old.min.css")"/>
<![endif]-->

@if(Play.isDev(Play.current)) {
    <link rel="shortcut icon" type="image/png" href="@hashedPathFor("images/favicons/32x32-dev.ico")"/>
} else {
    <link rel="shortcut icon" type="image/png" href="@hashedPathFor("images/favicons/32x32.ico")"/>
}

@fragments.javascriptLaterSteps()
