@import play.api.libs.json.Json
@import model.JsVars
@import controllers.CachedAssets.hashedPathFor

@(jsVars: JsVars)

<!--[if lte IE 9]>
<script src="@hashedPathFor("javascripts/vendor/polyfills.js")"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="@hashedPathFor("javascripts/vendor/html5shiv.js")"></script>
<![endif]-->

<script id="gu">
    var guardian = JSON.parse('@Html(Json.stringify(Json.toJson(jsVars)))');
    guardian.buildNumber = '@app.BuildInfo.buildNumber';
    guardian.isModernBrowser =  (
        'querySelector' in document
        && 'addEventListener' in window
        && 'localStorage' in window
        && 'sessionStorage' in window
        && 'bind' in Function
        && (('XMLHttpRequest' in window && 'withCredentials' in new XMLHttpRequest()) || 'XDomainRequest' in window)
    );

    (function(isModern) {
        // We want to add/remove classes to HTML ASAP to avoid FOUC
        var htmlClassNames = ['js-on'];
        document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/g, '') + ' ' + htmlClassNames.join(' ');

        if (!isModern) {
            document.documentElement.className += ' js-ancient-browser';
        }
    })(guardian.isModernBrowser);
</script>
