@import controllers.CachedAssets.hashedPathFor

<script src="@hashedPathFor("javascripts/vendor/ready.js")"></script>

@* Scripts that should be executed after CSS is loaded *@
<script id="script-curl">
    var curl = {
        apiName: "require",
        paths: {
            zxcvbn: '@hashedPathFor("javascripts/vendor/zxcvbn.js")',
            omniture: '@hashedPathFor("javascripts/vendor/omniture-2014-11-19.js")'
        }
    };
</script>
<script src="@hashedPathFor("javascripts/vendor/curl.js")"></script>
<script id="script-main">
    // Only load JS if the browser cuts the mustard
    function loadJS(a,b){"use strict";var c=window.document.getElementsByTagName("script")[0],d=window.document.createElement("script");return d.src=a,d.async=!0,c.parentNode.insertBefore(d,c),b&&"function"==typeof b&&(d.onload=b),d}
    (function(isModern) {
        if (isModern) {
            domready(function(){
                loadJS('@hashedPathFor("javascripts/main.min.js")');
            });
        }
    })(guardian.isModernBrowser);
</script>
