<ul class="discover grid grid--3up-step-phablet grid--bordered grid--flex grid--no-clearfix-before">
    <li class="grid__item">
        <div class="discover__item">
            <div class="discover__item__icon">@fragments.common.inlineIcon("gifts", Seq("icon--promo"))</div>
            <div class="discover__item__text">
                <h3>Regular gifts and competitions</h3>
                <p>Get free gifts and exclusive competitions from Guardian partners.</p>
            </div>
        </div>
    </li>
    <li class="grid__item">
        <div class="discover__item">
            <div class="discover__item__icon">@fragments.common.inlineIcon("discounts", Seq("icon--promo"))</div>
            <div class="discover__item__text">
                <h3>Exclusive discounts</h3>
                <p>Exclusive discounts on products and services available from the Guardian and Observer.</p>
            </div>
        </div>
    </li>
    <li class="grid__item">
        <div class="discover__item">
            <div class="discover__item__icon">@fragments.common.inlineIcon("premium_app", Seq("icon--promo"))</div>
            <div class="discover__item__text">
                <h3>Free premium app (worth £2.49/month)</h3>
                <p>This app brings you breaking news from the Guardian and as a subscriber, you'll get the previum version at no extra cost. Enjoy an advert-free app experience with access to our daily crosswords and much more.</p>
            </div>
        </div>
    </li>
</ul>
