@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import views.support.Dates.prettyLegalDate
@import views.support.MarkdownRenderer
@(promoCode: PromoCode, promotion: AnyPromotion, md: MarkdownRenderer)
@Html(md.render(
s"""
1. The promotion (the “Promotion”) is open to new Digital Pack subscribers aged 18 and over ("you") subject to paragraph 2 below.
2. Employees or agencies of Guardian News & Media Limited ("GNM", "We") and/or their group companies or their family members, or anyone else connected with the promotion may not enter the Promotion.
3. By entering the promotion you are accepting these terms and conditions.
4. To enter the promotion, you must: (i) either go to [subscribe.theguardian.com](https://subscribe.theguardian.com/) or call +44 (0) 330 333 6767 and quote promotion code ${promoCode.get} (ii) purchase a Digital Pack subscription and maintain that subscription for at least three months.
5. Entry to this promotion is available only to new subscribers: this means that you must not already have a subscription to the Digital Pack to be eligible to participate in this Promotion.
6. Please note that purchasing a subscription as referred to in paragraph 4 above will also be subject to the terms and conditions for Guardian and Observer Digital subscriptions available at [theguardian.com/digital-subscriptions-terms-conditions](https://www.theguardian.com/digital-subscriptions-terms-conditions)
7. The opening date and time of the Promotion is ${prettyLegalDate(promotion.starts)}. ${promotion.expires.map(expires => s"The closing date and time of the promotion is ${prettyLegalDate(expires)}. Purchases after that date and time will not be eligible for the promotion.").mkString}
8. If you opt to use the SMS response service to place your order you will be charged your standard network rate.
9. Only one entry to this Promotion per person. Entries on behalf of another person will not be accepted.
10. We take no responsibility for entries that are lost, delayed, misdirected or incomplete or cannot be delivered or entered for any technical or other reason. Proof of delivery of the entry is not proof of receipt.
11. The Promoter of the Promotion is Guardian News & Media Limited whose address is Kings Place, 90 York Way, London N1 9GU. Any complaints regarding the Promotion should be sent to this address.
12. Nothing in these terms and conditions shall exclude the liability of GNM for death, personal injury, fraud or fraudulent misrepresentation as a result of its negligence.
13. GNM accepts no responsibility for any damage, loss, liabilities, injury or disappointment incurred or suffered by you as a result of entering the Promotion. GNM further disclaims liability for any injury or damage to you or any other person’s computer relating to or resulting from participation in the Promotion.
14. GNM reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, this Promotion with or without prior notice due to reasons outside its control (including, without limitation, in the case of anticipated, suspected or actual fraud). The decision of GNM in all matters under its control is final and binding.
15. GNM shall not be liable for any failure to comply with its obligations where the failure is caused by something outside its reasonable control. Such circumstances shall include, but not be limited to, weather conditions, fire, flood, hurricane, strike, industrial dispute, war, hostilities, political unrest, riots, civil commotion, inevitable accidents, supervening legislation or any other circumstances amounting to force majeure.
16. The Promotion will be governed by English law.
"""
))
