@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.subscriptions.DigipackCatalog
@import com.gu.memsub.promo.PromoCode
@import model.DigitalEdition

@(edition: DigitalEdition, catalog: DigipackCatalog, promoCode: PromoCode, promotion: AnyPromotion)
<div class="digipack">
    <div class="digipack__shots">
        <div class="digipack__roundel">@fragments.common.roundel(promotion.roundelHtml, Seq("roundel--raised"))</div>
        <img src="@controllers.CachedAssets.hashedPathFor("images/backgrounds/bg-promo-digital-pack.jpg")"/>
    </div>
    <div class="grid grid--3up-aside-tablet grid--flex digipack__benefits">
        <div class="grid__item">
            <p class="digipack__benefit">Experience your newspaper in full, on your tablet with the Guardian & Observer daily edition</p>
        </div>
        <div class="grid__item">
            <p class="digipack__benefit">Enjoy an advert-free experience on The Guardian's app with access to our daily crosswords and exclusive content</p>
            @fragments.promotion.subscribeNow(edition, promoCode)
        </div>
    </div>
</div>
