@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.subscriptions.DigipackCatalog
@import model.DigitalEdition

@(edition: DigitalEdition, catalog: DigipackCatalog, promoCode: PromoCode, promotion: AnyPromotion)
<div class="discover">
    <ul class="grid grid--3up grid--bordered grid--flex grid--no-clearfix-before">
        <li class="grid__item">
            @fragments.common.inlineIcon("paper_tablet", Seq("icon--promo"))
            <h3>If it's in the paper it's on your tablet</h3>
            <p>The paper you love specially delivered to your tablet from 4am every morning, ready to read offline 7 days a week.</p>
        </li>
        <li class="grid__item">
            @fragments.common.inlineIcon("share", Seq("icon--promo"))
            <h3>Share with friends and family</h3>
            <p>You can download the daily edition on up to 10 devices. Designed for iPad, Android tablet and Kindle Fire.</p>
        </li>
        <li class="grid__item">
            @fragments.common.inlineIcon("photo_video", Seq("icon--promo"))
            <h3>Stunning photography and videos</h3>
            <p>The Guardian's image galleries are available in full HD plus embedded audio and video galleries.</p>
        </li>
        <li class="grid__item">
            @fragments.common.inlineIcon("every_day", Seq("icon--promo"))
            <h3>Every day; every section; every supplement</h3>
            <p>The Guide; Cook; Observer Tech; and food Monthly plus our daily crossword tailored for your tablet.</p>
            @fragments.promotion.pricingCta(edition, catalog, promoCode, promotion)
            @fragments.promotion.subscribeNow(edition, promoCode)
        </li>
        <li class="grid__item grid__item--flex-2-columns u-no-border">
            <div class="block--digital-tablet-previews"></div>
        </li>
    </ul>
</div>
