@import com.gu.i18n.{Country, Currency}
@import com.gu.memsub.BillingPeriod.Month
@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.memsub.subsv2.CatalogPlan

@(currency: Currency, country: Country, plan: CatalogPlan.Digipack[Month.type], promoCode: PromoCode, promotion: AnyPromotion)
<div>
    <div class="digital-tablet-previews hide-above-phablet">
        <img src="@controllers.CachedAssets.hashedPathFor("images/backgrounds/bg-digital-tablet-previews-garnett.png")"/>
    </div>
    <ul class="grid grid--3up-step-phablet grid--bordered grid--flex grid--no-clearfix-before">
        <li class="grid__item">
            <div class="feature">
                <div class="feature__icon">@fragments.common.inlineIcon("paper_tablet", Seq("icon--feature"))</div>
                <div class="feature__block">
                    <h3>If it's in the paper it's on your tablet</h3>
                    <div class="feature__text">The paper you love specially delivered to your tablet from 4am every morning, ready to read offline 7 days a week.</div>
                </div>
            </div>
        </li>
        <li class="grid__item">
            <div class="feature">
                <div class="feature__icon">@fragments.common.inlineIcon("share", Seq("icon--feature"))</div>
                <div class="feature__block">
                    <h3>Share with friends and family</h3>
                    <div class="feature__text">You can download the daily edition, designed for iPad, on up to 10 devices.</div>
                </div>
            </div>
        </li>
        <li class="grid__item">
            <div class="feature">
                <div class="feature__icon">@fragments.common.inlineIcon("photo_video", Seq("icon--feature"))</div>
                <div class="feature__block">
                    <h3>Stunning photography and videos</h3>
                    <div class="feature__text">The Guardian's image galleries are available in full HD plus embedded audio and video galleries.</div>
                </div>
            </div>
        </li>
        <li class="grid__item">
            <div class="feature">
                <div class="feature__icon">@fragments.common.inlineIcon("every_day", Seq("icon--feature"))</div>
                <div class="feature__block">
                    <h3>Every day; every section; every supplement</h3>
                    <div class="feature__text">The Guide; Cook; and food Monthly plus our daily crossword tailored for your tablet.</div>
                    <div class="feature__cta">
                        @fragments.promotion.pricingCta(currency, plan, promoCode, promotion)
                        @fragments.promotion.subscribeNow(country, promoCode)
                    </div>
                </div>
            </div>
        </li>
        <li class="grid__item grid__item--flex-2-columns u-no-border hide-below-phablet">
            <div class="digital-tablet-previews digital-tablet-previews--in-grid">
                <img src="@controllers.CachedAssets.hashedPathFor("images/backgrounds/bg-digital-tablet-previews-garnett.png")"/>
            </div>
        </li>
    </ul>
</div>
