@import com.gu.i18n.Currency
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.memsub.subsv2.CatalogPlan
@import views.support.Catalog._

@(plan: CatalogPlan.Paid, currency: Currency, promotion: AnyPromotion)
@promotion.asDiscount.find(_.promotionType.durationMonths.isDefined).fold {
    Monthly price <strong>@formatPrice(plan, currency, promotion)</strong>
} { p =>
    @if(p.promotionType.durationMonths.get > 1) {
        <strong>@formatPrice(plan, currency, promotion)</strong> per month for @p.promotionType.durationMonths.get months
    } else {
        <strong>@formatPrice(plan, currency, promotion)</strong> for 1 month
    }
    <br/>
    Then <strong>@formatPrice(plan, currency)</strong> every month thereafter
}
