@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.memsub.subsv2.CatalogPlan
@import com.gu.memsub.BillingPeriod.Month
@import model.DigitalEdition
@import views.support.Catalog._
@import configuration.Config.Zuora.paymentDelay

@(edition: DigitalEdition, plan: CatalogPlan.Digipack[Month.type], promoCode: PromoCode, promotion: AnyPromotion)
<div class="pricing-cta">
    <div class="pricing-cta__pricing">
        <h4 class="pricing-cta__pricing__title">Free for @promotion.asFreeTrial.fold(paymentDelay.getDays)(_.promotionType.duration.getDays) days</h4>
        <p class="pricing-cta__pricing__value">
            @promotion.asDiscount.find(_.promotionType.durationMonths.isDefined).fold {
                Then @formatPrice(plan, promotion)/month
            } { p =>
                @if(p.promotionType.durationMonths.get > 1) {
                    Then @formatPrice(plan, promotion)/month for @p.promotionType.durationMonths.get months
                } else {
                    Then @formatPrice(plan, promotion) for 1 month
                }
                <br/>
                Then @formatPrice(plan) every month thereafter
            }
        </p>
    </div>
</div>
