@import com.gu.memsub.images.ResponsiveImageGroup
@import com.gu.memsub.promo.Promotion.PromoWithDigitalPackLandingPage
@import views.support.MarkdownRenderer
@(promotion: PromoWithDigitalPackLandingPage, img: ResponsiveImageGroup, md: MarkdownRenderer)

<div class="promotion grid grid--2up-step grid--flex grid--no-clearfix-before">
    <div class="grid__item u-vertically-center-flexbox">
        <div class="promotion-image">
            <img src="@img.defaultImage" srcset="@img.srcset" sizes="50vw" class="promotion-image__image"/>
        </div>
    </div>
    <div class="grid__item u-vertically-center-flexbox">
        @fragments.promotion.promotionDescription(promotion, md)
    </div>
</div>
