@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.subscriptions.DigipackCatalog
@import model.DigitalEdition
@import org.joda.time.Days
@(edition: DigitalEdition, catalog: DigipackCatalog, promoCode: PromoCode, promotion: AnyPromotion, defaultTrialDays: Days)
<div class="promotion-cta">
    <div class="grid grid--3up-step-phablet grid--flex">
        <div class="grid__item grid__item--flex-2-columns">
            <div class="promotion-cta__image">
                <img src="@controllers.CachedAssets.hashedPathFor("images/backgrounds/bg-promo-digital-pack.jpg")"/>
            </div>
        </div>
        <div class="grid__item u-vertically-center-flexbox">
            <div class="promotion-cta__pricing">
                @fragments.promotion.pricingCta(defaultTrialDays, edition, catalog, promoCode, promotion)
                @fragments.promotion.subscribeNow(edition, promoCode)
            </div>
        </div>
    </div>
</div>
