@import org.joda.time.DateTime.now
@import views.support.Dates.dayInMonthWithSuffixAndMonth
@import views.support.LandingPageOps.ForPromoWithDigitalPackLandingPage
@import com.gu.memsub.promo.Promotion.PromoWithDigitalPackLandingPage
@import org.pegdown.PegDownProcessor
@import views.support.MarkdownRenderer

@(promotion: PromoWithDigitalPackLandingPage, md: MarkdownRenderer)
<div class="promotion-description @promotion.getDescriptionBorder">
    @promotion.landingPage.description.fold {
        <p>@promotion.description</p>
    } { d =>
        @Html(md.render(d))
    }
</div>
@promotion.expires.filter(now.plusMonths(1).isAfter).map { e =>
    <p class="promotion-description @promotion.getDescriptionBorder">
        But hurry! Offer expires @dayInMonthWithSuffixAndMonth(e.minusSeconds(1)).
    </p>
}
