@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.subscriptions.DigipackCatalog
@import model.DigitalEdition
@import com.gu.memsub.util.Days
@(edition: DigitalEdition, catalog: DigipackCatalog, promoCode: PromoCode, promotion: AnyPromotion, defaultTrialDays: Days)
<div class="promotion-cta">
    <div class="grid grid--3up-step">
        <div class="grid__item">
            <div class="promotion-cta__subscribe">
                <h2>Subscribe&nbsp;to&nbsp;the Digital&nbsp;Pack</h2>
            </div>
        </div>
        <div class="grid__item promotion-cta__image"></div>
        <div class="grid__item">
            @fragments.promotion.pricingCta(defaultTrialDays, edition, catalog, promoCode, promotion)
            @fragments.promotion.subscribeNow(edition, promoCode)
        </div>
    </div>
</div>
