@import org.joda.time.DateTime.now
@import views.support.Dates.dayInMonthWithSuffixAndMonth
@import views.support.LandingPageOps.ForPromotionsWithALandingPage
@import com.gu.memsub.promo.Promotion.PromoWithDigipackLandingPage
@(promotion: PromoWithDigipackLandingPage)
<p class="promotion-description @promotion.getDescriptionBorder">
    @Html(promotion.landingPage.description.getOrElse(promotion.description))
</p>
@promotion.expires.filter(now.plusMonths(1).isAfter).map { e =>
    <p class="promotion-description @promotion.getDescriptionBorder">
        But hurry! Offer expires @dayInMonthWithSuffixAndMonth(e.minusSeconds(1)).
    </p>
}
