@import com.gu.i18n.Country
@import com.gu.i18n.Currency
@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.memsub.subsv2.CatalogPlan
@import com.gu.memsub.BillingPeriod.Month
@(currency: Currency, country: Country, plan: CatalogPlan.Digipack[Month.type], promoCode: PromoCode, promotion: AnyPromotion)
<div class="promotion-cta">
    <div class="grid grid--3up-step-phablet grid--flex">
        <div class="grid__item grid__item--flex-2-columns">
            <div class="promotion-cta__image">
                <img src="@controllers.CachedAssets.hashedPathFor("images/backgrounds/bg-promo-digital-pack.jpg")"/>
            </div>
        </div>
        <div class="grid__item u-vertically-center-flexbox">
            <div class="promotion-cta__pricing">
                @fragments.promotion.pricingCta(currency, plan, promoCode, promotion)
                @fragments.promotion.subscribeNow(country, promoCode)
            </div>
        </div>
    </div>
</div>
