@import com.gu.memsub.promo.Promotion.PromoWithDigipackLandingPage
@(promotion: PromoWithDigipackLandingPage, imageUrl: String)

<div class="promotion grid grid--2up-step grid--flex grid--no-clearfix-before">
    <div class="grid__item u-vertically-center-flexbox">
        <div class="promotion-image">
            <img src="@imageUrl"/>
        </div>
    </div>
    <div class="grid__item u-vertically-center-flexbox">
        @fragments.promotion.promotionDescription(promotion)
    </div>
</div>
