@import com.gu.i18n.Currency
@import com.gu.i18n.Currency.GBP
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.memsub.subsv2.Catalog
@import configuration.Config.Zuora.defaultDigitalPackFreeTrialPeriod
@import configuration.Links
@import views.support.Catalog._

@(catalog: Catalog, promotion: AnyPromotion, currency: Currency = GBP)
@if(promotion.asDigitalPack.isDefined) {
    <h4>Digital subscription terms and conditions</h4>
    <p>
        Subscriptions available to people aged 18 and over with a valid email address. Free trial open to new digital pack subscribers only. Free trial period lasts
        @promotion.asFreeTrial.fold(defaultDigitalPackFreeTrialPeriod.getDays.toString)(_.promotionType.duration.getDays.toString)
        days from receipt of Subscription ID, up to and including the day before your first payment falls due. At the end of the free trial,
        the subscription is charged at @promotion.asIncentive.map { p => standard price (currently @formatPrice(catalog.digipack.month, currency, promotion) a month) }
        @promotion.asDiscount.map { p => the special price of @formatPrice(catalog.digipack.month, currency), promotion) a month } unless cancelled.
        Requires Internet connection (additional charges may apply) and an Apple device.
    </p>
    <p>
        For full details of the digital pack and its terms and conditions - see
        <a class="u-link" href="@Links.digipackTerms.href" target="_blank" rel="noopener noreferrer">theguardian.com/digital-subscriptions-terms-conditions</a>.
    </p>
} else {
    @if(promotion.asWeekly) {
        <h4>Guardian Weekly subscription terms and conditions</h4>
        <p>Subscriptions available to people aged 18 and over with a valid email address.</p>
        <p>
            For full details of Guardian Weekly print subscription services and their terms and conditions - see
            <a class="u-link" href="@Links.weeklyTerms.href" target="_blank" rel="noopener noreferrer">theguardian.com/guardian-weekly-subscription-terms-conditions</a>
        </p>
    } else {
        <h4>Newspaper subscription terms and conditions</h4>
        <p>Subscriptions available to people aged 18 and over with a valid email address.</p>
        <p>
            For full details of Guardian and Observer voucher and home delivery subscription services and their terms and conditions - see
            <a class="u-link" href="@Links.paperTerms.href" target="_blank" rel="noopener noreferrer">theguardian.com/subscriber-direct/subscription-terms-and-conditions</a>
        </p>
    }
}
