@import com.gu.memsub.subsv2.Catalog
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import views.support.Catalog._
@import configuration.Links
@import configuration.Config.Zuora.paymentDelay

@(catalog: Catalog, promotion: AnyPromotion)
@if(promotion.asDigitalPack.isDefined) {
    <h4>Digital subscription terms and conditions</h4>
    <p>
        Subscriptions available to people aged 18 and over with a valid email address. Free trial open to new digital pack subscribers only. Free trial period lasts
        @promotion.asFreeTrial.fold(paymentDelay.getDays.toString)(_.promotionType.duration.getDays.toString)
        days from receipt of subscriber ID, up to and including the day before your first payment falls due. At the end of the free trial,
        the subscription is charged at @promotion.asIncentive.map { p => standard price (currently @formatPrice(catalog.digipack.month, promotion) a month) }
        @promotion.asDiscount.map { p => the special price of @formatPrice(catalog.digipack.month, promotion) a month } unless cancelled.
        Requires Internet connection (additional charges may apply) and an Apple, Android or Kindle Fire device.
    </p>
    <p>
        For full details of the digital pack and its terms and conditions - see
        <a class="u-link" href="@Links.digipackTerms.href" target="_blank">theguardian.com/digital-subscriptions-terms-conditions</a>.
    </p>
} else {
    <h4>Subscription terms and conditions</h4>
    <p>Subscriptions available to people aged 18 and over with a valid email address.</p>
    <p>
        For full subscription terms and conditions visit <a class="u-link" href="@Links.paperTerms.href" target="_blank">theguardian.com/subscriber-direct/subscription-terms-and-conditions</a>
    </p>
}
