@import com.gu.subscriptions.DigipackCatalog
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import views.support.Catalog._

@import com.gu.memsub.util.Days
@(defaultFreeTrialDays: Days, catalog: DigipackCatalog, promotion: AnyPromotion)
<h4>Subscription terms and conditions</h4>
<p>Subscriptions available to people aged 18 and over with a valid email address. Free trial open to new digital pack subscribers only. Free trial period lasts @promotion.whenFreeTrial.fold(Html(defaultFreeTrialDays.toString)) { p => @Html(p.promotionType.duration.get.toString) } days from receipt of subscriber ID, up to and including the day before your first payment falls due. At the end of the free trial, the subscription is charged at @promotion.whenIncentive.map { p => standard price (currently @formatPrice(catalog, promotion) a month) } @promotion.whenPercentDiscount.map { p => special price of @formatPrice(catalog, promotion) a month } unless cancelled. Requires Internet connection (additional charges may apply) and an Apple, Android or Kindle Fire device. For full details of the digital pack and its terms and conditions - see <a href="//www.theguardian.com/digital-subscriptions-terms-conditions" target="_blank">theguardian.com/digital-subscriptions-terms-conditions</a>.</p>
