@import model.DigitalEdition.UK
@import views.support.DigitalEdition._
@import services.FlashSale
@()

@main(
    "Subscriptions | The Guardian",
    Some("Subscribe to The Guardian & Observer. Support our independent, award-winning journalism."),
    edition = UK) {

    <main class="page-container gs-container">
        @fragments.page.header("Subscription offers")
        @fragments.productLists.productListUk(FlashSale.offersPromoCodes)
        <div class="row row--items-1">
            <div class="row__item block block--primary block--weekly">
                <h2 class="block__title">Subscribe to the Guardian Weekly</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">A selection of international editorial from the Guardian, Observer and Washington Post</li>
                        <li class="block__list-item">A unique blend of international news, politics, culture and comment</li>
                        <li class="block__list-item">Save on the retail price</li>
                        <li class="block__list-item">Free delivery to your door, wherever you are in the world</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("WAL41X", UK.countryGroup.defaultCountry).url">
                        Subscribe now</a>
                </div>
            </div>
        </div>
    </main>
}
