@import model.DigitalEdition
@import model.promoCodes.PromoCodes
@import views.support.DigitalEdition._
@(edition: DigitalEdition)

@main(s"${edition.name} | Subscriptions | The Guardian",
    Some("Subscribe to The Guardian. Support our independent, award-winning journalism."),
    edition = edition) {

    <main class="page-container gs-container">
        @fragments.page.header("Subscription offers", Some("Select your preferred package"))
        @fragments.productLists.productListInternational(edition, PromoCodes.offers(edition))
    </main>
}
