@import model.DigitalEdition.UK
@import views.support.DigitalEdition._
@()

@main(
    "Subscriptions | The Guardian",
    Some("Subscribe to The Guardian & Observer. Support our independent, award-winning journalism."),
    edition = UK) {

    <main class="page-container gs-container">
        @fragments.page.header("Subscription offers")
        <div class="row row--items-3">
            <div class="row__item block block--primary block--digital">
                <h2 class="block__title">Digital</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">14-day free trial of our digital pack</li>
                        <li class="block__list-item"><strong>Plus, save 50% for the first three months</strong></li>
                        @UK.digitalPackSaving.map { saving => <li class="block__list-item">Save up to @saving% on the app store price</li> }
                        <li class="block__list-item">Access to the Daily Edition and the advert-free Guardian App Premium Tier</li>
                        <li class="block__list-item">Available on Apple, Android and Kindle Fire</li>
                        <li class="block__list-item">Use on up to 10 devices</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("DBJ42F", UK.countryGroup.defaultCountry).url">Subscribe now</a>
                </div>
            </div>
            <div class="row__item block block--primary block--paper-digital">
                <h2 class="block__title">Paper + digital</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item"><strong>Subscribe today and save 50% for the first three months</strong></li>
                        <li class="block__list-item">Year-round savings on the retail price</li>
                        <li class="block__list-item">Pick the package you want: Everyday+, Sixday+ and Weekend+</li>
                        <li class="block__list-item">All supplements Monday to Sunday</li>
                        <li class="block__list-item">All the <strong>Digital Pack</strong> benefits</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("GBI41H", None).url">Subscribe now</a>
                </div>
            </div>
            <div class="row__item block block--primary block--paper">
                <h2 class="block__title">Paper</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item"><strong>Subscribe today and save 50% for the first three months</strong></li>
                        <li class="block__list-item">Year-round savings of up to 31% off the retail price</li>
                        <li class="block__list-item">Pick the package you want: Everyday, Sixday and Weekend</li>
                        <li class="block__list-item">All supplements Monday to Sunday</li>
                        <li class="block__list-item">Receive newspaper vouchers to use at over 1,000 retailers across the UK, or delivery within the M25</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("GBI41G", None).url">Subscribe now</a>
                </div>
            </div>
        </div>
        <div class="row row--items-1">
            <div class="row__item block block--primary block--weekly">
                <h2 class="block__title">Subscribe to the Guardian Weekly</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">A selection of international editorial from the Guardian, Observer and Washington Post</li>
                        <li class="block__list-item">A unique blend of international news, politics, culture and comment</li>
                        <li class="block__list-item">Save on the retail price</li>
                        <li class="block__list-item">Free delivery to your door, wherever you are in the world</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("WAL41X", UK.countryGroup.defaultCountry).url">Subscribe now</a>
                </div>
            </div>
        </div>
    </main>
}
