@import com.gu.i18n.Currency
@import com.gu.i18n.Country
@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.{PromoWithDigitalPackLandingPage, asAnyPromotion}
@import com.gu.memsub.subsv2.Catalog
@import views.support.LandingPageOps._
@import views.support.MarkdownRenderer

@import controllers.WeeklyLandingPage.Hreflangs
@(
    currency: Currency,
    country: Country,
    catalog: Catalog,
    promoCode: PromoCode,
    promotion: PromoWithDigitalPackLandingPage,
    md: MarkdownRenderer,
    hreflangs: Hreflangs
)
@plan = @{catalog.digipack.month}
@anyPromotion = @{asAnyPromotion(promotion)}
@main(
    title = "Subscribe to the Guardian Digital Pack offer | The Guardian",
    bodyClasses = Seq("is-wide"),
    hreflangs = Some(hreflangs)
) {
    <script>
        guardian.pageInfo.pageType = 'Landing';
        guardian.pageInfo.productData.productSegment = 'Digital';
    </script>

    <main class="page-container promo-landing-page">
        <section class="section-white section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content">
                @fragments.page.header("The Digital Pack offer", None)
                </div>
            </div>
        </section>
        <section class="section-grey section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                @fragments.promotion.digipack(country, plan, promoCode, promotion.landingPage.roundelHtml.map(md.render))
            </div>
        </section>
        <section class="section-white section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content">
                    <h2 class="promo-landing-page__section-head">Discover the Guardian Daily Edition</h2>
                    @fragments.promotion.discover(currency, country, plan, promoCode, anyPromotion)
                </div>
            </div>
        </section>
        @if(promotion.asFreeTrial.isEmpty && promotion.asTracking.isEmpty){
            <section class="@promotion.landingPageSectionColour section--dark-sides">
                <div class="gs-container gs-container--slim page-slice page-slice">
                    <div class="page-slice__content @promotion.getSectionSeparator">
                        <h2 class="promo-landing-page__section-head">@promotion.landingPage.title.getOrElse(promotion.name)</h2>
                        @{
                            promotion.landingPage.image.fold {
                                fragments.promotion.promotionDescription(promotion, md)
                            } {
                                img => fragments.promotion.promotionWithImage(promotion, img, md)
                            }
                        }
                    </div>
                </div>
            </section>
        }
        <section class="section-white section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content @promotion.getSectionSeparator">
                    <h2 class="promo-landing-page__section-head">Exclusive benefits for Digital Pack subscribers</h2>
                    @fragments.promotion.benefits()
                </div>
            </div>
        </section>
        <section class="section-grey section--dark-sides">
            <div class="gs-container gs-container--slim page-slice page-slice">
                <div class="page-slice__content">
                    <h2 class="promo-landing-page__section-head">Subscribe&nbsp;to&nbsp;the Digital&nbsp;Pack</h2>
                    @fragments.promotion.promotionCta(currency, country, plan, promoCode, anyPromotion)
                </div>
            </div>
        </section>
        <section class="section-white section--dark-sides promotion-terms">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content">
                    @fragments.promotion.promotionTermsAndConditions(anyPromotion, md)
                    <p>For full promotion terms and conditions visit <a class="u-link" href="/p/@promoCode.get/terms">subscribe.theguardian.com/p/@promoCode.get/terms</a></p>
                    @fragments.promotion.subscriptionTermsAndConditions(catalog, anyPromotion, currency)
                    @fragments.promotion.copyrightNotice()
                </div>
            </div>
        </section>
    </main>
}
