@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.subscriptions.DigipackCatalog
@import model.DigitalEdition
@import views.support.Dates._
@import org.joda.time.Days
@(edition: DigitalEdition, catalog: DigipackCatalog, promoCode: PromoCode, promotion: AnyPromotion, defaultTrial: Days)

@main(
    title = "The Digital Pack offer | Subscriptions | The Guardian",
    bodyClasses = Seq("is-wide")
) {
    <main class="page-container promo-landing-page">
        <section class="section-white section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content">
                @fragments.page.header("The Digital Pack offer", None)
                </div>
            </div>
        </section>
        <section class="section-grey section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                @fragments.promotion.digipack(edition, catalog, promoCode, promotion)
            </div>
        </section>
        <section class="section-white section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content">
                    <h2 class="promo-landing-page__section-head">Discover the Guardian Daily Edition</h2>
                    @fragments.promotion.discover(edition, catalog, promoCode, promotion, defaultTrial)
                </div>
            </div>
        </section>
        @promotion.whenFreeTrial.fold {
            <section class="section-blue section--dark-sides">
                <div class="gs-container gs-container--slim page-slice page-slice">
                    <div class="page-slice__content">
                        <h2 class="promo-landing-page__section-head">@promotion.title</h2>
                        @{
                            promotion.imageUrl.fold {
                                fragments.promotion.promotionDescription(promotion)
                            } {
                                imageUrl => fragments.promotion.promotionWithImage(promotion, imageUrl)
                            }
                        }
                    </div>
                </div>
            </section>
        } { _ => }
        <section class="section-white section--dark-sides">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content @promotion.whenFreeTrial.map { _ => section-separator }">
                    <h2 class="promo-landing-page__section-head">Exclusive benefits for Digital Pack subscribers</h2>
                    @fragments.promotion.benefits()
                </div>
            </div>
        </section>
        <section class="section-grey section--dark-sides">
            <div class="gs-container gs-container--slim page-slice page-slice">
                <div class="page-slice__content">
                    <h2 class="promo-landing-page__section-head">Subscribe&nbsp;to&nbsp;the Digital&nbsp;Pack</h2>
                    @fragments.promotion.promotionCta(edition, catalog, promoCode, promotion, defaultTrial)
                </div>
            </div>
        </section>
        <section class="section-white section--dark-sides promotion-terms">
            <div class="gs-container gs-container--slim page-slice">
                <div class="page-slice__content">
                    <h4>Terms and conditions</h4>
                    <p>Customers must subscribe by @prettyDate(promotion.expires.minusSeconds(1)) to be eligible for the offer. Offer subject to availability. GNM reserves the right to withdraw this promotion at any time.</p>
                    @fragments.promotion.subscriptionTermsAndConditions(defaultTrial, catalog, promotion)
                    @fragments.promotion.incentiveTermsAndConditions(promotion)
                    <p>Guardian News & Media Limited – a member of Guardian Media Group PLC. Registered Office: Kings Place, 90 York Way, London, N1 9GU. Registered in England No. 908396</p>
                </div>
            </div>
        </section>
    </main>

    @fragments.analytics.jellyfish.remarketing()
}
