@import com.github.nscala_time.time.Imports.{DateTime, DateTimeZone}
@import com.gu.memsub.Price
@import com.gu.memsub.promo.{PromoCode, Promotion}
@import com.gu.subscriptions.DigipackCatalog
@import model.DigitalEdition
@import views.support.DigitalEdition._
@import views.support.Dates._
@(edition: DigitalEdition, catalog: DigipackCatalog, promoCode: PromoCode, promotion: Promotion)

@subscribeNow(edition: DigitalEdition, price: Price, promoCode: PromoCode) = {
    <div class="pricing-cta__action">
        <a class="button button--large button--primary"
        href="@edition.redirect&promoCode=@promoCode.get"
        data-test-id="digital-pack-@edition.id-trial-header"
        >Subscribe now</a>
    </div>
}

@formatExpires(expires: DateTime) = {
    @dayInMonthWithSuffixAndMonth(expires.minusSeconds(1))
}

@main(
    title = "The Digital Pack offer | Subscriptions | The Guardian",
    bodyClasses = Seq("is-wide")
) {
    <main class="promo-landing-page">
        <section class="page-container gs-container gs-container--slim">
            <div class="page-slice">
                <div class="page-slice__content">
                @fragments.page.header("The Digital Pack offer", None)
                </div>
            </div>
        </section>
        <section class="section--grey">
            <div class="page-container gs-container gs-container--slim page-slice">
                <div class="digipack">
                    <div class="grid grid--3up grid--flex">
                        <div class="grid__item grid__item--flex-2-columns digipack__shots">
                            @fragments.common.roundel(promotion.roundelHtml, Seq("roundel--raised"))
                        </div>
                        <div class="grid__item digipack__benefits">
                            <div class="u-vertically-center">
                                <div class="u-vertically-centered-item">
                                    <p class="digipack__benefit">Experience your newspaper in full, on your tablet with the Guardian & Observer daily edition</p>
                                    <p class="digipack__benefit">Enjoy an advert-free experience on The Guardian's app with access to our daily crosswords and exclusive content</p>
                                    @subscribeNow(edition, catalog.digipackMonthly.priceGBP, promoCode)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-container gs-container gs-container--slim">
            <div class="page-slice">
                <div class="page-slice__content">
                    <h2 class="promo-landing-page__section-head">Discover the Guardian Daily Edition</h2>
                    <ul class="grid grid--3up grid--bordered grid--flex">
                        <li class="grid__item">
                            @fragments.common.inlineIcon("paper_tablet", Seq("icon--promo"))
                            <h3>If it's in the paper it's on your tablet</h3>
                            <p>The paper you love specially delivered to your tablet from 4am every morning, ready to read offline 7 days a week.</p>
                        </li>
                        <li class="grid__item">
                            @fragments.common.inlineIcon("share", Seq("icon--promo"))
                            <h3>Share with friends and family</h3>
                            <p>You can download the daily edition on up to 10 devices. Designed for iPad, Android tablet and Kindle Fire.</p>
                        </li>
                        <li class="grid__item">
                            @fragments.common.inlineIcon("photo_video", Seq("icon--promo"))
                            <h3>Stunning photography and videos</h3>
                            <p>The Guardian's image galleries are available in full HD plus embedded audio and video galleries.</p>
                        </li>
                        <li class="grid__item">
                            @fragments.common.inlineIcon("every_day", Seq("icon--promo"))
                            <h3>Every day; every section; every supplement</h3>
                            <p>The Guide; Cook; Observer Tech; and food Monthly plus our daily crossword tailored for your tablet.</p>
                            <div class="pricing-cta__pricing">
                                <h4 class="pricing-cta__pricing__title">Free for 14 days</h4>
                                <p class="pricing-cta__pricing__value">Then @catalog.digipackMonthly.priceGBP.pretty/month</p>
                            </div>
                            <br/>
                            @subscribeNow(edition, catalog.digipackMonthly.priceGBP, promoCode)
                        </li>
                        <li class="grid__item grid__item--flex-2-columns u-no-border">
                            <div class="block--digital-tablet-previews"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section--blue">
            <div class="page-container gs-container gs-container--slim page-slice page-slice">
                <div class="page-slice__content">
                    <h2 class="promo-landing-page__section-head">@promotion.title</h2>
                    <div class="grid grid--2up-step">
                        <div class="grid__item">
                            <img class="promotion-image" src="@promotion.imageUrl"/>
                        </div>
                        <div class="grid__item">
                            <p class="promotion-description">
                                @promotion.description
                                <br/><br/>
                                But hurry! Offer expires @formatExpires(promotion.expires).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-container gs-container gs-container--slim">
            <div class="page-slice">
                <div class="page-slice__content">
                    <h2 class="promo-landing-page__section-head">Exclusive benefits for Digital Pack subscribers</h2>
                    <ul class="grid grid--3up grid--bordered grid--flex">
                        <li class="grid__item">
                            @fragments.common.inlineIcon("gifts", Seq("icon--promo"))
                            <h3>Regular gifts and competitions</h3>
                            <p>Get free gifts and exclusive competitions from Guardian partners.</p>
                        </li>
                        <li class="grid__item">
                            @fragments.common.inlineIcon("discounts", Seq("icon--promo"))
                            <h3>Exclusive discounts</h3>
                            <p>Exclusive discounts on products and services available from the Guardian and Observer.</p>
                        </li>
                        <li class="grid__item">
                            @fragments.common.inlineIcon("premium_app", Seq("icon--promo"))
                            <h3>Free premium app (worth £2.49/month)</h3>
                            <p>This app brings you breaking news from the Guardian and as a subscriber, you'll get the previum version at no extra cost. Enjoy an advert-free app experience with access to our daily crosswords and much more.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section--grey">
            <div class="page-container gs-container gs-container--slim page-slice page-slice">
                <div class="page-slice__content">
                    <div class="promotion-cta">
                        <div class="grid grid--3up-step">
                            <div class="grid__item">
                                <div class="promotion-cta--subscribe">
                                    <h2>Subscribe&nbsp;to&nbsp;the Digital&nbsp;Pack</h2>
                                </div>
                            </div>
                            <div class="grid__item promotion-cta__image"></div>
                            <div class="grid__item">
                                <div class="pricing-cta__pricing">
                                    <h4 class="pricing-cta__pricing__title">Free for 14 days</h4>
                                    <p class="pricing-cta__pricing__value">Then @catalog.digipackMonthly.priceGBP.pretty/month</p>
                                </div>
                                <br/>
                                @subscribeNow(edition, catalog.digipackMonthly.priceGBP, promoCode)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-container gs-container gs-container--slim">
            <div class="page-slice">
                <div class="page-slice__header">
                    Terms and conditions
                </div>
                <div class="page-slice__content">
                    <p>Customers must subscribe by 31st March 2016 to be eligible for the offer. Offer subject to availability.</p>
                    <h4>Subscription terms and conditions</h4>
                    <p>Offer available to UK residents aged 18 or over with a valid email address. Free trial period lasts 14-21 days
                        from receipt of subscriber ID, up to and including the day before your first payment falls due. Free trial
                        open to new digital pack subscribers only. At the end of the free trial, the subscription is charged at
                        standard price (currently £11.99 a month), unless cancelled. Requires Internet connection (additional
                        charges may apply) and an Apple, Android or Kindle Fire device.
                        For full details of the digital pack and its terms and conditions - see <a href="http://www.theguardian.com/digital-subscriptions-terms-conditions" target="_blank">theguardian.com/digital-subscriptions-
                        terms-conditions</a>.</p>
                    <h4>Giftcloud £30 gift card terms and conditions</h4>
                    <p>Offer only available to customers who subscribe after trial period. Customers are asked to allow up to 35
                        days from first payment date to receive their gift card redemption email.  Offer available to customers who
                        subscribe after trial period only. Once customers have received their gift card redemption email they will
                        have 90 days to claim the £30 gift card by selecting their chosen digital gift card and entering their email or
                        phone number after which time the gift will no longer be available. In the event stock runs out you may be
                        offered an alternative gift of a similar value or a full refund. GNM reserves the right to withdraw this
                        promotion at any time.</p>
                    <p>Amazon.co.uk Gift Cards (“GCs”) sold by Giftcloud, an authorised and independent reseller
                        of Amazon.co.uk Gift Cards. Amazon.co.uk Gift Cards may be redeemed on
                        the Amazon.co.uk website towards the purchase of eligible products listed in our online catalogue and
                        sold byAmazon.co.uk or any other seller selling through Amazon.co.uk. GCs cannot be reloaded, resold,
                        transferred for value, redeemed for cash or applied to any other account. Amazon.co.uk is not responsible if
                        a GC is lost, stolen, destroyed or used without permission. See <a href="http://www.amazon.co.uk/gc-legal" target="_blank">www.amazon.co.uk/gc-legal</a> for
                        complete terms and conditions. GCs are issued by Amazon EU S.à r.l. All Amazon ®, ™ & © are IP of
                        Amazon.com, Inc. or its affiliates.</p>
                </div>
            </div>
        </section>
    </main>
}
