@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.PromoWithWeeklyLandingPage
@import com.gu.memsub.promo.Promotion.asAnyPromotion
@import views.support.LandingPageOps._
@import configuration.Links
@import views.support.CommaSplit
@import views.support.{MarkdownRenderer}
@import com.gu.memsub.subsv2.Catalog
@import model.Subscriptions._
@import controllers.CachedAssets.hashedPathFor
@import com.gu.i18n.Country
@import views.support.WeeklyPromotion
@import com.gu.memsub.promo.Grey
@import com.gu.memsub.promo.Blue
@import com.gu.memsub.promo.White
@import com.gu.memsub.images.ResponsiveImageGroup
@import com.gu.memsub.images.ResponsiveImageGenerator
@import com.gu.memsub.BillingPeriod.SixWeeks

@(country: Country, catalog: Catalog, promoCode: Option[PromoCode], promotion: Option[PromoWithWeeklyLandingPage],description:Html, md: MarkdownRenderer)
    @anyPromotion = @{promotion.map(asAnyPromotion)}
    @isSixForSix = @{anyPromotion.filter(p => (catalog.weekly.flatten.filter(_.charges.billingPeriod == SixWeeks).map(_.id).toSet intersect p.appliesTo.productRatePlanIds).nonEmpty)}
    @nonTrackingPromotion = @{anyPromotion.flatMap(p => p.asDiscount orElse p.asFreeTrial orElse p.asIncentive) orElse isSixForSix}
    @title = @{"The Guardian Weekly Subscriptions"}
    @defaultImage = @{ResponsiveImageGroup(None,None,None,ResponsiveImageGenerator("021b11f82c8fb43da5ef308dc6d6c5bf2fecb9c8/0_0_2560_300",Seq(2560)))}
    @discountedRegions = @{WeeklyPromotion.validRegionsForPromotion(promotion, promoCode, country)(catalog)}
    @main(title = s"$title | The Guardian", bodyClasses = List("is-wide")) {

        @fragments.heroBanner(promotion.flatMap(_.landingPage.image).getOrElse(defaultImage)){
            @title
        } {
            @CommaSplit.split(promotion.flatMap(_.landingPage.title).getOrElse("Get the world in perspective, every single week"))
        }

        <main class="page-container">
            @** promotion.landingPage.roundelHtml.map { h =>
                <div class="digipack__roundel">@fragments.common.roundel(h, Seq("roundel--high", "roundel--right"))</div>
            }
            roundel's cause some layout issues in chrome due to overflow

            **@
            <div class="flexwrap">
                <section class="section-left">
                    <div class="weekly-list">@description</div>
                    <br/>
                    @promotion.flatMap(_.asIncentive).map { p =>
                        <h4>Redemption instructions</h4>
                        <p>@p.promotionType.redemptionInstructions</p>
                    }
                </section>
                <section class="section-slice--bleed section-right">
                <h2 class="section-right--header">Where should we send your Guardian Weekly?</h2>
                <div>
                @for(region <- discountedRegions) {
                    @if(region.discountedPlans.length > 1) {
                        <div class="package js-dropdown js-hide" data-dropdown-menu="@region.title.replaceAll(" ", "")">
                            <div class="package__info" title="@region.description">
                                <span class="package__title">@region.title</span>
                                @region.discountedPlans.headOption.map { plan =>
                                    <span class="package__description package__supl">
                                        @plan.headline
                                    </span>
                                }
                            </div>
                        </div>
                    } else {
                        @region.discountedPlans.headOption.map { plan =>
                            <a href="@plan.url.toString" class="package" title="@region.description">
                                <div class="package__info">
                                    <span class="package__title" >@region.title</span>
                                    <span class="package__description package__supl">
                                    @plan.headline
                                    </span>
                                </div>
                            </a>
                        }
                    }
                } </div>
                @for(region <- discountedRegions) {
                    <div class="js-dropdown-@region.title.replaceAll(" ", "") js-dropdown-menu animate-hide-hidden">
                        <h3 class="section-right--header package--increased-padding">What type of subscription is right for you?</h3>
                        <div>
                        @for(plan <- region.discountedPlans) {
                            <a href="@plan.url.toString" class="package">
                                <div class="package__info">
                                    <span class="package__title">@if(plan.discounted) {
                                        @promotion.flatMap(_.landingPage.roundelHtml).map { text =>
                                            <span class="package__special">
                                                @text
                                            </span>
                                        }
                                    } @plan.period</span>
                                    <span class="package__description">@plan.pretty</span>
                                </div>
                            </a>
                        }
                        </div>
                    </div>
                }
            </section>
            </div>
            <section class="flexwrap promotion-terms">
                <div class="flexwrap__inner">
                    @nonTrackingPromotion.map { promo =>

                        @fragments.promotion.promotionTermsAndConditions(promo, md)
                    <p>For full promotion terms and conditions visit <a class="u-link" href="/p/@promoCode.map(_.get)/terms">
                        subscribe.theguardian.com/p/@promoCode.map(_.get)/terms</a></p>

                        @fragments.promotion.subscriptionTermsAndConditions(catalog, promo)
                    }
                    @fragments.promotion.copyrightNotice()
                </div>
            </section>
        </main>
    }
