@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.promo.Promotion.PromoWithWeeklyLandingPage
@import com.gu.memsub.promo.Promotion.asAnyPromotion
@import views.support.LandingPageOps._
@import views.support.CommaSplit
@import views.support.{MarkdownRenderer}
@import com.gu.memsub.subsv2.Catalog
@import model.Subscriptions._
@import controllers.CachedAssets.hashedPathFor
@import com.gu.i18n.Country
@import views.support.WeeklyPromotion
@import com.gu.memsub.promo.Grey
@import com.gu.memsub.promo.Blue
@import com.gu.memsub.promo.White
@(country: Country, catalog: Catalog, promoCode: PromoCode, promotion: PromoWithWeeklyLandingPage, md: MarkdownRenderer)
    @voucherPlans = @{catalog.voucher.list.filter(p => promotion.appliesTo.productRatePlanIds.contains(p.id))}
    @deliveryPlans = @{catalog.delivery.list.filter(p => promotion.appliesTo.productRatePlanIds.contains(p.id))}
    @anyPromotion = @{asAnyPromotion(promotion)}
    @nonTrackingPromotion = @{anyPromotion.asDiscount orElse anyPromotion.asFreeTrial orElse anyPromotion.asIncentive}
    @title = @{"The Guardian Weekly"}
    @titleColour = @{promotion.landingPage.sectionColour match {
        case Some(Blue) => "hero--title__blue"
        case Some(Grey) => "hero--title__grey"
        case Some(White) => "hero--title__white"
        case _ => ""
    }}
    @discountedRegions = @{WeeklyPromotion.validRegionsForPromotion(Some(promotion), promoCode, country)(catalog)}

    @main(title = s"$title | The Guardian", bodyClasses = List("is-wide")) {
    @promotion.landingPage.image.fold{
        @*
        don't ship this, use a grid image
        *@
        <div class="hero-banner @titleColour">
            <div class="hero-banner__underlay gs-container"></div>
            <picture class="hero-banner__image">
                <img src="@hashedPathFor("images/backgrounds/weeklydontuse.jpg")" sizes="100vw"/>
            </picture>

            <div class="hero-banner__inner idk-flexwrap ">

                <div class="hero-banner__content section-left">
                    <h1 class="hero-banner__title">@title</h1>
                    <h1 class="hero-banner__description">@CommaSplit.split(promotion.landingPage.title.getOrElse(""))</h1>

                </div>
                <div class="section-right u-hide-until-desktop"></div>

            </div>
        </div>



    } { img =>
        @fragments.heroBanner(img, modifierClass = titleColour){
            @title
        }{
            @CommaSplit.split(promotion.landingPage.title.getOrElse(""))
        }
    }
        <main class="page-container">
            @** promotion.landingPage.roundelHtml.map { h =>
                <div class="digipack__roundel">@fragments.common.roundel(h, Seq("roundel--high", "roundel--right"))</div>
            }
            roundel's cause some layout issues in chrom due to overflow

            **@
            <div class="idk-flexwrap">
            <section class="section-left">
                @promotion.landingPage.description.fold {
                    <p>@promotion.description</p>
                } { d =>
                    <div>@Html(md.render(d))</div>
                    <br/>
                }
                @promotion.asIncentive.map { p =>
                    <h4>Redemption instructions</h4>
                    <p>@p.promotionType.redemptionInstructions</p>
                }
            </section>
            <section class="section-slice--bleed section-right">
                <h2 class="page-heading">Where should we send your Guardian Weekly?</h2>
                <div>
                @for(region <- discountedRegions) {
                    @if(region.discountedPlans.length > 1) {
                        <div class="package js-dropdown js-hide" data-dropdown-menu="@region.title.replaceAll(" ", "")">
                            <div class="package__info" title="@region.description">
                                <span class="package__title">@region.title</span>
                                @region.discountedPlans.headOption.map { plan =>
                                    <span class="package__price">
                                        @plan.headline
                                    </span>
                                }
                            </div>
                        </div>
                    } else {
                        @region.discountedPlans.headOption.map { plan =>
                            <a href="@plan.url.toString" class="package" title="@region.description">
                                <div class="package__info">
                                    <span class="package__title" >@region.title</span>
                                    <span class="package__price">
                                    @plan.headline
                                    </span>
                                </div>
                            </a>
                        }
                    }
                } </div>
                @for(region <- discountedRegions) {
                    <div class="js-dropdown-@region.title.replaceAll(" ", "") js-dropdown-menu animate-hide-hidden">
                        <h3>What type of subscription is right for you?</h3>
                        <div>
                        @for(plan <- region.discountedPlans) {
                            <a href="@plan.url.toString" class="package">
                                <div class="package__info">
                                    <span class="package__title">@if(plan.discounted){🐙}  @plan.period</span>
                                    <span class="package__description"> For @plan.pretty</span>
                                </div>
                            </a>
                        }
                        </div>
                    </div>
                }
            </section>
            </div>
            <section class="idk-flexwrap promotion-terms">
                <div class="idk-flexwrap__inner">
            @nonTrackingPromotion.map{promo =>

                    @fragments.promotion.promotionTermsAndConditions(anyPromotion, md)
                    <p>For full promotion terms and conditions visit <a class="u-link" href="/p/@promoCode.get/terms">
                        subscribe.theguardian.com/p/@promoCode.get/terms</a></p>
            }
                    @fragments.promotion.subscriptionTermsAndConditions(catalog, anyPromotion)
                    @fragments.promotion.copyrightNotice()
            </div>
            </section>
        </main>
    }
