@import views.support.CountryOps._
@import views.support.AddressValidationRulesOps._
@import views.support.CountryWithCurrency
@import com.gu.i18n.Title
@import model.PersonalData
@import com.gu.memsub.Address
@import com.gu.memsub.Delivery
@import com.gu.subscriptions.ProductPlan
@import views.support.PlanOps._
@import com.gu.subscriptions.ProductList

@(address: Option[Address], namePrefix: String, countriesWithCurrency: List[CountryWithCurrency], plan: ProductPlan[ProductList])


@attrs(field: String) = @{
    Html(s"id='${(namePrefix + "-" + field).replace('.', '-')}' name='${namePrefix}.${field}'")
}

@labelFor(field: String) = @{
    Html(s"for='${(namePrefix + "-" + field).replace('.', '-')}'")
}

@* ===== Address ===== *@
<div class="js-checkout-@{namePrefix.replace('.', '-')}">
    <div class="form-field js-checkout-house">
        <label class="label" @labelFor("address1")>Address line 1</label>
        @* Salesforce accepts up to 255 chars but this field gets concatenated with address line 2 *@
        <input type="text" class="input-text js-input" @attrs("address1")
            value="@address.map(_.lineOne)" maxlength="126" required>
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-street">
        <label class="label optional-marker" @labelFor("address2")>Address line 2</label>
        @* Salesforce accepts up to 255 chars but this field gets concatenated with address line 1 *@
        <input type="text" class="input-text js-input" @attrs("address2")
            value="@address.map(_.lineTwo)" maxlength="126">
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-town">
        <label class="label" @labelFor("town")>Town/City</label>
        <input type="text" class="input-text js-input" @attrs("town")
            value="@address.map(_.town)" maxlength="40" required>
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-country">
        <label class="label" @labelFor("country")>Country</label>
        <select @attrs("country") class=" select select--wide js-country" required>
            @if(countriesWithCurrency.size > 1) {
                <option data-currency-choice="USD"></option>
            }
            @for(c <- countriesWithCurrency) {
                <option value="@c.alpha2" @c.country.validationRules.toAttributes @c.country.addressLabels data-currency-choice="@c.currency">@c.name</option>
            }
        </select>
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-subdivision">
        <label class="label" @labelFor("subdivision")>County</label>
        <select @attrs("subdivision") class="js-input"></select>
        @fragments.forms.errorMessage("Please enter a valid state/county")
    </div>
    <div class="form-field js-checkout-postcode"
        @if(plan.products.seq.contains(Delivery)) {
            data-validate-for="@namePrefix"
            data-validation-url="@routes.Checkout.validateDelivery("").path.replaceFirst("\\?.*", "")"
            data-error-message="Sorry, we cannot deliver a paper to an address with this postcode. Please call Customer Services on: @plan.phone or press Back to purchase a voucher subscription."
        }>
        <label class="label" @labelFor("postcode")>Postcode</label>
        <input type="text" class="input-text js-input input-text input-text--small" @attrs("postcode")
        value="@address.map(_.postCode)" maxlength="10" required>
        @fragments.forms.errorMessage("Please enter a valid postal code")
    </div>
</div>



