@import com.gu.i18n.Country.UK
@import com.gu.i18n.Currency
@import com.gu.memsub.Address
@import com.gu.memsub.subsv2.CatalogPlan
@import views.support.AddressValidationRulesOps._
@import views.support.CountryOps._
@import views.support.PlanOps._
@import views.support.{ContactCentreOps, CountryWithCurrency}
@(address: Option[Address], namePrefix: String, countriesWithCurrency: List[CountryWithCurrency], plan: CatalogPlan.Paid, usePostcodeLookup: Boolean, determinesPriceBanding: Boolean, defaultCurrency: Currency)

@attrs(field: String) = @{
    Html(s"id='${(namePrefix + "-" + field).replace('.', '-')}' name='$namePrefix.$field'")
}

@labelFor(field: String) = @{
    Html(s"for='${(namePrefix + "-" + field).replace('.', '-')}'")
}

@postcode = {
    <div class="form-field js-checkout-postcode"
        @if(plan.isHomeDelivery) {
            data-validate-for="@namePrefix"
            data-error-message="Sorry, we cannot deliver a paper to an address with this postcode. Please call Customer Services on: @{ContactCentreOps.directLine(UK)} or press Back to purchase a voucher subscription."
        }>
        <label class="label" @labelFor("postcode")>Postcode</label>
        @if(usePostcodeLookup) {
            <div class="address-finder">
                <input type="text" class="input-text js-input input-text input-text--small" @attrs("postcode") value="@address.map(_.postCode)" maxlength="10" required>
                <button class="button button--secondary button--large button--no-arrow js-checkout-address-finder">Find address</button>
                <div>@fragments.forms.errorMessage("Please enter a valid postal code")</div>
                <div>
                    <div class="js-checkout-address-chooser"></div>
                </div>
            </div>
        } else {
            <input type="text" class="input-text js-input input-text input-text--small" @attrs("postcode") value="@address.map(_.postCode)" maxlength="10" required>
            <div>@fragments.forms.errorMessage("Please enter a valid postal code")</div>
        }
    </div>
}

@* ===== Address ===== *@
<div class="js-checkout-@{namePrefix.replace('.', '-')}" data-determines-price-banding="@determinesPriceBanding">
    @if(usePostcodeLookup) {
        @postcode
    }
    <div class="form-field js-checkout-house">
        <label class="label" @labelFor("address1")>Address line 1</label>
        @* Salesforce accepts up to 255 chars but this field gets concatenated with address line 2 *@
        <input type="text" class="input-text js-input" @attrs("address1")
            value="@address.map(_.lineOne)" maxlength="126" required>
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-street">
        <label class="label optional-marker" @labelFor("address2")>Address line 2</label>
        @* Salesforce accepts up to 255 chars but this field gets concatenated with address line 1 *@
        <input type="text" class="input-text js-input" @attrs("address2")
            value="@address.map(_.lineTwo)" maxlength="126">
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-town">
        <label class="label" @labelFor("town")>Town/City</label>
        <input type="text" class="input-text js-input" @attrs("town")
            value="@address.map(_.town)" maxlength="40" required>
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-country">
        <label class="label" @labelFor("country")>Country</label>
        <select @attrs("country") class="select select--wide js-country js-input" required>
            @if(countriesWithCurrency.size > 1) {
                <option data-currency-choice="@defaultCurrency"></option>
            }
            @for(c <- countriesWithCurrency) {
                <option value="@c.alpha2" @c.country.validationRules.toAttributes @c.country.addressLabels data-currency-choice="@c.currency" data-stripe-service-name="@c.stripeServiceName.jsLookupKey">@c.name</option>
            }
        </select>
        @fragments.forms.errorMessage("This field is required")
    </div>
    <div class="form-field js-checkout-subdivision">
        <label class="label" @labelFor("subdivision")>County</label>
        <select @attrs("subdivision") class="js-input"></select>
        @fragments.forms.errorMessage("Please enter a valid state/county")
    </div>
    @if(!usePostcodeLookup) {
        @postcode
    }
</div>



