@import com.gu.memsub.subsv2.Subscription
@import com.gu.memsub.subsv2.SubscriptionPlan.ContentSubscription
@import model.SubscriptionOps._
@import views.support.PlanOps._
@import com.gu.memsub.promo.Promotion.AnyPromotion

@(subscription: Subscription[ContentSubscription], promotion: Option[AnyPromotion] = None)
<!-- Image Pixel Tracking - Mandatory -->
<img src="https://www.awin1.com/sread.img?tt=ns&tv=2
&merchant=11152
&amount=@subscription.firstPrice
&cr=@subscription.currency
&ref=@subscription.id.get
&parts=@subscription.firstPlan.commissionGroup:@subscription.firstPrice
&vc=@promotion.map(_.description).getOrElse("")
&ch=aw&testmode=0" border="0" width="0" height="0">
