@import com.gu.memsub.Month
@import com.gu.subscriptions.DigipackPlan
@import views.support.BillingPeriod._
@import views.support.Pricing._

@(defaultPlan: Option[DigipackPlan[Month]])

<div class="basket-preview  basket-preview--products">
    <h3 class="basket-preview__title">You've chosen:</h3>
    <div class="basket-preview__image">
        <img src="@controllers.CachedAssets.hashedPathFor("images/digital-pack.png")" alt="Digital Pack">
    </div>

    <div class="basket-preview__product">
        <span class="basket-preview__product__title">
            Digital Pack
        </span>
        <span class="basket-preview__product__caption">
            (Daily Edition / Guardian App Premium Tier)
        </span>
        @defaultPlan.map { plan =>
            <span class="basket-preview__product__payment js-option-mirror-value">
                @plan.gbpPrice.pretty @plan.billingPeriod.frequencyInMonths
            </span>
        }
    </div>
</div>
