@import com.gu.memsub.ProductFamily
@import views.support.ProductFamilyOps._
@(productFamily: ProductFamily)

<div class="basket-preview  basket-preview--products">
    <h3 class="basket-preview__title">You've chosen:</h3>
    <div class="basket-preview__image">
        <img src="@controllers.CachedAssets.hashedPathFor(productFamily.packImage)" alt="">
    </div>

    <div class="basket-preview__product">
        <span class="basket-preview__product__title">
            @productFamily.title
        </span>
        <span class="basket-preview__product__caption">
            @productFamily.subtitle
        </span>
        <span class="basket-preview__product__payment js-option-mirror-value"></span>
    </div>
</div>
