<div class="basket-preview">
    <h3 class="basket-preview__title">You've chosen:</h3>
    <div class="basket-preview__image">
        <img src="@controllers.CachedAssets.hashedPathFor("images/digital-pack.png")" alt="Digital Pack">
    </div>
    <div class="basket-preview__product">
        Digital Pack
        <span class="basket-preview__product__caption">
            (Digital Edition / Guardian App Premium Tier)
        </span>
    </div>
    <div class="basket-preview__payment">
        £11.99 every month
    </div>
</div>
