@()

<div class="form-field js-checkout-card-number">
    <div class="u-cf">
        <label class="label u-align-left" for="payment-card-number">Card number</label>
        <ul class="card-choices o-inline-list u-align-right">
            <li class="u-align-middle o-inline-list__item">
                <i class="sprite-card sprite-card--small sprite-card--visa"></i>
            </li>
            <li class="u-align-middle o-inline-list__item">
                <i class="sprite-card sprite-card--small sprite-card--mastercard"></i>
            </li>
            <li class="u-align-middle o-inline-list__item">
                <i class="sprite-card sprite-card--small sprite-card--american-express"></i>
            </li>
        </ul>
    </div>
    <div class="card-number">
        <i class="card-number__icon sprite-card sprite-card--unknown js-credit-card-image"></i>
        <input type="text" pattern="[0-9]*" size="20"
        class="input-text js-input"
        id="payment-card-number"
        placeholder="0000 0000 0000 0000"
        maxlength="19"
        data-masker-delim=" " data-masker-length="4"/>
        @fragments.forms.errorMessage("Please check your card number")
    </div>
</div>

<div class="field-group">
    <div class="form-field js-checkout-card-expiry field-group__item">
        <span class="label">Expiry</span>
        <div class="card-expiry">
        @for(input <- Seq(("month", "MM"), ("year", "YY"))) {
            <div class="card-expiry__field js-checkout-card-expiry-@input._1">
                <label class="label label--inline u-sr-only" for="payment-card-expiry-@input._1">Expiry @input._1.capitalize</label>
                <input class="input-text js-input"
                id="payment-card-expiry-@input._1"
                placeholder="@input._2"
                type="text" pattern="[0-9]*" maxlength="2" size="3">
            </div>@if(input._1 == "month") {/}
        }
        </div>
        @fragments.forms.errorMessage("")
    </div>

    <div class="form-field js-checkout-card-cvc field-group__item">
        <label class="label" for="payment-card-cvc">Security code</label>
        <input type="text" pattern="[0-9]*"
        size="4" class="input-text js-input"
        id="payment-card-cvc"
        placeholder="CVC"
        maxlength="4" />
        @fragments.forms.errorMessage("")
    </div>
</div>

@fragments.forms.errorMessage("There was a problem processing your payment. Please check your card details.")
