@(form: Form[model.SubscriptionData])

@* ===== Payment type ===== *@

<div class="label u-margin-bottom">How would you like to pay?</div>

<div class="field-group">
    <div class="field-group__item">
        <label class="option">
            <span class="option__input">
                <input class="js-option-switch" data-option-switch="payment-type-direct-debit"
                    type="radio" name="payment.type" value="direct-debit" checked>
            </span>
            <span class="option__label">Direct Debit</span>
        </label>
    </div>
    <div class="field-group__item">
        <label class="option">
            <span class="option__input">
                <input class="js-option-switch" data-option-switch="payment-type-card"
                    type="radio" name="payment.type" value="card">
            </span>
            <span class="option__label">Credit/Debit card</span>
        </label>
    </div>
</div>

<div class="payment-type payment-type--direct-debit" class="js-option-switch__item" id="payment-type-direct-debit">
    @* ===== Account number ===== *@
    <div class="form-field js-checkout-account">
        <label class="label" for="payment-account">Bank account number</label>
        <input type="text" class="input-text js-input" id="payment-account"
            name="payment.account" pattern="[0-9]*" minlength="6" maxlength="10" required>
        @fragments.forms.errorMessage("Please enter between 6 and 10 digits for the account number, and make sure the account is valid")
    </div>

    @* ===== Sortcode ===== *@
    <div class="form-field js-checkout-sortcode">
        <label class="label" for="payment-sortcode">Bank sort code</label>
        <input type="text" class="input-text input-text--small js-input"
            name="payment.sortcode" id="payment-sortcode"
            placeholder="00-00-00"  maxlength="8" required
            data-masker-delim="-" data-masker-length="2">
        @fragments.forms.errorMessage("")
    </div>

    @* ===== Account Holder Name ===== *@
    <div class="form-field js-checkout-holder">
        @*
            BACS requirement:
            "The payer’s account name (maximum of 18 characters).
            This must be the name of the person who is paying the Direct Debit
            and has signed the Direct Debit Instruction (DDI)."
            http://www.bacs.co.uk/Bacs/Businesses/Resources/Pages/Glossary.aspx
        *@
        <label class="label" for="payment-holder">Name of account holder</label>
        <input type="text" class="input-text js-input" id="payment-holder"
            name="payment.holder" maxlength="18" required>
        @fragments.forms.errorMessage("The account holder name must be less than 18 characters")
    </div>
</div>

<div class="payment-type payment-type--card" class="js-option-switch__item" id="payment-type-card">
    <div class="form-field">
        <label class="label" for="payment-card-number">Card number</label>
        <input type="text" pattern="[0-9]*" size="20"
               class="input-text"
               id="payment-card-number"
               placeholder="0000 0000 0000 0000"
               maxlength="19" />
    </div>

    <div class="form-field">
        <label class="label" for="payment-card-cvc">Security code</label>
        <input type="text" pattern="[0-9]*"
               size="4" class="input-text input-text--small js-input"
               id="payment-card-cvc"
               placeholder="CVC"
               maxlength="4" />
    </div>

    <div class="form-field">
        <span class="label">Expires</span>
        <div class="field-group">
            @for(input <- Seq(("Month", "MM"), ("Year", "YY"))) {
                <div class="field-group__item">
                    <label class="label label--inline" for="payment-card-expiry-@input._1.toLowerCase()">@input._1</label>
                    <input class="input-text input-text--small js-input"
                        id="payment-card-expiry-@input._1.toLowerCase()"
                        name="payment.card-expiry-@input._1.toLowerCase()"
                        placeholder="@input._2"
                        type="text" pattern="[0-9]*" maxlength="2">
                </div>
            }
        </div>
        @fragments.forms.errorMessage("Sorry, the expiry date that you have entered is invalid. Please check and re-enter.")
    </div>
</div>


@* ===== Confirm Payment ===== *@
<div class="form-field js-checkout-confirm-payment">
    <label class="option">
        <span class="option__input">
            <input type="checkbox" class="js-input">
        </span>
        <span class="option__label">
            I confirm that I am the account holder and I am solely able to authorise debit from the account
        </span>
    </label>
    @fragments.forms.errorMessage("Please confirm that you are the account holder")
</div>
