@import com.gu.i18n.Currency
@import com.gu.memsub.Address
@import com.gu.memsub.subsv2.CatalogPlan
@import views.support.AddressOps._
@import views.support.CountryWithCurrency

@import scalaz.syntax.std.boolean._

@(billingAddress: Option[Address], canBeHidden: Boolean, countriesWithCurrency: List[CountryWithCurrency], plan: CatalogPlan.Paid, determinesPriceBanding: Boolean, currency: Currency)

@if(canBeHidden) {
  <div class="js-checkout-use-delivery">
    <label class="option">
      <span class="option__input">
        <input type="checkbox" class="js-input js-checkout-delivery-sames-as-billing" @billingAddress.forall(_.isEmpty).fold("checked", "")>
      </span>
      <span class="option__label">
        Bill my delivery address
      </span>
    </label>
  </div>
}
@* ===== Address ===== *@
<div class="js-billing-address @{if(canBeHidden && billingAddress.forall(_.isEmpty)) "is-hidden" else ""}"   data-determines-price-banding="@determinesPriceBanding">
    @_root_.views.html.fragments.checkout.address(
        address = billingAddress,
        namePrefix = "personal.address",
        countriesWithCurrency = countriesWithCurrency,
        plan = plan,
        usePostcodeLookup = false,
        determinesPriceBanding = determinesPriceBanding,
        defaultCurrency = currency
    )
</div>
