@import com.gu.memsub.Address
@import views.support.AddressOps._
@import views.support.CountryWithCurrency
@import scalaz.syntax.std.boolean._
@import views.support.PlanOps._
@import com.gu.memsub.subsv2.CatalogPlan

@(billingAddress: Option[Address], canBeHidden: Boolean, countriesWithCurrency: List[CountryWithCurrency], plan: CatalogPlan.Paid, determinesCurrency : Boolean)

@if(canBeHidden) {
  <div class="js-checkout-use-delivery">
    <label class="option">
      <span class="option__input">
        <input type="checkbox" class="js-input js-checkout-delivery-sames-as-billing" @billingAddress.forall(_.isEmpty).fold("checked", "")>
      </span>
      <span class="option__label">
        Bill my delivery address
      </span>
    </label>
  </div>
}
@* ===== Address ===== *@
<div class="js-billing-address @{if(canBeHidden && billingAddress.forall(_.isEmpty)) "is-hidden" else ""}"   data-currency-address="@determinesCurrency">
@address(billingAddress, "personal.address", countriesWithCurrency, plan, false, determinesCurrency)
</div>
