@import views.support.CountryWithCurrency
@import views.html.fragments.checkout.address
@import views.support.ProductPopulationData

@(data: ProductPopulationData, countriesWithCurrency: List[CountryWithCurrency])

@address(
    address = data.deliveryAddress,
    namePrefix = "delivery",
    countriesWithCurrency = countriesWithCurrency,
    plan = data.plans.default,
    usePostcodeLookup = true,
    determinesPriceBanding = true)

<div class="js-checkout-delivery-data" id="voucherFields">
    <div class="form-field js-checkout-delivery">
        <label class="label" for="startDate">Voucher book start date</label>
        <div id="deliveryDatePicker" class="form-field__react-datepicker"></div>
    </div>
    <input type="hidden" name="delivered-product" value="voucher" disabled>
    <input type="hidden" name="paper" value="false">
    <input type="hidden" name="digipack" value="false">
</div>



