@import com.gu.i18n.Currency
@import views.support.PlanOps._
@import views.support.{CountryWithCurrency, ProductPopulationData}

@(data: ProductPopulationData, countriesWithCurrency: List[CountryWithCurrency], currency: Currency)

@renderFields(usePostcodeLookup: Boolean, showDeliveryInstructions: Boolean, productName: String, firstPaperLabel: String) = {
    @_root_.views.html.fragments.checkout.address(
        address = data.deliveryAddress,
        namePrefix = "delivery.address",
        countriesWithCurrency = countriesWithCurrency,
        plan = data.plans.default,
        usePostcodeLookup = usePostcodeLookup,
        determinesPriceBanding = true,
        defaultCurrency = currency)

    <div class="js-checkout-delivery-data" id="deliveryFields">
        @if(showDeliveryInstructions) {
            <div class="form-field js-checkout-delivery">
                <label class="label" for="address-town">Delivery instructions</label>
                <div id="deliveryInstructionsCharacterCountedTextArea"></div>
            </div>
        }
        <div class="form-field js-checkout-delivery">
            <label class="label" for="address-town">@firstPaperLabel</label>
            <div id="deliveryDatePicker" class="form-field__react-datepicker"></div>
        </div>
        <input type="hidden" name="delivered-product" value="@productName" disabled>
        <input type="hidden" name="voucher" value="false">
        <input type="hidden" name="digipack" value="false">
    </div>
}

@if(data.plans.default.isGuardianWeekly) {
    if (!data.plans.default.name.toLowerCase.contains("six")) {
        @_root_.views.html.fragments.checkout.giftRecipientDetails("delivery")
    }
    @renderFields(usePostcodeLookup = false, showDeliveryInstructions = false, productName = "weekly", firstPaperLabel = "Start Issue")
} else {
    @renderFields(usePostcodeLookup = true, showDeliveryInstructions = true, productName = "paper", firstPaperLabel = "Date of first paper")
}
