@import views.support.CountryOps._
@import views.support.AddressValidationRulesOps._
@import views.support.CountryWithCurrency
@import com.gu.i18n.Title
@import model.PersonalData

@import views.support.ProductPopulationData
@(data: ProductPopulationData, countriesWithCurrency: List[CountryWithCurrency])

@address(data.deliveryAddress, "delivery", countriesWithCurrency, data.plans.default)

<div class="js-checkout-delivery-data" id="paperFields">
    <div class="form-field js-checkout-delivery">
        <label class="label" for="address-town">Delivery instructions</label>
        <div id="deliveryInstructionsCharacterCountedTextArea"></div>
    </div>
    <div class="form-field js-checkout-delivery">
        <label class="label" for="address-town">Date of first paper</label>
        <div id="deliveryDatePicker"></div>
    </div>
    <input type="hidden" name="voucher" value="false">
    <input type="hidden" name="digipack" value="false">
</div>



