@(form: Form[model.SubscriptionData])

<div class="form-field js-checkout-account">
    <label class="label" for="payment-account">Bank account number</label>
    <input type="number" class="input-text js-input" id="payment-account" name="payment.account">
    @fragments.forms.errorMessage("Please enter between 6 and 10 digits for the account number")
</div>
<div class="form-field js-checkout-sortcode">
    <label class="label" for="payment-sortcode">Bank sort code</label>
    <input type="number"
    class="input-text input-text--xsmall js-input js-checkout-sortcode1"
    max="99" id="payment-sortcode" name="payment.sortcode1"
    > -
    <input type="number"
    class="input-text input-text--xsmall js-input js-checkout-sortcode2"
    max="99" name="payment.sortcode2"
    > -
    <input type="number"
    class="input-text input-text--xsmall js-input js-checkout-sortcode3"
    max="99" name="payment.sortcode3"
    >
    @fragments.forms.errorMessage("Please enter 2 digits for each sort code field")
</div>
<div class="form-field js-checkout-holder">
    <label class="label" for="payment-holder">Name of account holder</label>
    <input type="text" class="input-text js-input" id="payment-holder" name="payment.holder">
        @* TODO: Why limited to 18 characters? *@
        @fragments.forms.errorMessage("Please enter between 1 and 18 characters for the account holder name")
</div>
<div class="form-field js-checkout-confirm-payment">
    <label class="option">
        <span class="option__input">
            <input type="checkbox" class="js-input">
        </span>
        <span class="option__label">
                                    I confirm that I am the account holder and I am solely able to authorise debit from the account
        </span>
    </label>
    @fragments.forms.errorMessage("Please confirm that you are the account holder")
</div>
