@import com.gu.memsub.promo.PromoCode
@(promoCode: Option[PromoCode])(implicit r: RequestHeader)
@helper.javascriptRouter("jsRoutes")(
    routes.javascript.Promotion.validate
)
<div class="checkout-promo-code js-promo-code">
    <label class="label" for="promo-code">Promo code</label>
    <div class="form-field field-group__item">
        <div class="col-2">
            <input id="promo-code" name="promoCode" value="@promoCode.map(_.get)" class="input-text js-input"/>
            <a class="button button--primary button--large button--arrow-right js-promo-code-validate">Apply</a>
        </div>
        @fragments.forms.errorMessage("Please enter a valid promo code.")
        <div class="js-promo-renew" hidden>
           <span class="form-field__error-message-visible">This promotion is for renewing customers only.</span> <a class="button button--primary button--large button--arrow-right" href="@routes.AccountManagement.processLogin()">Renew my subscription</a>
        </div>
    </div>
    <div class="js-promo-code-applied promo-code-applied" style="display: none">
        <div><strong>✓&nbsp;&nbsp;Promotion applied</strong></div>
        <div class="js-promo-code-snippet"></div>
        <div class="u-note">
             <a class="u-link js-promo-code-tsandcs" href="#" target="_blank" rel="noopener noreferrer">See full terms and conditions</a>
        </div>
    </div>
</div>
