@import com.gu.i18n.Country
@import com.gu.memsub.Subscription.ProductRatePlanId
@import com.gu.memsub.promo.PromoCode
@import controllers.routes.Checkout.validatePromoCode
@(form: Form[model.SubscriptionData])
@if(form.data.get("promoCode").contains("DGA85")) {
    <div class="promo-code-applied">✓&nbsp; Promotion applied</div>
    <div class="promo-code-snippet">
        <ul>
            <li><strong>£30 digital gift card</strong></li>
            <li><strong>14 day free trial before first payment</strong></li>
            <li>Access to the daily edition</li>
            <li>Free premium upgrade to the Guardian app</li>
        </ul>
    </div>
    <input name="promoCode" type="hidden" value="@form.data.get("promoCode")"/>
} else {
    @defining(
        // use Play reverse routing to get the action request path
        validatePromoCode(
            PromoCode("_"),
            ProductRatePlanId("_"),
            Country.UK).path.replaceFirst("\\?.*", "")) { lookupUrl =>
        <div class="checkout-promo-code js-promo-code">
            <label class="label" for="promo-code">Promo code</label>
            <div class="form-field field-group__item">
                <div class="col-2">
                    <input id="promo-code" name="promoCode" value="@form.data.get("promoCode")" class="input-text js-input" data-lookup-url="@lookupUrl"/>
                    <a class="button button--primary button--large button--arrow-right js-promo-code-validate">Apply</a>
                </div>
                @fragments.forms.errorMessage("Please enter a valid promo code.")
            </div>
            <div class="js-promo-code-applied promo-code-applied" style="display: none"><strong>✓&nbsp;</strong>
                Promotion applied</div>
            <div class="promo-code-snippet js-promo-code-snippet"></div>
        </div>
    }
}
