@import model.PersonalData
@import configuration.Links
@import views.support.ProductPopulationData
@import views.support.ProductPopulationData._

@(personalData: Option[PersonalData], productData: ProductPopulationData)
<div class="review-details">
    <div class="review-details__item">
        <span class="review-details__heading">Your details</span>
        <div class="review-details__list">
            <ul class="o-unstyled-list">
                <li class="js-checkout-review-name sessioncamhidetext"></li>
                <li><span class="review-details__detail">Email:</span> <span class="js-checkout-review-email sessioncamhidetext"></span></li>
                <li><span class="review-details__detail">Phone:</span> <span class="js-checkout-review-phone sessioncamhidetext"></span></li>
            </ul>
        </div>
    </div>
    @productData.paper.map { p =>
        <div class="review-details__item">
            <span class="review-details__heading">Delivery address</span>
            <div class="js-checkout-review-delivery-address sessioncamhidetext"></div>
            <div><span class="review-details__detail">Delivery instructions:</span> <span class="js-checkout-review-delivery-instructions sessioncamhidetext"></span></div>
            <div><span class="review-details__detail">Date of first paper delivery:</span> <span class="js-checkout-review-delivery-start-date"></span></div>
        </div>
    }
    <div class="review-details__item">
        <span class="review-details__heading">Billing address</span>
        <div class="review-details__list">
            <ul class="o-unstyled-list">
                <li class="js-checkout-review-address sessioncamhidetext"></li>
            </ul>
        </div>
    </div>
    <div class="review-details__item">
        <span class="review-details__heading">Payment details</span>
        <div class="review-details__list js-payment-type-direct-debit">
            <ul class="o-unstyled-list">
                <li><span class="review-details__detail">Payment method:</span> Direct Debit</li>
                <li><span class="review-details__detail">Bank account:</span> <span class="js-checkout-review-account sessioncamhidetext"></span></li>
                <li><span class="review-details__detail">Sort code:</span> <span class="js-checkout-review-sortcode sessioncamhidetext"></span></li>
                <li><span class="review-details__detail">Account holder:</span> <span class="js-checkout-review-holder sessioncamhidetext"></span></li>
            </ul>
        </div>
        <div class="review-details__list js-payment-type-card" hidden="true">
            <ul class="o-unstyled-list">
                <li><span class="review-details__detail">Payment method:</span> Credit/Debit card</li>
                <li><span class="review-details__detail">Card number:</span> <span class="js-checkout-review-card-number sessioncamhidetext"></span></li>
                <li><span class="review-details__detail">Expiry:</span> <span class="js-checkout-review-card-expiry sessioncamhidetext"></span></li>
            </ul>
        </div>
    </div>
    <div class="review-details__item">
        <span class="review-details__heading">Subscription details</span>
        <div class="js-option-mirror-package-display"></div>
        <div class="js-option-mirror-payment-display"></div>
    </div>
    <div class="review-details__actions">
        <p class="u-note">
            Your subscription includes a range of exclusive benefits which will be sent to you from Guardian Subscriptions.
            These may include special offers from other companies, but your data will not be shared with these companies.
        </p>

        <label class="option u-pad-bottom" for="receive-gnm-marketing">
        @defining(personalData.exists(_.receiveGnmMarketing)) { gnmMarketingOpt =>
            <span class="option__input">
                <input type="checkbox"
                    name="personal.receiveGnmMarketing"
                    id="receive-gnm-marketing"
                    @if(gnmMarketingOpt) { checked="checked" }
                    >
            </span>
        }
            <span class="option__label">
                Guardian News &amp; Media would also like your permission to contact you about other services.
                If you would like to receive this information, please tick here.
            </span>
        </label>

        <button type="submit" class="js-checkout-submit button button--primary button--large u-margin-bottom">
            Submit payment
        </button>
        <div class="loader js-loader">Processing&hellip;</div>

        <p class="u-note prose">
            Our <a href="@Links.privacyPolicy.href" target="_blank">@Links.privacyPolicy.title</a>
            explains in further detail how we use your information and you can find out why your data matters to us
            <a href="@Links.whyYourDataMattersToUs.href" target="_blank">here</a>.
        </p>

        <!-- TODO confirm whether these T&Cs apply to paper-only packages too -->
        <p class="u-note prose">
            By proceeding you agree to the
            <a href="@Links.terms.href" target="_blank">@Links.terms.title</a>
            for Guardian Digital Pack subscriptions.
        </p>

    </div>
</div>
