@import views.support.BillingPeriod._
@import views.support.Pricing._
@import com.gu.memsub.BillingPeriod
@import com.gu.subscriptions.DigipackPlan
@(subscriptionId: String, plan: DigipackPlan[BillingPeriod])

<div class="review-panel js-payment-frequency">
    <input type="checkbox" name="subscriptionDetails"
           checked="checked"
           class="u-h"
           data-amount="@plan.gbpPrice.pretty"
           data-number-of-months="@plan.billingPeriod.numberOfMonths">
    <div class="review-panel__item">
        <h4 class="review-panel__label">Subscriber ID:</h4>
        <div class="review-panel__details">
            @subscriptionId
        </div>
    </div>
    <div class="review-panel__item">
        <h4 class="review-panel__label">Your subscription:</h4>
        <div class="review-panel__details">
            Digital Pack <em>(Daily Edition / Guardian App Premium Tier)</em>
        </div>
    </div>
</div>
