@import com.gu.i18n.Currency
@import com.gu.memsub.BillingPeriod
@import com.gu.memsub.promo._
@import com.gu.memsub.promo.Promotion._
@import com.gu.memsub.promo.PercentDiscount._
@import com.gu.subscriptions.DigipackPlan
@import views.support.BillingPeriod._
@import views.support.Pricing._
@import com.gu.memsub.promo.SubscriptionsLandingPage
@import scalaz.Id._
@import com.gu.memsub.Current
@import com.gu.memsub.PaidPlan
@(subscriptionId: String, plan: PaidPlan[Current, BillingPeriod], promotion: Option[AnyPromotion] = None, currency: Currency)

<div class="review-panel js-payment-frequency">
    <input type="checkbox" name="subscriptionDetails"
           checked="checked"
           class="u-h"
           data-amount="@plan.gbpPrice.amount"
           data-number-of-months="@plan.billingPeriod.numberOfMonths">
    <div class="review-panel__item">
        <h4 class="review-panel__label">Subscriber ID:</h4>
        <div class="review-panel__details">
            @subscriptionId
        </div>
    </div>
    <div class="review-panel__item">
        <h4 class="review-panel__label">Your subscription:</h4>
        <div class="review-panel__details">
            The Guardian Digital Pack <em>(Daily Edition + Guardian App Premium Tier)</em>
        </div>
    </div>
    <div class="review-panel__item">
        <h4 class="review-panel__label">Payment frequency:</h4>
        <div class="review-panel__details">
            @promotion.flatMap(_.asDiscount).fold {
                @plan.prettyPricing(currency)
            } { discountPromo =>
                @plan.prettyPricingForDiscountedPeriod(discountPromo, currency)
            }
        </div>
    </div>
    @promotion.map { promo =>
        <div class="review-panel__promotion">
            <h4 class="review-panel__label">✓ Promotion applied:</h4>
            <div class="review-panel__details">
                <p>@promo.description</p>
                @promo.asIncentive.map { p => <p>@p.promotionType.redemptionInstructions</p> }
            </div>
        </div>
    }
</div>
