@(form: Form[model.SubscriptionData])

@import configuration.Links

<div class="review-details">
    <div class="review-details__item">
        <span class="review-details__heading">Your details</span>
        <div class="review-details__list">
            <ul class="u-unstyled-list">
                <li class="js-checkout-review-name"></li>
                <li class="js-checkout-review-address"></li>
                <li class="js-checkout-review-email"></li>
            </ul>
        </div>
    </div>
    <div class="review-details__item">
        <span class="review-details__heading">Payment details</span>
        <div class="review-details__list js-payment-type-direct-debit">
            <ul class="u-unstyled-list">
                <li><span class="review-details__detail">Payment method:</span> Direct Debit</li>
                <li><span class="review-details__detail">Bank account:</span> <span class="js-checkout-review-account"></span></li>
                <li><span class="review-details__detail">Sort code:</span> <span class=" js-checkout-review-sortcode"></span></li>
                <li><span class="review-details__detail">Account holder:</span> <span class=" js-checkout-review-holder"></span></li>
            </ul>
        </div>
        <div class="review-details__list js-payment-type-card" hidden="true">
            <ul class="u-unstyled-list">
                <li><span class="review-details__detail">Payment method:</span> Credit/Debit card</li>
                <li><span class="review-details__detail">Card number:</span> <span class="js-checkout-review-card-number"></span></li>
                <li><span class="review-details__detail">Expiry:</span> <span class=" js-checkout-review-card-expiry"></span></li>
            </ul>
        </div>
    </div>
    <div class="review-details__actions">
        <p class="u-note">
            Your subscription includes a range of exclusive benefits which will be sent to you from Guardian Subscriptions. These may include special offers from other companies, but your data will not be shared with these companies.
        </p>

        <label class="option u-pad-bottom" for="receive-gnm-marketing">
        @defining(form.data.get("personal.receiveGnmMarketing")) { gnmMarketingOpt =>
            <span class="option__input">
                <input type="checkbox"
                    name="personal.receiveGnmMarketing"
                    id="receive-gnm-marketing"
                    @if(gnmMarketingOpt.contains("on")) { checked="checked" }
                    >
            </span>
        }
            <span class="option__label">
                Guardian News &amp; Media would also like your permission to contact you about other services.
                If you would like to receive this information, please tick here.
            </span>
        </label>

        <input type="submit" class="js-checkout-submit button button--primary button--large u-margin-bottom" value="Submit payment">
        <div class="loader js-loader">Processing&hellip;</div>

        <p class="u-note">
            Our <a href="@Links.privacyPolicy.href" target="_blank">@Links.privacyPolicy.title</a>
            explains in further detail how we use your information and you can find out why your data matters to us
            <a href="@Links.whyYourDataMattersToUs.href" target="_blank">here</a>.

        </p>

        <p class="u-note">
            By proceeding you agree to the
            <a href="@Links.terms.href" target="_blank">@Links.terms.title</a>
            for Guardian Digital Pack subscriptions.
        </p>

    </div>
</div>
