@import com.gu.i18n.Currency
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.memsub.subsv2.CatalogPlan
@import model.SubPlanOps._
@import views.support.Pricing._
@import views.support.Dates._

@import com.gu.memsub.subsv2.Subscription
@import com.gu.memsub.subsv2.SubscriptionPlan.ContentSubscription
@import model.SubscriptionOps._
@import org.joda.time.LocalDate.now

@(subscription: Subscription[ContentSubscription], subscriptionId: String, plan: CatalogPlan.Paid, promotion: Option[AnyPromotion] = None)
<div class="review-panel">

    <input type="hidden" name="subscriptionDetails"
           data-amount="@plan.charges.gbpPrice.amount"
           data-number-of-months="@plan.charges.billingPeriod.monthsInPeriod">

    <div class="review-panel__item">
        <h4 class="review-panel__label">Subscriber ID:</h4>
        <div class="review-panel__details">@subscriptionId</div>
    </div>

    <div class="review-panel__item">
        <h4 class="review-panel__label">Your subscription:</h4>
        <div class="review-panel__details">
            @defining(subscription.plans.head) { plan =>
                <div>@plan.packageName</div>
                @for(subtitle <- plan.subtitle) {
                    <em>(@subtitle)</em>
                }
            }
        </div>
    </div>
    <div>
        <h4 class="review-panel__label">Payment Plan:</h4>
        <div class="review-panel__details">
        @for(plan <-subscription.sortedPlans) {
                <div class="review-panel__item">
                    <div>
                        @promotion.flatMap(_.asDiscount).fold {
                            @plan.charges.prettyPricing(subscription.currency)
                        } { discountPromo =>
                            @Html(plan.charges.prettyPricingForDiscountedPeriod(discountPromo, subscription.currency))
                        }
                    </div>
                    <div>@if(plan.start.isAfter(now)) { Starts: } else { Started: } @prettyDate(plan.start)</div>
                </div>
            }
        </div>
    </div>

    @promotion.map { promo =>
        <div class="review-panel__promotion">
            <h4 class="review-panel__label">✓ Promotion applied:</h4>
            <div class="review-panel__details">
                <p>@promo.description</p>
                @promo.asIncentive.map { p => <p>@p.promotionType.redemptionInstructions</p> }
            </div>
        </div>
    }
</div>
