@(form: Form[model.SubscriptionData])

@import configuration.Links

<div class="review-details">
    <div class="review-details__item">
        <h3 class="review-details__heading">Your details</h3>
        <div class="review-details__list">
            <ul class="u-unstyled-list">
                <li class="js-checkout-review-name"></li>
                <li class="js-checkout-review-address"></li>
                <li class="js-checkout-review-email"></li>
            </ul>
        </div>
    </div>
    <div class="review-details__item">
        <h3 class="review-details__heading">Payment details</h3>
        <div class="review-details__list">
            <ul class="u-unstyled-list">
                <li><span class="review-details__detail">Payment method:</span> Direct Debit</li>
                <li><span class="review-details__detail">Bank account:</span> <span class="js-checkout-review-account"></span></li>
                <li><span class="review-details__detail">Sort code:</span> <span class=" js-checkout-review-sortcode"></span></li>
                <li><span class="review-details__detail">Account holder:</span> <span class=" js-checkout-review-holder"></span></li>
            </ul>
        </div>
    </div>
    <div class="review-details__actions">
        <p class="u-note">
            Your subscription includes a range of exclusive benefits.
            These may include special offers from other companies,
            but will be sent to you from Guardian Subscriptions.
        </p>

        <label class="option u-pad-bottom" for="receive-gnm-marketing">
        @defining(form.data.get("personal.receiveGnmMarketing")) { gnmMarketingOpt =>
            <span class="option__input">
                <input type="checkbox"
                    name="personal.receiveGnmMarketing"
                    id="receive-gnm-marketing"
                    @if(gnmMarketingOpt.contains("on")) { checked="checked" }
                    >
            </span>
        }
            <span class="option__label">
                Guardian News &amp; Media would also like your permission to contact you about other services.
            </span>
        </label>

        <p class="u-note">
            Guardian News &amp; Media will not share your data with any 3rd party companies.
        </p>

        <input type="submit" class="button button--primary button--large u-margin-bottom" value="Submit payment">

        <p class="u-note">
            Our <a href="@Links.privacyPolicy.href" target="_blank">@Links.privacyPolicy.title</a>
            explains in further detail how we use your information and why your data matters to us.
        </p>

        <p class="u-note">
            By proceeding you agree to the
            <a href="@Links.terms.href" target="_blank">@Links.terms.title</a>
            for Guardian Digital Pack subscriptions.
        </p>

    </div>
</div>
