@()

@import model.Apps

<h4 class="steps__title">You can use the links below to download the apps included in your subscription.</h4>

<div class="app-package">
    <h5 class="app-package__title">Guardian &amp; Observer Daily Edition (for your tablet)</h5>
    <div class="badge-group">
        @for(appLink <- Apps.DailyEdition.links) {
            @fragments.common.appBadge(appLink)
        }
    </div>
</div>

<div class="app-package">
    <h5 class="app-package__title">Guardian live news app (for your mobile)</h5>
    <div class="badge-group">
        @for(appLink <- Apps.LiveNews.links) {
            @fragments.common.appBadge(appLink)
        }
    </div>
</div>

<h4 class="steps__title">Once downloaded you'll be asked to enter your Subscriber ID. You can find this at the top of the grey box above, or in your confirmation email.</h4>

