.button--show-more, .button--show-less {
    @include button-colour(
        guss-colour(neutral-8, $pasteup-palette),
        guss-colour(neutral-1, $pasteup-palette),
        guss-colour(neutral-8, $pasteup-palette),
        darken(guss-colour(neutral-3, $pasteup-palette), 10%),
        guss-colour(c-brand, $pasteup-palette)
    );

    padding-left: 4px;
    padding-top: 2px;
    position: relative;
    color: $c-brand;

    svg {
        width: 25px;
        height: 25px;
        fill: $c-brand;
    }
}
.button--show-less {
    .inline-plus {
        display: none;
    }
}
.button--show-more {
    .inline-minus {
        display: none;
    }
}
.inline-text, .inline-icon {
    float: left;
}