@import com.gu.i18n.Country
@import com.gu.memsub.promo.PromoCode
@import configuration.Config.Identity.idWebAppSigninUrl
@import model.DigitalEdition.UK
@import views.support.ContactCentreOps._
@(
    subscriberId: Option[String],
    promoCode: Option[PromoCode],
    message: Option[String]= None
)(implicit request: RequestHeader, flash: Flash, touchpointBackendResolution: services.TouchpointBackends.Resolution)

@main("Manage your subscription | The Guardian", edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution), managementPage = true) {

    <main class="page-container gs-container">

        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Manage your subscription</h1>
            </div>

            <div>
                <h3>In this area you can:</h3>
                <p>Review your subscription details and payment schedule.</p>
                <p>If you get your copy of The Guardian or The Observer delivered, you can suspend delivery while you're away.</p>
                <p>If you have a fixed-term Guardian Weekly subscription, you can renew it here.</p>
            </div>

            <div>
                <h3>Instructions</h3>
                <p>
                    Please log in below using your ​​Subscriber ID​, which you can find on any correspondence, and your last name.
                </p>
            </div>

            <form class="form js-suspend-form u-cf" action="@routes.AccountManagement.processLogin().url" method="POST" novalidate>

                @helper.CSRF.formField

                <div class="suspend-container__form">

                    <div id="yourDetails" class="field-panel js-fieldset-your-details">
                        <fieldset>
                            <legend class="field-panel__legend">
                                Your details
                            </legend>
                            <div class="field-panel__intro">
                                <div class="field-note field-note--offset">
                                @fragments.forms.securityNote()
                                </div>
                                <div class="field-note field-note--offset prose">
                                    <span class="field-note__label">Already have a Guardian account?</span>
                                    <a href="@idWebAppSigninUrl(routes.AccountManagement.manage(None, None, promoCode))">Sign in</a>
                                </div>
                            </div>
                            <div class="field-panel__edit">
                                <a href="#yourDetails" class="text-button u-button-reset js-edit-your-details" title="Edit your personal details">Edit</a>
                            </div>
                            <div class="field-panel__fields">
                                <div class="form-field js-subscriber-id">
                                    <label class="label" for="first">Subscriber ID</label>
                                    <input type="text" class="input-text js-input" name="subscriptionId" id="first"
                                    value="@subscriberId" maxlength="30" required>
                                    @fragments.forms.errorMessage("This field is required")
                                </div>
                                <div class="form-field js-suspend-last">
                                    <label class="label" for="last">Last name</label>
                                    <input type="text" class="input-text js-input" name="lastname" id="last"
                                    value="" maxlength="50" required>
                                    @fragments.forms.errorMessage("This field is required")
                                </div>
                                @promoCode.map{promo=>
                                    <input type="hidden" value="@promo.get" name="promoCode"/>
                                }
                                @if(flash.get("error").isDefined) {
                                    <div class="form-field__error-message-visible">@flash.get("error")</div>
                                }
                                @message.map { message =>
                                    <div class="form-field__error-message-visible">@message</div>
                                }
                                <button type="submit" class="js-suspend-submit button button--primary button--large u-margin-bottom">
                                    Continue
                                </button>
                            </div>
                        </fieldset>
                    </div>

                </div>

            </form>

            <div>
                <p>
                    If you do not have your Subscriber ID to hand, or need anything else,
                    please email <a class="u-link" href="@hrefMailto">@email</a> or contact customer services:
                </p>
                <h4>Australia and New Zealand</h4>
                <p>@phone(Country.Australia)&#46;</p>
                <h4>United States and Canada</h4>
                <p>@phone(Country.US)&#46;</p>
                <h4>UK and rest of the world</h4>
                <p>@phone()&#46;</p>
            </div>

        </section>
        <br/>
    </main>
}
