@import model.DigitalEdition.UK
@import configuration.Config.Identity.idWebAppSigninUrl
@(
    subscriberId: Option[String]
)(implicit request: RequestHeader, flash: Flash, touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Manage your subscription | The Guardian", edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {

    <main class="page-container gs-container">

        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Manage your Guardian subscription</h1>
            </div>

            <div>
                <h4>This section currently lets you:</h4>
                <ul>
                    <li>See your subscription details and billing schedule</li>
                    <li>Create a holiday suspension, if you have a Home Delivery subscription</li>
                    <li>See when your next book of vouchers will be delivered, if you have a Voucher subscription</li>
                    <li>Renew your 1/2/3-year Guardian Weekly subscription</li>
                </ul>
                <br/>
                <h4>Coming soon:</h4>
                <ul>
                    <li>Guardian Weekly subscribers will be able to browse and download digital copies</li>
                    <li>All subscribers will be able to link their subscription to a <a class="u-link" target="_blank" href="@idWebAppSigninUrl(routes.AccountManagement.manage(None, None))">Guardian account</a></li>
                    <li>Customers who have multiple subscriptions can manage each one independently</li>
                    <li>Update card or Direct Debit details (will require signing in to your Guardian account)</li>
                    <li>Update paper delivery address details (will require signing in to your Guardian account)</li>
                    <li>Upgrade paper subscription to include the <a class="u-link" target="_blank" href="@routes.DigitalPack.redirect()">Guardian Digital Pack</a></li>
                    <li>Online subscription cancellation</li>
                </ul>
            </div>

            <hr/>

            <div class="prose">
                <p>
                    Please log in below to manage your subscription. You may need your ​​Subscriber ID​, which you can find on any correspondence.
                </p>
                <p>
                    If you do not have your Subscriber ID to hand, or you require any service not currently available online,
                    please contact customer services on: <a class="u-link" href="tel:+44 330 333 6767">+44 (0) 330 333 6767</a>
                    or email <a class="u-link" href="mailto:subscriptions@@theguardian.com">subscriptions@@theguardian.com</a>.
                </p>
            </div>

            <br/>

            <form class="form js-suspend-form" action="@routes.AccountManagement.processLogin().url" method="POST" novalidate>

                @helper.CSRF.formField

                <div class="suspend-container__form">

                    <div id="yourDetails" class="field-panel js-fieldset-your-details">
                        <fieldset>
                            <legend class="field-panel__legend">
                                Your details
                            </legend>
                            <div class="field-panel__intro">
                                <div class="field-note field-note--offset">
                                @fragments.forms.securityNote()
                                </div>
                                <div class="field-note field-note--offset prose">
                                    <span class="field-note__label">Already have a Guardian account?</span>
                                    <a href="@idWebAppSigninUrl(routes.AccountManagement.manage(None, None))">Sign in</a>
                                </div>
                            </div>
                            <div class="field-panel__edit">
                                <a href="#yourDetails" class="text-button u-button-reset js-edit-your-details" title="Edit your personal details">Edit</a>
                            </div>
                            <div class="field-panel__fields">
                                <div class="form-field js-subscriber-id">
                                    <label class="label" for="first">Subscriber ID</label>
                                    <input type="text" class="input-text js-input" name="subscriptionId" id="first"
                                    value="@subscriberId" maxlength="30" required>
                                    @fragments.forms.errorMessage("This field is required")
                                </div>
                                <div class="form-field js-suspend-last">
                                    <label class="label" for="last">Last name</label>
                                    <input type="text" class="input-text js-input" name="lastname" id="last"
                                    value="" maxlength="50" required>
                                    @fragments.forms.errorMessage("This field is required")
                                </div>
                                @if(flash.get("error").isDefined) {
                                    <div class="form-field__error-message-visible">@flash.get("error")</div>
                                }
                                <button type="submit" class="js-suspend-submit button button--primary button--large u-margin-bottom">
                                    Continue
                                </button>
                            </div>
                        </fieldset>
                    </div>

                </div>

            </form>

        </section>
        <br/>
    </main>
}
