@main("Delivery Issue | The Guardian", bodyClasses=List("is-wide")) {
    <main class="page-container gs-container gs-container--slim">
        @fragments.page.header("Sorry, we were unable to determine your delivery status", None, List("l-padded"))
        <section class="section-slice section-slice--bleed section-slice--limited">
            In order to resolve this issue, please contact customer services on: <a class="u-link" href="tel:+44 330 333 6767">+44 (0) 330 333 6767</a>
            or email <a class="u-link" href="mailto:subscriptions@@theguardian.com">subscriptions@@theguardian.com</a>.
        </section>
        <section class="section-slice--bleed mma-section">
            <a class="button button--primary button--large" href="@routes.AccountManagement.processLogin().url">
                Back to subscription details</a>
        </section>
    </main>
}
