@import model.FulfilmentLookup
@import org.joda.time.LocalDate
@(
    fulfilmentLookup: FulfilmentLookup,
    date: LocalDate
)

@main("Delivery Problem | The Guardian", bodyClasses=List("is-wide")) {
    <main class="page-container gs-container gs-container--slim">
        @_root_.views.html.fragments.page.header("Problem Reported", None, List("l-padded"))
        <section class="section-slice section-slice--bleed section-slice--limited">
            <p>
                Thanks for reporting this problem. We will investigate and get back to you soon.
            </p>
            <p>
                If you need any further assistance, please contact customer services on: <a class="u-link" href="tel:+44 330 333 6767">+44 (0) 330 333 6767</a>
                or email <a class="u-link" href="mailto:subscriptions@@theguardian.com">subscriptions@@theguardian.com</a>.
            </p>
        </section>
        <section class="section-slice--bleed mma-section">
            <a class="button button--primary button--large" href="@routes.AccountManagement.processLogin().url">
                Back to subscription details</a>
        </section>
    </main>
}
