@import com.gu.i18n.Country.UK
@import model.FulfilmentLookup
@import org.joda.time.LocalDate
@import views.support.ContactCentreOps
@(
    fulfilmentLookup: FulfilmentLookup,
    date: LocalDate
)

@main("Delivery Problem | The Guardian", bodyClasses=List("is-wide")) {
    <main class="page-container gs-container gs-container--slim">
        @_root_.views.html.fragments.page.header("Problem Reported", None, List("l-padded"))
        <section class="section-slice section-slice--bleed section-slice--limited">
            <p>
                Thanks for reporting this problem. We will investigate and get back to you soon.
            </p>
            <p>
                If you need any further assistance, please contact Customer Services on: <a class="u-link" href="@ContactCentreOps.hrefTelNumber(UK)">@ContactCentreOps.phone(UK)</a>
                or email <a class="u-link" href="@ContactCentreOps.hrefMailto">@ContactCentreOps.email</a>.
            </p>
        </section>
        <section class="section-slice--bleed mma-section">
            <a class="button button--primary button--large" href="@routes.AccountManagement.processLogin().url">
                Back to subscription details</a>
        </section>
    </main>
}
