@import com.gu.i18n.Currency
@import com.gu.i18n.GBP
@import com.gu.memsub.{BillingSchedule, Price}
@import com.gu.memsub.subsv2.{Subscription, SubscriptionPlan => Plan}
@import com.gu.subscriptions.suspendresume.SuspensionService.HolidayRefund
@import model.DigitalEdition.UK
@import views.support.Dates.prettyDate
@(
    newRefund: HolidayRefund,
    holidayRefunds: Seq[HolidayRefund],
    subscription: Subscription[Plan.DailyPaper],
    billingSchedule: BillingSchedule,
    suspendableDays: Int,
    suspendedDays: Int,
    currency: Currency
)(implicit touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Suspension created | The Guardian", edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution), bodyClasses = Seq("is-wide")) {
    <main class="page-container gs-container">

        <div class="suspend-header">
            <h1 class="suspend-header__title">Cancel your papers while you're away</h1>
        </div>
        <section class="mma-section prose">
            <h3 class="mma-section__header">Suspension created successfully</h3>
            <p>
                Thank you. Your newspaper delivery will be suspended
                @if(newRefund._2.start == newRefund._2.finish) { on @prettyDate(newRefund._2.start) } else { from @prettyDate(newRefund._2.start) to @prettyDate(newRefund._2.finish) }.
            </p>
            <p>@Price(newRefund._1, GBP).pretty will be deducted from your next payment on or after @prettyDate(newRefund._2.start).</p>
            <p>Have a great holiday.</p>
        </section>

        <section class="mma-section">
            <h3 class="mma-section__header">Your suspensions</h3>
            <div>@account.fragments.suspensions(holidayRefunds, suspendableDays, suspendedDays)</div>
        </section>

        <section class="mma-section">
            <h3 class="mma-section__header">Your new billing schedule</h3>
            @account.fragments.billingSchedule(billingSchedule, currency)
        </section>

    </main>
}
