@import com.gu.subscriptions.suspendresume.SuspensionService.HolidayRefund
@import com.gu.memsub.BillingSchedule
@import com.gu.memsub.Price
@import com.gu.i18n.GBP
@import views.support.Dates.prettyDate
@import model.DigitalEdition.UK
@import com.gu.i18n.Currency

@(
    newRefund: HolidayRefund,
    holidayRefunds: Seq[HolidayRefund],
    billingSchedule: BillingSchedule,
    suspendableDays: Int,
    suspendedDays: Int,
    currency: Currency
)(implicit touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Suspension success | The Guardian", edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {
    <main class="page-container gs-container">

        <div class="suspend-header">
            <h1 class="suspend-header__title">Suspend your newspaper delivery</h1>
        </div>

        <div class="prose">
            <p>
                Thank you. Your newspaper delivery will be suspended
                @if(newRefund._2.start == newRefund._2.finish) { on @prettyDate(newRefund._2.start) } else { from @prettyDate(newRefund._2.start) to @prettyDate(newRefund._2.finish) }.
            </p>
            <p>@Price(newRefund._1, GBP).pretty will be deducted from your next payment after @prettyDate(newRefund._2.start).</p>
            <p>Have a great holiday.</p>
        </div>

        <div>
            <h3>Your suspensions</h3>
            <div>@account.fragments.suspensions(holidayRefunds, suspendableDays, suspendedDays)</div>
        </div>

        <br/>

        <div>
            <h3>Your new billing schedule</h3>
            @account.fragments.billingSchedule(billingSchedule, currency)
        </div>

        <br/>

    </main>
}
