@import com.gu.memsub.images.ResponsiveImageGroup
@import com.gu.memsub.images.ResponsiveImageGenerator
@import com.gu.memsub.Subscription
@import com.gu.memsub.BillingSchedule
@import views.support.PlanOps._
@import views.support.Pricing._
@import com.gu.subscriptions.ProductPlan
@import com.gu.memsub.PaidPS
@import com.gu.memsub.promo.Promotion.AnyPromotion
@import com.gu.subscriptions.PhysicalProducts
@import com.gu.subscriptions.suspendresume.SuspensionService.HolidayRefund
@import configuration.Config.suspendableWeeks
@import com.gu.subscriptions.suspendresume.SuspensionService.holidayToDays
@import model.DigitalEdition.UK
@import views.support.Dates.prettyDate

@(
    subscription: Subscription with PaidPS[ProductPlan[PhysicalProducts]],
    promotion: Option[AnyPromotion] = None,
    holidayRefunds: Seq[HolidayRefund] = Seq.empty,
    billingSchedule: BillingSchedule,
    suspendableDays: Int,
    suspendedDays: Int
)(implicit r: RequestHeader, touchpointBackendResolution: services.TouchpointBackend.Resolution)

@packImage = @{
    ResponsiveImageGroup(availableImages = ResponsiveImageGenerator("05129395fe0461071f176f526d7a4ae2b1d9b9bf/0_0_5863_5116", Seq(140, 500, 1000, 2000)))
}

@main("Suspend your newspaper delivery | The Guardian", edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {

    <main class="page-container gs-container">

        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Suspend your newspaper delivery</h1>
            </div>

            <div class="suspend-container__sidebar">
                <h2>Your billing schedule</h2>
                @account.fragments.billingSchedule(billingSchedule)
            </div>

            <div>
                <h2>Your subscription</h2>
                <ul>
                    <li>Subscriber ID: <strong>@subscription.name.get</strong></li>
                    <li>You are subscribed to the <strong>@subscription.plan.title</strong></li>
                    <li>
                        You pay <strong>@promotion.flatMap(_.asDiscount).fold {
                            @subscription.plan.prettyPricing(subscription.currency)
                        } { discountPromo =>
                            @Html(subscription.plan.prettyPricingForDiscountedPeriod(discountPromo, subscription.currency))
                        }</strong>
                    </li>
                    <li>You can line up <strong>@suspendableWeeks weeks</strong> worth of suspensions <span class="u-note">(Up to @suspendableDays days on the @subscription.plan.title)</span></li>
                    <li>@account.fragments.suspensions(holidayRefunds, suspendableDays, suspendedDays)</li>
                </ul>
            </div>

            <br/>

            @if((suspendableDays - suspendedDays) > 0) {
                <div class="suspend-container__form">
                    <form class="form js-suspend-form" action="@routes.AccountManagement.processSuspension().url" method="POST" novalidate>
                        @helper.CSRF.formField
                        <div id="suspendDetails" class="field-panel js-fieldset-your-details">
                            <fieldset>
                                <legend class="field-panel__legend">
                                    Create a suspension
                                </legend>
                                <div class="field-panel__intro u-note">
                                    Please give us 5 working days notice to process the suspension.<br/>
                                    All dates are inclusive.
                                </div>
                                <div class="field-panel__fields">
                                    <div class="form-field js-suspend-start-date">
                                        <div id="dateRangePicker"
                                        remainingDays="@{suspendableDays - suspendedDays}"
                                        excludeExistingDays="@{holidayRefunds.flatMap(x => holidayToDays(x._2.start, x._2.finish)).map(prettyDate).mkString(",")}"
                                        ratePlanName="@subscription.plan.name"></div>
                                    </div>
                                    <button type="submit" class="js-suspend-submit button button--primary button--large u-margin-bottom">
                                        Continue
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            }
        </section>
    </main>
}
