@import com.gu.memsub.BillingSchedule
@import com.gu.subscriptions.suspendresume.SuspensionService.HolidayRefund
@import com.gu.memsub.subsv2.{SubscriptionPlan => Plan, Subscription}
@import configuration.Config.suspendableWeeks
@import com.gu.subscriptions.suspendresume.SuspensionService.holidayToDays
@import model.DigitalEdition.UK
@import views.support.Dates.prettyDate
@import views.support.AccountManagementOps._
@(
    subscription: Subscription[Plan.Paper],
    holidayRefunds: Seq[HolidayRefund] = Seq.empty,
    billingSchedule: BillingSchedule,
    suspendableDays: Int,
    suspendedDays: Int,
    errorCodes: Set[String]
)(implicit r: RequestHeader, touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Cancel your papers while you're away | The Guardian", bodyClasses = List("is-wide"), edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {

    <main class="page-container gs-container">
        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Cancel your papers while you're away</h1>
            </div>

            <section class="mma-section">
                <h3 class="mma-section__header">
                    Your details
                </h3>
                @views.html.account.fragments.yourDetails(subscription) {
                    <dt class="mma-section__list--title">Available holiday</dt>
                    <dd class="mma-section__list--content">
                        <span class="mma-section__list--plan-title">@{suspendableDays - suspendedDays} days</span>
                    </dd>
                }
            </section>

            @if((suspendableDays - suspendedDays) > 0) {
                <section class="mma-section">
                    <form class="form js-suspend-form" action="@routes.AccountManagement.processSuspension().url" method="POST" novalidate>
                        <fieldset>
                            <legend class="mma-section__header">
                                Create a suspension
                            </legend>
                            @helper.CSRF.formField

                            <div class="form-field js-suspend-start-date mma-dates__fields">
                                <ul class="mma-error-list">
                                    @errorCodes.map { code => <li class="form-field__error-message mma-error-list__item">@getMessageFromCode(code)</li> }
                                </ul>
                                <div id="dateRangePicker"
                                firstPaymentDate="@prettyDate(subscription.firstPaymentDate)"
                                remainingDays="@{suspendableDays - suspendedDays}"
                                excludeExistingDays="@{holidayRefunds.flatMap(x => holidayToDays(x._2.start, x._2.finish)).map(prettyDate).mkString(",")}"
                                ratePlanName="@subscription.plan.name"></div>
                            </div>
                            <button type="submit" class="js-suspend-submit button button--primary button--large u-margin-bottom mma-dates__button">
                                Create
                            </button>
                        </fieldset>
                    </form>
                    <span class="mma-dates__request">Please give us at least 5 days notice to process the suspension. You can suspend up to @suspendableWeeks weeks. <strong>All dates are inclusive</strong>.</span>
                </section>
            }

            <section class="mma-section">
                <h3 class="mma-section__header">Scheduled suspensions</h3>
                @account.fragments.suspensions(holidayRefunds, suspendableDays, suspendedDays)
            </section>

            <section class="mma-section">
                <h3 class="mma-section__header">Your billing schedule</h3>
                @account.fragments.billingSchedule(billingSchedule, subscription.plan.charges.price.currencies.head)
            </section>

        </section>
    </main>
}
