@import com.gu.memsub.subsv2.SubscriptionPlan
@import com.gu.memsub.BillingSchedule
@import views.support.Pricing._
@import views.support.Dates._
@import org.joda.time.LocalDate.now
@import com.gu.memsub.BillingPeriod.OneOffPeriod
@(plan: SubscriptionPlan.ContentSubscription,
  maybeBillingSchedule: Option[BillingSchedule],
  touchpointBackendResolution: services.TouchpointBackends.Resolution
)(implicit request: RequestHeader)

@main(s"Confirmation | The Guardian", bodyClasses=List("is-wide"), touchpointBackendResolutionOpt = Some(touchpointBackendResolution), product = Some(plan.product)) {
    <main class="page-container gs-container gs-container--slim">
        @_root_.views.html.fragments.page.header("Thank you", None, List("l-padded"))
        <section class="section-slice section-slice--bleed section-slice--limited">
            <p>Your Guardian Weekly subscription has been renewed.</p>
        </section>

            @for(billingSchedule <- maybeBillingSchedule) {
                <section class="section-slice--bleed section-slice--limited">
                    <h3 class="mma-section__header">
                Your billing schedule
                    </h3>
                    @views.html.account.fragments.billingSchedule(billingSchedule, plan.charges.price.currencies.head)
                </section>
            }


        <section class="section-slice--bleed mma-section">
            <a class="button button--primary button--large" href="@routes.AccountManagement.processLogin">
                Back to subscription details</a>
        </section>

    </main>
}
