@import com.gu.memsub.BillingSchedule
@import com.gu.memsub.subsv2.SubscriptionPlan
@import com.gu.memsub.subsv2.Subscription
@import model.DigitalEdition.UK
@(
  subscription: Subscription[SubscriptionPlan.Voucher], billingSchedule: BillingSchedule
)(implicit r: RequestHeader, touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Suspend your newspaper delivery | The Guardian", bodyClasses = List("is-wide"), edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {

  <main class="page-container gs-container">
    <section class="suspend-container">

      <div class="suspend-header">
        <h1 class="suspend-header__title">Your Guardian subscription</h1>
      </div>

      <section class="mma-section">
        <h3 class="mma-section__header">
          Your details
        </h3>
        @views.html.account.fragments.yourDetails(subscription)()
      </section>

      <section class="mma-section">
        <h3 class="mma-section__header">
          Your billing schedule
        </h3>
        @views.html.account.fragments.billingSchedule(billingSchedule, subscription.plan.charges.price.currencies.head)
      </section>
    </section>
  </main>
}
