@import com.gu.memsub.BillingSchedule
@import com.gu.memsub.subsv2.SubscriptionPlan
@import com.gu.memsub.subsv2.Subscription
@import model.DigitalEdition.UK
@import model.SubscriptionOps._
@(
    subscription: Subscription[SubscriptionPlan.DailyPaper], billingSchedule: BillingSchedule
)(implicit r: RequestHeader, touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Your Guardian subscription | The Guardian", bodyClasses = List("is-wide"), edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {

    <main class="page-container gs-container">
        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Your Guardian subscription</h1>
            </div>

            <section class="mma-section">
                <h3 class="mma-section__header">
                    Your details
                </h3>
                @views.html.account.fragments.yourDetails(
                    subscription = subscription
                )()
            </section>

            <section class="mma-section">
                <h3 class="mma-section__header">
                    Your billing schedule
                </h3>
                @views.html.account.fragments.billingSchedule(billingSchedule, subscription.currency)
            </section>
            <section class="mma-section">
                <a class="button button--primary button--large" href="@routes.AccountManagement.logout">Sign Out</a>
            </section>
        </section>
    </main>
}
