@import com.gu.memsub.BillingSchedule
@import com.gu.memsub.subsv2.SubscriptionPlan
@import com.gu.memsub.subsv2.Subscription
@import model.DigitalEdition
@import com.gu.salesforce.Contact
@import model.SubscriptionOps._
@import org.joda.time.LocalDate.now
@import com.gu.zuora.ZuoraRestService.SoldToContact
@(
    subscription: Subscription[SubscriptionPlan.WeeklyPlan], billingSchedule: Option[BillingSchedule], contact: SoldToContact, maybeEmail:Option[String], paymentMethodIsPaymentCard: Boolean
)(implicit r: RequestHeader, touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Your Guardian Weekly subscription | The Guardian", bodyClasses = List("is-wide"), edition = DigitalEdition.getForCountry(contact.country), touchpointBackendResolutionOpt = Some(touchpointBackendResolution), managementPage = true) {
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.Promotion.validate
    )
    <main class="page-container gs-container">
        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Your Guardian Weekly subscription</h1>
            </div>

            <section class="mma-section">
                <h3 class="mma-section__header">
                    Your details
                </h3>
                @views.html.account.fragments.yourDetails(
                    maybeContact = Some(contact),
                    subscription = subscription
                )()
            </section>
            @billingSchedule.map { bs =>
                <section class="mma-section">
                    <h3 class="mma-section__header">
                        Your billing schedule
                    </h3>
                    @views.html.account.fragments.billingSchedule(bs, subscription.currency)
                </section>
            }
            @if(paymentMethodIsPaymentCard) {
                <section class="mma-section">
                    <h3 class="mma-section__header">Update your payment method</h3>
                    @views.html.account.fragments.paymentUpdate(subscription, maybeEmail, subscription.plans.head.product, DigitalEdition.getForCountry(contact.country))
                </section>
            }
        </section>
    </main>
}
