@import com.gu.memsub.BillingSchedule
@import com.gu.memsub.subsv2.Subscription
@import model.DigitalEdition.UK
@import com.gu.salesforce.Contact
@import views.support.Dates.prettyDate
@import com.gu.i18n.Country
@import controllers.ManageWeekly.WeeklyPlanInfo
@import model.SubscriptionOps._
@import play.api.libs.json.Json
@import controllers.CachedAssets.hashedPathFor

@import com.gu.i18n.Currency
@import com.gu.memsub.promo.PromoCode
@import org.joda.time.LocalDate.now
@(
    subscription: Subscription[WeeklyPlanOneOff], billingSchedule: BillingSchedule, contact: Contact, billToCountry: Country, plans: List[WeeklyPlanInfo], currency: Currency, promoCode: Option[PromoCode]
)(implicit r: RequestHeader, touchpointBackendResolution: services.TouchpointBackend.Resolution)

@main("Your Guardian Weekly subscription | The Guardian", bodyClasses = List("is-wide"), edition = UK, touchpointBackendResolutionOpt = Some(touchpointBackendResolution)) {
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.Promotion.validate
    )
    <script>

        guardian.plans = @Html(Json.stringify(Json.toJson(plans)))

    </script>
    <main class="page-container gs-container">
        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Your Guardian Weekly subscription</h1>
            </div>

            <section class="mma-section">
                <h3 class="mma-section__header">
                    Your details
                </h3>
                @helper.CSRF.formField
                @views.html.account.fragments.yourDetails(
                    subscriptionName = subscription.name.get,
                    plan = subscription.nextPlan,
                    maybeStartDate = Some(subscription.nextPlan.start),
                    maybeContact = Some(contact))()
            </section>

            <section class="mma-section">
                <h3 class="mma-section__header">Renew your subscription</h3>

                <p>
                @if(subscription.termEndDate.isAfter(now)) {
                    Your current subscription is due to expire on @prettyDate(subscription.termEndDate).
                } else {
                    Your subscription expired on @prettyDate(subscription.termEndDate).
                }
                Please complete the form below to renew your subscription.
                </p>

                <div class="js-weekly-renew"
                data-email="@contact.email"
                data-billing-country="@billToCountry.alpha2"
                data-promo-code="@promoCode.map(_.get)"
                data-currency="@currency.iso"
                data-delivery-country="@contact.mailingCountryParsed.map(_.alpha2).getOrElse(billToCountry.alpha2)"
                data-direct-debit-logo="@hashedPathFor("images/direct-debit-black.png")"
                />

            </section>
            <section class="mma-section">
                    <a class="button button--primary button--large" href="@routes.AccountManagement.logout">Sign Out</a>
                </section>
            </section>
        </main>
    }
