@import com.gu.i18n.{Country, Currency}
@import com.gu.memsub.promo.PromoCode
@import com.gu.memsub.subsv2.Subscription
@import com.gu.zuora.rest.ZuoraRestService.SoldToContact
@import configuration.Links
@import controllers.CachedAssets.hashedPathFor
@import controllers.ManageWeekly.WeeklyPlanInfo
@import model.DigitalEdition.UK
@import model.SubscriptionOps._
@import org.joda.time.LocalDate.now
@import play.api.libs.json.Json
@import views.support.Dates.prettyDate
@(
    subscription: Subscription[WeeklyPlanOneOff], contact: SoldToContact, email: Option[String], billToCountry: Country, plans: List[WeeklyPlanInfo], currency: Currency, promoCode: Option[PromoCode]
)(implicit r: RequestHeader, touchpointBackendResolution: services.TouchpointBackends.Resolution)

@main(
    title ="Your Guardian Weekly subscription | The Guardian",
    bodyClasses = List("is-wide"),
    edition = UK,
    touchpointBackendResolutionOpt = Some(touchpointBackendResolution),
    managementPage = true,
    jsVars = model.JsVars(currency = currency, country = Some(billToCountry)),
    contactUsCountry = Some(billToCountry)
) {

    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.Promotion.validate
    )
    <script>

        guardian.plans = @Html(Json.stringify(Json.toJson(plans)))

    </script>
    <main class="page-container gs-container">
        <section class="suspend-container">

            <div class="suspend-header">
                <h1 class="suspend-header__title">Your Guardian Weekly subscription</h1>
            </div>

            <section class="mma-section">
                <h3 class="mma-section__header">
                    Your details
                </h3>
                @helper.CSRF.formField
                @views.html.account.fragments.yourDetails(
                    maybeContact = Some(contact),
                    subscription = subscription
                )()
            </section>

            <section class="mma-section">
                <h3 class="mma-section__header">Renew your subscription</h3>

                <p>
                @if(subscription.termEndDate.isAfter(now)) {
                    Your current subscription is due to expire on @prettyDate(subscription.termEndDate).
                } else {
                    Your subscription expired on @prettyDate(subscription.termEndDate).
                }
                Please complete the form below to renew your subscription.
                </p>

                <div class="js-weekly-renew"
                data-email="@email"
                data-billing-country="@billToCountry.alpha2"
                data-promo-code="@promoCode.map(_.get)"
                data-currency="@currency.iso"
                data-delivery-country="@contact.country.map(_.alpha2).getOrElse(billToCountry.alpha2)"
                data-direct-debit-logo="@hashedPathFor("images/direct-debit-black.png")"
                data-weekly-terms-conditions-href="@Links.weeklyTerms.href"
                data-weekly-terms-conditions-title="@Links.weeklyTerms.title"
                data-privacy-policy-href="@Links.privacyPolicy.href"
                data-privacy-policy-title="@Links.privacyPolicy.title"
                data-why-your-data-matters-to-us-href="@Links.whyYourDataMattersToUs.href"
                />

            </section>
        </section>
    </main>
}
