
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: "kern" 1, "liga" 1;
    font-feature-settings: "kern" 1, "liga" 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol,
ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

img {
    border: none;
    display: block;
    max-width: 100%;
}
