@import utils.Prices._
@(subscription: model.Subscriptions.SubscriptionProduct)
<section class="section-slice">
    <h2 class="page-heading">@subscription.stepsHeading</h2>
    <ol class="steps">
    @for(step <- subscription.steps) {
        <li class="steps__item">@step</li>
    }
    </ol>
</section>

<section class="section-slice">

    <h2 class="page-heading">Choose a package</h2>

    @for(option <- subscription.options) {
        <a href="@option.url" class="package" data-test-id="subscription-package-@option.id">
            <div class="package__info">
                <span class="package__title">@option.title</span>
                <strong class="package__price">
                    @if(subscription.isDiscounted) { From }
                    @option.weeklyPrice.pretty per week
                    @for(saving <- option.weeklySaving) { &mdash; save @saving }
                </strong>
                <span class="package__description">@option.description</span>
                <span class="package__monthly">
                    @if(subscription.isDiscounted) {
                        @option.paymentDetails
                    } else {
                        Monthly price <strong>@option.monthlyPrice.pretty</strong>
                    }
                </span>
            </div>
        </a>
    }

</section>
