@import utils.Prices._
@(subscription: model.Subscriptions.SubscriptionProduct)
<section class="section-slice">
    <h2 class="page-heading">@subscription.stepsHeading</h2>
    <ol class="steps">
    @for(step <- subscription.steps) {
        <li class="steps__item">@step</li>
    }
    </ol>
</section>

<section class="section-slice">

    @if(subscription.insideM25) {
        <h3 class="u-display-only-mobile">Live outside the M25?</h3>
        <a href="@subscription.altPackagePath" class="button button--large button--secondary button--m25" data-test-id="choose-package-outside-m25">
            <span class="u-hide-until-tablet">Live outside the M25?</span>
            Subscribe to <span class="u-hide-until-tablet">our</span> voucher scheme
        </a>
    } else {
        <h3 class="u-display-only-mobile">Do you live inside the M25?</h3>
        <a href="@subscription.altPackagePath" class="button button--large button--secondary button--m25" data-test-id="choose-package-inside-m25">
            <span class="u-hide-until-tablet">Do you live inside the M25?</span>
            Get the paper delivered <span class="u-hide-until-tablet">to your door</span>
        </a>
    }

    <h2 class="page-heading">Choose a package</h2>

    @for(option <- subscription.options) {
        <a href="@option.url" class="package" data-test-id="subscription-package-@option.id">
            <div class="package__info">
                <span class="package__title">@option.title</span>
                <strong class="package__price">
                    @if(subscription.isDiscounted) { From }
                    @option.weeklyPrice.pretty per week
                    @for(saving <- option.weeklySaving) { &mdash; save @saving }
                </strong>
                <span class="package__description">@option.description</span>
                <span class="package__monthly">
                    @if(subscription.isDiscounted) {
                        @option.paymentDetails
                    } else {
                        Monthly price <strong>@option.monthlyPrice.pretty</strong>
                    }
                </span>
            </div>
        </a>
    }

</section>
