@import model.DigitalEdition.UK
@(subscription: model.Subscriptions.SubscriptionProduct, productSegment: String)

@main(s"${subscription.capitalizedTitle} | Choose a Package | Subscriptions | The Guardian", edition = UK) {

    <script>
        guardian.pageInfo.pageType = 'Landing';
        guardian.pageInfo.productData.productSegment = '@productSegment';
    </script>

    <main class="page-container gs-container">

        @fragments.page.header(subscription.title, Some(subscription.description), Nil)

        @fragments.shipping.shipping(subscription)

    </main>
}
