@()

<div>
  <p>
    Subscribe to the Guardian Weekly and you'll get seven days of international news in one comprehensive paper, delivered for free wherever you are in the world. The paper offers a considered, international perspective on major world events with insights and analysis from The Guardian and The Observer.
  </p>
  <p>Our subscribers enjoy:</p>
  <ul>
      <li>Saving on the retail cover price</li>
      <li>Free international delivery</li>
      <li>A weekly email newsletter from the editor</li>
      <li>Access to the latest and archive editions at any time, on any device, via PressReader</li>
      <li>Being part of our global community of Guardian Weekly readers</li>
  </ul>
</div>
