@()

    <div><p>The Guardian Weekly takes time to review the previous seven days of news, giving you a considered perspective on major world events. Enjoy specially curated insights and analysis from the Guardian, the Observer and the Washington Post, delivered right to your front door.</p>
        <p>Subscribe today and never miss an issue.</p>
        <p>Enjoy a range of benefits, including:</p>
        <ul>
            <li>Year-round savings on the price of the paper</li>
            <li>Free worldwide delivery</li>
            <li>Analytical, insightful commentary on world news</li>
        </ul></div>
    <br>

