@()

<div>
  <p>
      Get closer to the moments that have made the world’s week. Enjoy seven days of international news in one magazine, curated to give you a clearer global perspective. Subscribe today and get leading insights, brilliant analysis and free delivery, wherever you are in the world.  </p>
  <p>As a subscriber, you’ll enjoy:</p>
  <ul>
      <li>A saving of up to 30% on the retail cover price</li>
      <li>Free international delivery</li>
      <li>Localised content for our Australian and North American subscribers</li>
      <li>A weekly email newsletter from the editor</li>
      <li>Access to the latest and archive editions at any time, on any device, through PressReader</li>
  </ul>

  <p>If you'd like to buy a Guardian Weekly subscription as a gift, just get in touch with your local customer service team. You’ll find all the details that you need to know below: </p>
  <p>UK, Europe and ROW: +44 (0) 330 333 6767</p>
  <p>Australia and New Zealand: +61 2 8076 8599 (direct line)</p>
  <p>USA and Canada: +1 917-900-4663 (direct line)</p>

</div>
