@import com.gu.memsub.Price
@import com.gu.memsub.promo.{PromoCode, Promotion}
@import com.gu.subscriptions.DigipackCatalog
@import model.DigitalEdition
@import views.support.DigitalEdition._
@(edition: DigitalEdition, catalog: DigipackCatalog, promoCode: PromoCode, promotion: Promotion)

@startTrial(edition: DigitalEdition, price: Price, promoCode: PromoCode) = {
    <div class="pricing-cta">
        <div class="pricing-cta__pricing">
            <h4 class="pricing-cta__pricing__title">Free for 14 days</h4>
            <p class="pricing-cta__pricing__value">Then @price.pretty/month</p>
        </div>
        <div class="pricing-cta__action">
            <a class="button button--large button--primary"
            href="@edition.redirect&promoCode=@promoCode.get"
            data-test-id="digital-pack-@edition.id-trial-header"
            >Start your free trial</a>
        </div>
    </div>
}

@main(
    title = "The Digital Pack Offer | Subscriptions | The Guardian",
    bodyClasses = List("is-wide")
){
    <main class="page-container gs-container gs-container--slim">
        <section class="page-slice">
            <div class="page-slice__content">
                @fragments.page.header("The Digital Pack Offer", Some("Experience your newspaper in full, on your tablet with the Guardian & Observer daily edition.\n \nEnjoy an advert free experience on The Guardian's app with access to our daily crosswords and exclusive content.\n \nRecieve a complimentary £25 John Lewis digital gift card"))
                @startTrial(edition, catalog.digipackMonthly.priceGBP, promoCode)
            </div>
        </section>
    </main>
}
