@(ex: Throwable)
@main("Internal Server Error") {
    <main class="page-container gs-container">
        @fragments.page.header("Error 500", Some("There was an error on this page"))
        <p>
            Sorry, there was an error on this page. We're aware of the problem. If this error persists, please contact
            support at <a href="mailto:subscriptions.dev@@theguardian.com">subscriptions.dev@@theguardian.com</a>.
        </p>
        @ex match {
            case err: play.api.UsefulException => {
                <p>Please provide the following error code to help identify the issue.</p>
                <pre>Error code: @err.id</pre>
            }
        }
    </main>
}
