@import model.DigitalEdition.UK
@import services.FlashSale
@()

@main(
    "Subscriptions | The Guardian",
    Some("Subscribe to The Guardian & The Observer. Support our independent, award-winning journalism."),
    edition = UK) {

    <main class="page-container gs-container">
        @fragments.page.header("Subscriptions")
        @fragments.productLists.productListUk(FlashSale.homePromoCodes, includeEditionInUrl = true)
        <div class="row row--items-3">
            <div class="row__item block">
                <h2 class="block__title">Guardian Weekly</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">A selection of the week's biggest international stories, major world events, politics and culture from The Guardian and The Observer, in one comprehensive paper</li>
                        <li class="block__list-item">Saving on the retail cover price</li>
                        <li class="block__list-item">Free international delivery</li>
                        <li class="block__list-item">Access to the latest and archive editions at any time, on any device, via PressReader</li>
                        <li class="block__list-item">A weekly email newsletter from the editor</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("WHOMEUK", UK.countryGroup.defaultCountry)" data-test-id="subscriptions-uk-guardian-weekly">Subscribe now</a>
                </div>
            </div>
            <div class="row__item block">
                <h2 class="block__title">Guardian email services</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">Whether it's news, comment, sport or culture - get the content you want, straight to your inbox for free</li>
                        <li class="block__list-item">Our editors' picks direct to your inbox every day, including our daily editions available for the UK, US and Australia</li>
                        <li class="block__list-item">Sign up to emails from your favourite Guardian sections, from football to food and fashion</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="https://profile.theguardian.com/email-prefs" data-test-id="subscriptions-uk-email">Sign up</a>
                </div>
            </div>
            <div class="row__item block">
                <h2 class="block__title">From the app store</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">Subscribe to our iPad daily edition</li>
                        <li class="block__list-item">Download the Guardian mobile app for your Apple or Android devices</li>
                        <li class="block__list-item">Free trials available to new customers</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="http://www.theguardian.com/mobile/2014/may/29/the-guardian-for-mobile-and-tablet" data-test-id="subscriptions-uk-app-store">Find out more</a>
                </div>
            </div>
        </div>
    </main>
}
