@import model.DigitalEdition.UK
@import views.support.DigitalEdition._
@()

@main(
    "Subscriptions and Membership | The Guardian",
    Some("Subscribe to The Guardian & Observer. Support our independent, award-winning journalism."),
    edition = UK) {

    <main class="page-container gs-container">
        @fragments.page.header("Subscriptions and Membership")
        <div class="row row--items-3">
            <div class="row__item block block--primary block--digital">
                <h2 class="block__title">Digital</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">14-day free trial of our digital pack</li>
                        <li class="block__list-item"><strong>Plus, subscribe today and save an extra 50% on the first 3 months</strong></li>
                        @UK.digitalPackSaving.map { saving => <li class="block__list-item">Save up to @saving% on the app store price</li> }
                        <li class="block__list-item">Access to the Daily Edition and the advert-free Guardian App Premium Tier</li>
                        <li class="block__list-item">Available on Apple, Android and Kindle Fire</li>
                        <li class="block__list-item">Use on up to 10 devices</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("DBH80X", None).url?edition=@UK.id" data-test-id="subscriptions-uk-digital">Subscribe now</a>
                </div>
            </div>
            <div class="row__item block block--primary block--paper-digital">
                <h2 class="block__title">Paper + digital</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item"><strong>Subscribe today to save an extra 50% on the first 3 months</strong></li>
                        <li class="block__list-item">All the <strong>Digital Pack</strong> benefits</li>
                        <li class="block__list-item">Pick the package you want: Everyday+, Sixday+, Weekend+ and Sunday+</li>
                        <li class="block__list-item">All supplements Monday to Sunday</li>
                        <li class="block__list-item">Receive newspaper vouchers to use at over 1,000 retailers across the UK, or delivery within the M25</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("GBG80F", None).url" data-test-id="subscriptions-uk-paper-digital">Subscribe now</a>
                </div>
            </div>
            <div class="row__item block block--primary block--paper">
                <h2 class="block__title">Paper</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item"><strong>Subscribe today to save an extra 50% on the first 3 months</strong></li>
                        <li class="block__list-item">Year-round savings on the retail price</li>
                        <li class="block__list-item">Pick the package you want: Everyday, Sixday, Weekend and Sunday</li>
                        <li class="block__list-item">All supplements Monday to Sunday</li>
                        <li class="block__list-item">Receive newspaper vouchers to use at over 1,000 retailers across the UK, or delivery within the M25</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("GBG80X", None).url" data-test-id="subscriptions-uk-paper">Subscribe now</a>
                </div>
            </div>
        </div>
        <div class="row row--items-1">
            <div class="row__item">
                @fragments.promos.members("uk", UK.membershipLandingPage)
            </div>
        </div>
        <div class="row row--items-3">
            <div class="row__item block">
                <h2 class="block__title">Guardian Weekly</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">A selection of international editorial from the Guardian, Observer and Washington Post</li>
                        <li class="block__list-item">A unique blend of international news, politics, culture and comment</li>
                        <li class="block__list-item">Save on the retail price</li>
                        <li class="block__list-item">Free delivery to your door, wherever you are in the world</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("WHOMEUK", UK.countryGroup.defaultCountry)" data-test-id="subscriptions-uk-guardian-weekly">Subscribe now</a>
                </div>
            </div>
            <div class="row__item block">
                <h2 class="block__title">Guardian email services</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">Whether it's news, comment, sport or culture - get the content you want, straight to your inbox for free</li>
                        <li class="block__list-item">Our editors' picks direct to your inbox every day, including our daily editions available for the UK, US and Australia</li>
                        <li class="block__list-item">Sign up to emails from your favourite Guardian sections, from football to food and fashion</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="https://profile.theguardian.com/email-prefs" data-test-id="subscriptions-uk-email">Sign up</a>
                </div>
            </div>
            <div class="row__item block">
                <h2 class="block__title">From the app store</h2>
                <div class="block__info">
                    <ul class="block__list">
                        <li class="block__list-item">Subscribe to our daily edition or Guardian app from the appstore.</li>
                        <li class="block__list-item">Free trials available to new customers.</li>
                        <li class="block__list-item">Available across iPad, Kindle Fire, Android and iPhone.</li>
                    </ul>
                </div>
                <div class="block__footer">
                    <a class="button button--large button--primary" href="http://www.theguardian.com/mobile/2014/may/29/the-guardian-for-mobile-and-tablet" data-test-id="subscriptions-uk-app-store">Find out more</a>
                </div>
            </div>
        </div>
    </main>
}
