@import model.DigitalEdition
@import views.support.DigitalEdition._

@(edition: DigitalEdition)

@main(s"${edition.name} | Subscriptions and Membership | The Guardian",
    Some("Subscribe to The Guardian. Support our independent, award-winning journalism."),
    edition = edition) {

<main class="page-container gs-container">
    @fragments.page.header("Subscriptions and Membership", Some("Select your preferred package"))
    <div class="row row--items-2">
        <div class="row__item block block--primary block--digital">
            <h2 class="block__title">Subscribe to the Guardian <span class="break-tablet">digital pack</span></h2>
            <div class="block__info">
                <ul class="block__list">
                    <li class="block__list-item">Access to the Daily Edition, the digital version of the UK Guardian newspaper</li>
                    <li class="block__list-item">Access to the Guardian App Premium Tier, an advert-free experience</li>
                    <li class="block__list-item">Available on Apple, Android and Kindle Fire</li>
                    @edition.digitalPackSaving.map {saving => <li class="block__list-item"><strong>Save up to @{saving}% on the app store price</strong></li>}
                    <li class="block__list-item">14-day free trial</li>
                </ul>
            </div>
            <div class="block__footer">
                <a class="button button--large button--primary button--arrow" href="@routes.PromoLandingPage.render("DHOMEINT", None).url?edition=@edition.id" data-test-id="subscriptions-@edition.id-digital">Subscribe now</a>
            </div>
        </div>
        <div class="row__item block block--primary block--weekly">
            <h2 class="block__title">Subscribe to the Guardian Weekly</h2>
            <div class="block__info">
                <ul class="block__list">
                    <li class="block__list-item">A selection of international editorial from the Guardian, Observer and Washington Post</li>
                    <li class="block__list-item">A unique blend of international news, politics, culture and comment</li>
                    <li class="block__list-item">Save on the retail price</li>
                    <li class="block__list-item">Free delivery to your door, wherever you are in the world</li>
                </ul>
            </div>
            <div class="block__footer">
                <a class="button button--large button--primary" href="@routes.PromoLandingPage.render("WHOMEINT", None).url" data-test-id="subscriptions-@edition.id-guardian-weekly">Subscribe now</a>
            </div>
        </div>
    </div>
    <div class="row row--items-1">
        <div class="row__item">
            @fragments.promos.members(edition.id, edition.membershipLandingPage)
        </div>
    </div>
    <div class="row row--items-1">
        <div class="row__item block block--primary block--two-col">
            <div class="block__icon">
                @fragments.common.inlineIcon("email", List("icon--medium"))
            </div>
            <h2 class="block__title">Guardian email services</h2>
            <div class="block__info">
                <ul class="block__list">
                    <li class="block__list-item">Whether it's news, comment, sport or culture - get the content you want, straight to your inbox for free</li>
                    <li class="block__list-item">Our editors' picks direct to your inbox every day, including our daily editions available for the UK, US and Australia</li>
                    <li class="block__list-item">Sign up to emails from your favourite Guardian sections, from football to food and fashion</li>
                </ul>
            </div>
            <div class="block__footer">
            @if(edition.id == "us") {
                <a class="button button--large button--primary" href="https://profile.theguardian.com/email-prefs" data-test-id="subscriptions-@edition.id-email">
                    Sign up</a>
            } else {
                <a class="button button--large button--primary" href="http://www.theguardian.com/info/2015/jan/30/guardian-australia-emails-delivered-to-your-inbox-subscribe-now" data-test-id="subscriptions-@edition.id-email">
                    Sign up</a>
            }
            </div>
        </div>
    </div>
</main>
}
