@import model.JsVars

@*
    TODO:
    bodyClasses should be avoided and is deprecated.
    Currently being used for digital pack page and to help transition to a consistent
    body width throughout the site. The extra classes will be removed when this is the case.
*@
@(
    title: String,
    jsVars: JsVars = JsVars.default,
    isInternational: Boolean = false,
    bodyClasses: Seq[String] = Nil
)(content: Html)

<!DOCTYPE html>
<html lang="en-GB">
<head>
    @fragments.head(title)
    @fragments.javascriptFirstSteps(jsVars)
</head>
    <body class="@bodyClasses.mkString(" ")">
        @fragments.global.header()
        @fragments.global.navigation()

        @content

        @fragments.global.footer(isInternational)

        @fragments.analytics.google()
        @fragments.analytics.omniture()
        @fragments.analytics.krux()
    </body>
</html>
