@import model.JsVars

@(title: String, jsVars: JsVars = JsVars.default, footer: Html = Html(""), bodyClassName: String = "")(content: Html)

<!DOCTYPE html>
<html lang="en-GB">
<head>
    @fragments.head(title)
    @fragments.javascriptFirstSteps(jsVars)
    <script src="//cdn.optimizely.com/js/293455139.js"></script>
</head>
    <body class="@bodyClassName">
        @fragments.header()

        @content

        @fragments.footer.footer(footer)

        @fragments.analytics.google()
        @fragments.analytics.omniture()
        @fragments.analytics.krux()
    </body>
</html>
