@import com.gu.i18n.CountryGroup
@import com.gu.i18n.GBP
@import com.gu.memsub.Subscriptions
@import com.gu.i18n.CountryGroup.UK
@import com.gu.memsub.subsv2._
@import views.support.Pricing._

@(userString: String, products: List[List[CatalogPlan.Paid]])(implicit request: RequestHeader)

@import configuration.Config.Identity.idWebAppRegisterUrl

@main(title = "Test users") {
    <main class="page-container gs-container">
        @fragments.page.header("Test Users", None, Nil)

        <div class="prose">
            <ul class="o-unstyled-list">
                <li>First Name: <strong>@userString</strong></li>
                <li>Username: <strong>@userString</strong></li>
                <li>Email: <strong>@userString@@gu.com</strong></li>
            </ul>
        </div>

        <hr/>

        <div class="actions">
            <h2>Subscribe as a <em>guest</em> user to:</h2>
            @for(group <- products) {
                <dl>
                @for(plan <- group.sortBy(_.charges.gbpPrice.amount)) {
                    <a href="@routes.Checkout.renderCheckout(UK, None, None, plan.slug)" style="margin-bottom: 10px" class="button button--primary button--large">@plan.name (@{(plan.charges.gbpPrice * 12 / 52).pretty}/w, @plan.charges.gbpPrice.pretty/m)</a>
                }
                </dl>
            }
        </div>

        <hr/>

        <div class="actions">
            <h2>Register as an Identity user, redirecting to checkout for:</h2>
            @for(group <- products) {
                <dl>
                    @for(plan <- group.sortBy(_.charges.gbpPrice.amount)) {
                        <a href="@idWebAppRegisterUrl(routes.Checkout.renderCheckout(UK, None, None, plan.slug))" style="margin-bottom: 10px" class="button button--primary button--large">@plan.name (@{(plan.charges.gbpPrice * 12 / 52).pretty}/w, @plan.charges.gbpPrice.pretty/m)</a>
                    }
                </dl>
            }
        </div>

    </main>
}
