@import com.gu.i18n.CountryGroup
@import com.gu.memsub.Subscriptions
@import com.gu.i18n.CountryGroup.UK
@import controllers.Checkout.getCheckoutRouteForProductFamily
@(userString: String)(implicit request: RequestHeader)

@import configuration.Config.Identity.idWebAppRegisterUrl

@main(title = "Test users") {
    <main class="page-container gs-container">
        @fragments.page.header("Test Users", None, Nil)

        <div class="prose">
            <ul class="u-unstyled">
                <li>First Name: <strong>@userString</strong></li>
                <li>Username: <strong>@userString</strong></li>
                <li>Email: <strong>@userString@@gu.com</strong></li>
            </ul>
        </div>

        <div class="actions">
            <h3>Register as an Identity user, redirecting to checkout for:</h3>
            <a href="@idWebAppRegisterUrl(getCheckoutRouteForProductFamily(Subscriptions))" class="button button--primary button--large">Digital Pack</a>
            <a href="@idWebAppRegisterUrl(getCheckoutRouteForProductFamily(Subscriptions))" class="button button--primary button--large">Everyday package</a>
            <a href="@idWebAppRegisterUrl(getCheckoutRouteForProductFamily(Subscriptions, forThisPlan = "everyday+"))" class="button button--primary button--large">Everyday+ package</a>
        </div>

        <hr/>

        <div class="actions">
            <h3>Subscribe as a <em>guest</em> user to:</h3>
            <dl>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions)" class="button button--primary button--large">Digital Pack</a>
            </dl>
            <dl>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions)" class="button button--primary button--large">Everyday package</a>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions, forThisPlan = "sixday")" class="button button--primary button--large">Sixday package</a>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions, forThisPlan = "weekend")" class="button button--primary button--large">Weekend package</a>
            </dl>
            <dl>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions, forThisPlan = "everyday+")" class="button button--primary button--large">Everyday+ package</a>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions, forThisPlan = "sixday+")" class="button button--primary button--large">Sixday+ package</a>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions, forThisPlan = "weekend+")" class="button button--primary button--large">Weekend+ package</a>
                <a href="@getCheckoutRouteForProductFamily(Subscriptions, forThisPlan = "sunday+")" class="button button--primary button--large">Sunday+ package</a>
            </dl>
        </div>

        <hr/>

    </main>
}
