/* ==========================================================================
   Icons
   ========================================================================== */

.icon {
   width: 16px;
   height: 16px;
   display: inline-block;
   vertical-align: middle;
   fill: currentColor;
}
.icon--small {
   width: 13px;
   height: 13px;
}
.icon--medium {
   width: 28px;
   height: 28px;
}
.icon--large {
   width: 36px;
   height: 36px;
}
.icon--promo {
    color: rgb(150,217,242);
    height: 70px;
    width: 83px;
}

/* Icon Holder
   ========================================================================== */

.icon-holder {
    display: inline-block;
    vertical-align: middle;
    padding: 0; margin: 0;
    width: 26px; height: 26px;
    background-color: transparent;
    border-radius: 1000px;
    border: 1px solid $c-brand;
    color: $c-brand;

    .icon {
        @include vertically-offset();
        position: relative;
        width: 16px; height: 16px;
    }
}
.icon-holder--large {
    width: 36px;
    height: 36px;

    .icon {
        width: 20px;
        height: 20px;
    }
}
.icon-holder--small {
    width: 20px;
    height: 20px;

    .icon {
        width: 12px;
        height: 12px;
    }
}
.icon-holder--reversed {
    color: $c-white;
    border-color: $c-white;
}

.icon--top {
    vertical-align: top;
}
.icon--bottom {
    vertical-align: bottom;
}

.icon-arrow-up {
    background-image: url(/assets/images/icons/icon-arrow-up.png);
    background-position: center 10px;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    border-radius: 34px;
    display: inline-block;
    height: 34px;
    width: 34px;
    margin: $gs-baseline/2 $gs-gutter/2 $gs-baseline/2 0;
    vertical-align: middle;
}

.icon-arrow-white {
    background-image: url(/assets/images/icons/icon-arrow-white.png);
    background-repeat: no-repeat;
    content: '';
    float: right;
    height: 18px;
    margin: 8px 0 0 $gs-gutter;
    width: 20px;
}

.icon-arrow-blue {
    @extend .icon-arrow-white;
    background-image: url(/assets/images/icons/icon-arrow-blue.png);
}

.icon-arrow-right {
    @extend .icon-arrow-white;
    background-image: url(/assets/images/icons/icon-arrow-right.png);
    height: 20px;
}
