/* ==========================================================================
   Objects: Lists
   ========================================================================== */

.o-inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.o-inline-list__item {
    display: inline-block;
    margin-left: $gs-gutter / 2;
    position: relative;

    &:first-child {
        margin-left: 0;
    }
}

.numbered {
    display: table;
    width: 100%;
}
.numbered__bullet,
.numbered__body {
    display: table-cell;
    vertical-align: top;
    text-align: left;
}
.numbered__bullet {
    @include fs-header(2);
    width: $gs-gutter;
    padding-right: $gs-baseline / 2;
}
.numbered__body {
    @include fs-headline(2);
}
